@import "../variables";
@import "../admin";



.head-content, .box, .tabs-wrapper{
  box-shadow: none;
  border: 1px #e2e4e6 solid;
}

div.head-content {
  border-bottom: none;
  padding-bottom: 0;
}

.dashboard-widgets {
  .small-widgets {
    border: 1px #e2e4e6 solid;
    box-shadow: none;
  }
}

#user-profile-input:checked ~ .navbar #user-profile-label {
  background: transparent !important;
}

#notifications-input:checked ~ .navbar #notifications-label {
  background: transparent !important;
}

.navbar{
  box-shadow: none;

  .navbar-logo {
    background: -webkit-linear-gradient(-3deg, #6f68f9 0%, #00deff 100%);
    background: -moz-linear-gradient(-3deg, #6f68f9 0%, #00deff 100%);
    background: -o-linear-gradient(-3deg, #6f68f9 0%, #00deff 100%);
    background: -ms-linear-gradient(-3deg, #6f68f9 0%, #00deff 100%);
    background: linear-gradient(93deg, #6f68f9 0%, #00deff 100%);
  }

  .navbar-item-label:hover {
    background: transparent;
    color: @color-primary;
  }
}
.navbar-container{
  border-bottom: 1px #e2e4e6 solid;
}
#header-for-nonvisible {
  color: #537ca5;
}


@back-color: #dbe0e9;
//@color-border: transparent;

@color-primary:   #17bdff;//#00879c;
@color-secondary: #2d323e;
@color-tertiary:  #1ABB9C;

@global-header-color: #2d323e; /*#73879C;*/

@sidebar-back-color: #2d323e;

@sidebar-font-color: #adadad;
@sidebar-font-color-active: #fff;
@sidebar-back-active: transparent;
@sidebar-font-color-active: #fff;
@sidebar-drop-border-bottom-color: darken(#334d65, 1%);

@sidebar-hover-color: @sidebar-font-color-active;
@sidebar-hover-back-color: #282c37;

@sidebar-drop-font-color-active: #fff;
@sidebar-drop-back-color-active: darken(#334d65, 10%);

.sidebar li a, .sidebar li div{
  text-transform: none !important;
  padding-left: 0 !important;
  font-weight: 300;
}


/* Some stuff for advanced search which using extern css file*/
//importants using bcs this styles are form js part
.small-widget .content .row div{
  background: #1ABB9C !important;
}

.query-builder .rules-group-container{
  border-color: @color-secondary !important;
  background: #c4d5e6 !important;
}

.group-conditions .btn.active{
  background: @color-primary !important;
}

.query-builder input.form-control:focus{
  border-color: @color-primary !important;
}

div.notifications {
  right: 183px;
}

.tags {
  .Enabled {
    background: @color-primary !important;
  }

  .Pending {
    background: #62c500 !important;
    color: #fff;
  }

  .Disabled {
    background: #d2d7e3 !important;
  }
}

