@import "../variables";
@import "../admin";



.head-content, .box, .tabs-wrapper{
  box-shadow: none;
  border: 1px #e2e4e6 solid;
}

.navbar{
  box-shadow: none;
}
.navbar-container{
  // Following property caused some visual glitches
  // (under the notification bell and the user profile drop-down)
  //border-bottom: 1px #e2e4e6 solid;
}
#header-for-nonvisible {
  color: #537ca5;
}


@back-color: #dbe0e9;
@color-border: transparent;

@color-primary:   #17bdff;//#00879c;
@color-secondary: #2d323e;
@color-tertiary:  #1ABB9C;

@global-header-color: #73879C;

@sidebar-back-color: #2d323e;

@sidebar-width: 240px;
@sidebar-font-color: #adadad;
@sidebar-font-color-active: #fff;
@sidebar-back-active: transparent;
@sidebar-font-color-active: #fff;
@sidebar-drop-border-bottom-color: darken(#334d65, 1%);

@sidebar-hover-color: @sidebar-font-color-active;
@sidebar-hover-back-color: #282c37;

@sidebar-drop-font-color-active: #fff;
@sidebar-drop-back-color-active: darken(#334d65, 10%);

.sidebar li a, .sidebar li div{
  text-transform: none !important;
  padding-left: 0 !important;
  font-weight: 300;
}


/* Some stuff for advanced search which using extern css file*/
//importants using bcs this styles are form js part
.small-widget .content .row div{
  background: #1ABB9C !important;
}

.query-builder .rules-group-container{
  border-color: @color-secondary !important;
  background: #c4d5e6 !important;
}

.group-conditions .btn.active{
  background: @color-primary !important;
}

.query-builder input.form-control:focus{
  border-color: @color-primary !important;
}

div.notifications {
  right: 246px;
}
