/.idea/
/vendor/
/app/cache

# Assets and user uploads
/web/bundles/
/web/uploads/

# Build data
/build/
/htdocs/vendor
/htdocs/app/cache
/htdocs/app/logs

# Composer PHAR
/composer.phar

# Created by .ignore support plugin (hsz.mobi)
