/*Because I need inputs in harmonica viz /admin/settings/*/
.harmonica .show-harmonica input[type="text"],
.harmonica .show-harmonica input[type="datetime"],
.harmonica .show-harmonica input[type="text"],
.harmonica .show-harmonica input[type="button"],
.harmonica .show-harmonica input[type="email"],
.harmonica .show-harmonica input[type="file"],
.harmonica .show-harmonica input[type="number"],
.harmonica .show-harmonica input[type="email"],
.harmonica .show-harmonica input[type="file"],
.harmonica .show-harmonica input[type="url"] {
    display: block;
}


.harmonica .main-panel label:hover {
    cursor: pointer;
}
.harmonica label:not[for^="harmonica"]:hover {
    cursor: default;
}

.tabs-wrapper label:not[for^="tab"]{
    cursor: default;
}

/** new file **/
.icon-example li {
    margin-bottom: 8px;
}

.icon-example span {
    width: 200px;
    margin-right: 10px;
    display: inline-block;
}

/** newsletter **/

#filter-list-rules .collection-child {
    margin-bottom: 20px;
}

#filter-list-rules .collection-add {
    text-align: center !important;
}

#filter-list-rules .collection-widget {
    padding: 15px !important;
    border: 1px solid #ccc;
}

/* search text */
.search-text {
    font-weight: 400;
    text-transform: uppercase;
}

.none-margin {
    margin: 0 !important;
}


button:disabled, a:disabled{
    cursor: not-allowed !important;
    background: #6b6460 !important;
}

.header-actions{
    float: right;
    font-size: 13px;
}

.sidebar .trinity{
    width: 18px;
}
