{% extends "@HtDocAdmin/doc_layout.html.twig" %}


{% block navbar_project_name %}
    Hot at home
{% endblock %}


{% block navbar_title %}
   <i class="mdi mdi-view-dashboard"></i> Basic Css theme
{% endblock %}


{% block navbar_actions %}
    <input type="checkbox" id="modal-01" hidden class="modal-input">
    <label for="modal-01" class="navbar-search"><i class="mdi mdi-magnify"></i></label>
    <div class="modal-wrapper search-modal">
        <label for="modal-01-disabled" class="modal-close-full-width"></label>

        <label for="modal-01" class="modal-close-button button button-close">
            <i class="mdi mdi-close-circle"></i> <span>Close</span>
        </label>
        <div class="modal-content">
            <div class="row search-box">
                <div class="grid medium-14">
                    <i class="mdi mdi-magnify search-icon"></i>
                    <input class="search-input" type="text" placeholder="Type your text here...">
                    <div class="separator"></div>
                </div>
                <div class="grid medium-6">
                    <label class="search-select-wrapper" for="search-select">
                        <select name="search-select" id="search-select" class="search-select">
                            <option value="newsletter">Newsletter</option>
                        </select>
                    </label>
                </div>
                <div class="grid medium-4">
                    <a href="#" class="button button-necktie pull-right">Search</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-buttons pull-right">
        <a href="#" class="button button-secondary">Necktie</a>
    </div>
{% endblock %}


{% block form %} {% endblock %}


{% block page_body %}

    <div class="box">
        <h3 class="box-header">
            h3.box-header
        </h3>
        <div class="box-body">
            <p>
                .box
            </p>

            <form action="#" class="form">
                <div class="row">
                    <div class="grid xlarge-12 large-8 medium-4 small-8 mini-24">
                        <div class="form-row left">
                            <label for="a1">Label</label>
                            <input name="a1" id="a1" type="text" placeholder="Placeholder">
                        </div>
                    </div>
                    <div class="grid xlarge-12 large-8 medium-4 small-8 mini-24">
                        <div class="form-row right">
                            <label for="a1" class="tooltip">Label
                            </label>
                            <div class="tooltip-wrapper">
                                <i class="mdi mdi-information tooltip-icon"></i>
                                <div class="tooltip">
                                    This is some information for our tooltip.
                                </div>
                            </div>

                            <input name="a1" id="a1" type="text" placeholder="Placeholder">
                            <div class="error-message">Error Message</div>
                        </div>
                    </div>
                    <div class="grid xlarge-12 large-8 medium-4 small-8 mini-24">
                        <div class="form-row left">
                            <label for="a1">Label <a href="#">This is link</a></label>
                            <div class="input-with-action">
                                <input name="a1" id="a1" type="text" placeholder="Placeholder">
                                <a class="action" href="#">action</a>
                            </div>
                        </div>
                    </div>
                    <div class="grid xlarge-12 large-8 medium-4 small-8 mini-24">
                        <div class="form-row right">
                            <label class="form-caption">Categories</label>
                            <div class="checkbox">
                                <input name="ac0" id="ac0" type="checkbox">
                                <label for="ac0">Category A</label>
                            </div>

                            <div class="checkbox">
                                <input name="ac" id="ac" type="checkbox">
                                <label for="ac">Category B</label>
                            </div>

                            <div class="checkbox">
                                <input name="ac1" id="ac1" type="checkbox">
                                <label for="ac1">Category C</label>
                            </div>
                        </div>
                    </div>

                    <div class="grid xlarge-12 large-8 medium-4 small-8 mini-24">
                        <div class="form-row left">
                            <label for="a1">Label</label>
                            <div class="select">
                                <select name="A" id="A">
                                    <option value="A">AAA</option>
                                    <option value="B">BBB</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="grid xlarge-12 large-8 medium-4 small-8 mini-24">
                        <div class="form-row left">
                            <label for="a1">Disabled selectbox</label>
                            <div class="select select-disabled">
                                <select name="A" id="A" disabled>
                                    <option value="A">AAA</option>
                                    <option value="B">BBB</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="grid xlarge-24">
                        <div class="form-row">
                            <label for="textarea">Label</label>
                            <textarea name="textarea" id="textarea" cols="30" rows="10"></textarea>
                        </div>
                    </div>


                    <div class="grid xlarge-10">
                        <div class="image">
                            <img src="/images/no-image.png" class="img-responsive">
                        </div>
                        <div class="upload-buttons-wrapper">
                            <div class="upload-buttons">
                                <a href="#" class="button button-line">Upload new</a>
                                <a href="#" class="button button-line button-circle button-delete"><i class="mdi mdi-delete"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="grid xlarge-24">
                        <div class="form-row">
                            <button type="submit" class="button button-success form-center">
                                .button.button-success
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="box">
        <h3 class="box-header">
            Add
        </h3>

        <div class="box-body">
            <p>body</p>
        </div>
    </div>

    <a class="button button-line button-medium">
        Add new
    </a>

    <div id="colors" class="box">
        <h3 class="box-header">
            h3.box-header

            <div class="box-header-actions">
                <a href="#" class="button button-primary-inverse">Delete</a>
                <a href="#" class="button button-primary-inverse">Action</a>
            </div>
        </h3>

        <div class="box-body">
            <p>
                .box-body
            </p>
            <div class="row" style="margin-top: 20px">
                <div class="grid medium-3 background background-green color color-white">
                    <p style="padding: 10px">.background.background-green</p>
                </div>

                <div class="grid medium-3 background background-red color color-white">
                    <p style="padding: 10px">.background.background-red</p>
                </div>

                <div class="grid medium-3 background background-primary color color-white">
                    <p style="padding: 10px">.background.background-primary</p>
                </div>

                <div class="grid medium-3 background background-blue color color-white">
                    <p style="padding: 10px">.background.background-blue</p>
                </div>

                <div class="grid medium-3 background background-purple color color-white">
                    <p style="padding: 10px">.background.background-purple</p>
                </div>

                <div class="grid medium-3 background background-necktie color color-white">
                    <p style="padding: 10px">.background.background-necktie</p>
                </div>
            </div>
        </div>

        <h3 class="box-title">
            h3.box-title
        </h3>

        <div class="box-body">
            <p>
                .box-body p <br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, culpa dolore ipsum molestiae neque
                pariatur quia quod. Ab beatae commodi doloribus nemo repudiandae sit veritatis! Amet blanditiis
                consequuntur illum mollitia.
            </p>
        </div>
    </div>

    <div class="margin-top-20"></div>

    <div class="box">
        <h3 class="box-header">
            Box
        </h3>

        <div class="box-body">
            <p>Text content.</p>

            <ul class="list">
                <li>
                    Line
                </li>
                <li>
                    Line
                </li>
            </ul>

            <ol class="list">
                <li>
                    Line
                </li>
                <li>
                    Line
                </li>
            </ol>

            <p>
                <strong> Lorem ipsum dolor sit amet</strong>, <em>consectetur adipiscing elit</em>. Vestibulum egestas
                neque quis neque auctor, eu varius urna vestibulum. Duis eleifend dapibus enim, a lobortis leo varius
                ut.
            </p>

        </div>

        <footer class="footer">
            <p>.footer p</p>
        </footer>
    </div>

    <div class="box">
        <h3 class="box-header">
            Tabs
        </h3>
        <div class="box-tabs-body">
            <div class="tabs-wrapper">
                <input type="radio" name="tab" id="tab1" class="tab-head" checked/>
                <label for="tab1">One</label>
                <input type="radio" name="tab" id="tab2" class="tab-head"/>
                <label for="tab2">Text - p tag</label>
                <input type="radio" name="tab" id="tab3" class="tab-head"/>
                <label for="tab3">Three</label>
                <input type="radio" name="tab" id="tab4" class="tab-head"/>
                <label for="tab4">Four</label>

                <div class="tab-body-wrapper">

                    <div id="tab-body-2" class="tab-body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra pretium semper.
                            Integer ultrices sapien sapien, ut lobortis urna imperdiet in. Aliquam pretium purus et
                            sapien iaculis, ut malesuada tellus vestibulum. Donec porta lacus id ipsum sodales, eget
                            volutpat orci eleifend. Praesent vehicula feugiat nibh sit amet auctor. Aenean pretium
                            molestie blandit. Maecenas cursus porttitor leo, vel cursus dolor faucibus quis. Praesent
                            porta congue enim, id sollicitudin metus porttitor et. Mauris sodales consequat arcu, sit
                            amet dignissim tortor feugiat ac. Duis tempus, lorem vehicula lobortis ornare, diam elit
                            accumsan justo, at dignissim tortor nibh eget risus. Quisque scelerisque sapien ac odio
                            bibendum condimentum. Vestibulum imperdiet enim eu dolor posuere, sed scelerisque enim
                            sodales. Maecenas aliquet arcu nisl, vel sagittis lorem finibus venenatis. Fusce non
                            elementum velit, ac consectetur nisi.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra pretium semper.
                            Integer ultrices sapien sapien, ut lobortis urna imperdiet in. Aliquam pretium purus et
                            sapien iaculis, ut malesuada tellus vestibulum. Donec porta lacus id ipsum sodales, eget
                            volutpat orci eleifend. Praesent vehicula feugiat nibh sit amet auctor. Aenean pretium
                            molestie blandit. Maecenas cursus porttitor leo, vel cursus dolor faucibus quis. Praesent
                            porta congue enim, id sollicitudin metus porttitor et. Mauris sodales consequat arcu, sit
                            amet dignissim tortor feugiat ac. Duis tempus, lorem vehicula lobortis ornare, diam elit
                            accumsan justo, at dignissim tortor nibh eget risus. Quisque scelerisque sapien ac odio
                            bibendum condimentum. Vestibulum imperdiet enim eu dolor posuere, sed scelerisque enim
                            sodales. Maecenas aliquet arcu nisl, vel sagittis lorem finibus venenatis. Fusce non
                            elementum velit, ac consectetur nisi.
                        </p>
                    </div>
                    <div id="tab-body-3" class="tab-body">
                        <div class="box-harmonica-body">
                            <div class="harmonica">
                                <input type="radio" id="harmonica-01" name="list1" checked/>
                                <div class="main-panel">
                                    <label class="first" for="harmonica-01">Harmonica - Text</label>
                                    <div class="show-harmonica">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra
                                            pretium semper. Integer ultrices sapien sapien, ut lobortis urna imperdiet
                                            in. Aliquam pretium purus et sapien iaculis, ut malesuada tellus vestibulum.
                                            Donec porta lacus id ipsum sodales, eget volutpat orci eleifend. Praesent
                                            vehicula feugiat nibh sit amet auctor. Aenean pretium molestie blandit.
                                            Maecenas cursus porttitor leo, vel cursus dolor faucibus quis. Praesent
                                            porta congue enim, id sollicitudin metus porttitor et. Mauris sodales
                                            consequat arcu, sit amet dignissim tortor feugiat ac. Duis tempus, lorem
                                            vehicula lobortis ornare, diam elit accumsan justo, at dignissim tortor nibh
                                            eget risus. Quisque scelerisque sapien ac odio bibendum condimentum.
                                            Vestibulum imperdiet enim eu dolor posuere, sed scelerisque enim sodales.
                                            Maecenas aliquet arcu nisl, vel sagittis lorem finibus venenatis. Fusce non
                                            elementum velit, ac consectetur nisi.
                                        </p>
                                        <p>
                                            Donec neque quam, maximus nec lobortis et, placerat et sapien. Fusce in
                                            dolor convallis, luctus quam vitae, mollis dui. Etiam tincidunt arcu augue.
                                            Quisque tincidunt arcu quis turpis commodo, nec fermentum odio iaculis. Nunc
                                            sodales auctor tempus. Morbi et mauris porta sapien hendrerit dapibus id id
                                            nunc. Aenean dignissim, orci sed pharetra blandit, ex justo lobortis justo,
                                            eget malesuada lorem nulla sed mi. Cras consectetur lacus augue, at
                                            tristique quam malesuada non. Nulla accumsan ultrices erat, a placerat est
                                            accumsan non. Morbi mauris lorem, molestie et pretium id, hendrerit eget
                                            eros. Nam nec commodo felis. Nulla malesuada quis ligula at malesuada.
                                            Praesent ac porta orci, in lobortis ex.
                                        </p>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra
                                            pretium semper. Integer ultrices sapien sapien, ut lobortis urna imperdiet
                                            in. Aliquam pretium purus et sapien iaculis, ut malesuada tellus vestibulum.
                                            Donec porta lacus id ipsum sodales, eget volutpat orci eleifend. Praesent
                                            vehicula feugiat nibh sit amet auctor. Aenean pretium molestie blandit.
                                            Maecenas cursus porttitor leo, vel cursus dolor faucibus quis. Praesent
                                            porta congue enim, id sollicitudin metus porttitor et. Mauris sodales
                                            consequat arcu, sit amet dignissim tortor feugiat ac. Duis tempus, lorem
                                            vehicula lobortis ornare, diam elit accumsan justo, at dignissim tortor nibh
                                            eget risus. Quisque scelerisque sapien ac odio bibendum condimentum.
                                            Vestibulum imperdiet enim eu dolor posuere, sed scelerisque enim sodales.
                                            Maecenas aliquet arcu nisl, vel sagittis lorem finibus venenatis. Fusce non
                                            elementum velit, ac consectetur nisi.
                                        </p>
                                        <p>
                                            Donec neque quam, maximus nec lobortis et, placerat et sapien. Fusce in
                                            dolor convallis, luctus quam vitae, mollis dui. Etiam tincidunt arcu augue.
                                            Quisque tincidunt arcu quis turpis commodo, nec fermentum odio iaculis. Nunc
                                            sodales auctor tempus. Morbi et mauris porta sapien hendrerit dapibus id id
                                            nunc. Aenean dignissim, orci sed pharetra blandit, ex justo lobortis justo,
                                            eget malesuada lorem nulla sed mi. Cras consectetur lacus augue, at
                                            tristique quam malesuada non. Nulla accumsan ultrices erat, a placerat est
                                            accumsan non. Morbi mauris lorem, molestie et pretium id, hendrerit eget
                                            eros. Nam nec commodo felis. Nulla malesuada quis ligula at malesuada.
                                            Praesent ac porta orci, in lobortis ex.
                                        </p>
                                    </div>
                                </div>

                                <input type="radio" id="harmonica-02" name="list1"/>
                                <div class="main-panel">
                                    <label class="first" for="harmonica-02">Harmonica - Form</label>
                                    <div class="show-harmonica">
                                        Form
                                    </div>
                                </div>

                                <input type="radio" id="harmonica-03" name="list1"/>
                                <div class="main-panel">
                                    <label for="harmonica-03">Harmonica 03</label>
                                    <div class="show-harmonica">
                                        ...03
                                    </div>
                                </div>

                                <input type="radio" id="harmonica-04" name="list1"/>
                                <div class="main-panel">
                                    <label for="harmonica-04">Harmonica 04</label>
                                    <div class="show-harmonica">
                                        ...04
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="tab-body-4" class="tab-body">
                        <p>... 04</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="margin-top-20"></div>

    {% embed "@TrinityAdmin/box.html.twig" with {'width': 'narrow'} %}
        {% block box_header %}
            Form
        {% endblock %}

        {% block box_body %}
            There should be some form
        {% endblock %}
    {% endembed %}

    <div class="margin-top-20"></div>

    <div class="box">

        <h3 class="box-header">
            Harmonica
        </h3>
        <br>
        <div class="box-harmonica-body">
            <div class="harmonica">
                <input type="radio" id="harmonica-011" name="list" checked/>
                <div class="main-panel">
                    <label for="harmonica-011">Harmonica - Text</label>
                    <div class="show-harmonica">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra pretium semper.
                            Integer ultrices sapien sapien, ut lobortis urna imperdiet in. Aliquam pretium purus et
                            sapien iaculis, ut malesuada tellus vestibulum. Donec porta lacus id ipsum sodales, eget
                            volutpat orci eleifend. Praesent vehicula feugiat nibh sit amet auctor. Aenean pretium
                            molestie blandit. Maecenas cursus porttitor leo, vel cursus dolor faucibus quis. Praesent
                            porta congue enim, id sollicitudin metus porttitor et. Mauris sodales consequat arcu, sit
                            amet dignissim tortor feugiat ac. Duis tempus, lorem vehicula lobortis ornare, diam elit
                            accumsan justo, at dignissim tortor nibh eget risus. Quisque scelerisque sapien ac odio
                            bibendum condimentum. Vestibulum imperdiet enim eu dolor posuere, sed scelerisque enim
                            sodales. Maecenas aliquet arcu nisl, vel sagittis lorem finibus venenatis. Fusce non
                            elementum velit, ac consectetur nisi.
                        </p>
                        <br>
                        <p>
                            Donec neque quam, maximus nec lobortis et, placerat et sapien. Fusce in dolor convallis,
                            luctus quam vitae, mollis dui. Etiam tincidunt arcu augue. Quisque tincidunt arcu quis
                            turpis commodo, nec fermentum odio iaculis. Nunc sodales auctor tempus. Morbi et mauris
                            porta sapien hendrerit dapibus id id nunc. Aenean dignissim, orci sed pharetra blandit, ex
                            justo lobortis justo, eget malesuada lorem nulla sed mi. Cras consectetur lacus augue, at
                            tristique quam malesuada non. Nulla accumsan ultrices erat, a placerat est accumsan non.
                            Morbi mauris lorem, molestie et pretium id, hendrerit eget eros. Nam nec commodo felis.
                            Nulla malesuada quis ligula at malesuada. Praesent ac porta orci, in lobortis ex.
                        </p>
                        <br>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra pretium semper.
                            Integer ultrices sapien sapien, ut lobortis urna imperdiet in. Aliquam pretium purus et
                            sapien iaculis, ut malesuada tellus vestibulum. Donec porta lacus id ipsum sodales, eget
                            volutpat orci eleifend. Praesent vehicula feugiat nibh sit amet auctor. Aenean pretium
                            molestie blandit. Maecenas cursus porttitor leo, vel cursus dolor faucibus quis. Praesent
                            porta congue enim, id sollicitudin metus porttitor et. Mauris sodales consequat arcu, sit
                            amet dignissim tortor feugiat ac. Duis tempus, lorem vehicula lobortis ornare, diam elit
                            accumsan justo, at dignissim tortor nibh eget risus. Quisque scelerisque sapien ac odio
                            bibendum condimentum. Vestibulum imperdiet enim eu dolor posuere, sed scelerisque enim
                            sodales. Maecenas aliquet arcu nisl, vel sagittis lorem finibus venenatis. Fusce non
                            elementum velit, ac consectetur nisi.
                        </p>
                        <br>
                        <p>
                            Donec neque quam, maximus nec lobortis et, placerat et sapien. Fusce in dolor convallis,
                            luctus quam vitae, mollis dui. Etiam tincidunt arcu augue. Quisque tincidunt arcu quis
                            turpis commodo, nec fermentum odio iaculis. Nunc sodales auctor tempus. Morbi et mauris
                            porta sapien hendrerit dapibus id id nunc. Aenean dignissim, orci sed pharetra blandit, ex
                            justo lobortis justo, eget malesuada lorem nulla sed mi. Cras consectetur lacus augue, at
                            tristique quam malesuada non. Nulla accumsan ultrices erat, a placerat est accumsan non.
                            Morbi mauris lorem, molestie et pretium id, hendrerit eget eros. Nam nec commodo felis.
                            Nulla malesuada quis ligula at malesuada. Praesent ac porta orci, in lobortis ex.
                        </p>
                        <br>
                    </div>
                </div>

                <input type="radio" id="harmonica-031" name="list"/>
                <div class="main-panel">
                    <label for="harmonica-031">Harmonica 03</label>
                    <div class="show-harmonica">
                        ...03
                    </div>
                </div>

                <input type="radio" id="harmonica-041" name="list"/>
                <div class="main-panel">
                    <label for="harmonica-041">Harmonica 04</label>
                    <div class="show-harmonica">
                        ...04
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="margin-top-20"></div>

    <div class="box">

        <h3 class="box-header">
            Buttons
        </h3>

        <div class="box-body">
            <form action="">
                <div class="row">
                    <div class="large-24">
                        <a href="#" class="button button-primary">Primary</a>
                        <a href="#" class="button button-secondary">Secondary</a>
                        <a href="#" class="button button-tertiary"> Tertiary </a>
                        <a href="#" class="button button-necktie">Necktie</a>
                        <a href="#" class="button button-line">Line</a>
                        <a href="#" class="button button-primary button-disabled">Disabled</a>
                    </div>


                    <div class="large-24">
                        <button class="button button-success">success</button>
                        <button class="button button-danger">warning/danger</button>
                        <button class="button button-danger button-remove">.button-remove</button>
                        <button class="button button-success button-loading" disabled>loading</button>
                        <button class="button button-success button-error" disabled>error</button>
                    </div>

                    <div class="large-24">
                        <input type="submit" class="button button-secondary button-medium" value="button-medium">
                        <input type="submit" class="button button-secondary button-small" value="button-small">
                        <input type="submit" class="button button-medium button-success" value="button-medium.button-success">
                    </div>

                    <div class="large-24" style="background: #515974; border-radius: 10px; padding: 10px; margin-top: 20px;">
                        <a href="#" class="button button-line-inverse">Line inverse</a>
                        <a href="#" class="button button-line-inverse button-disabled">disabled</a>
                        <a href="#" class="button button-line-inverse button-loading">loading</a>
                        <a href="#" class="button button-line-inverse button-loading button-disabled">loading and disabled</a>
                        <a href="#" class="button button-line-inverse button-error">error</a>
                        <a href="#" class="button button-line-inverse button-error button-disabled">error and disabled</a>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div class="margin-top-20"></div>

    <div class="box">

        <h3 class="box-header">
            Background color
        </h3>

        <div class="box-body">

            <ul>
                <li class="info">info</li>
                <li class="warning">warning</li>
                <li class="danger">danger</li>
                <li class="primary color-secondary">primary</li>
                <li class="secondary" style="color: #fff;">secondary</li>
                <li class="tertiary">tertiary</li>
            </ul>

        </div>

        <h3 class="box-title">
            Font color
        </h3>

        <div class="box-body">

            <ul>
                <li class="color-info">color-info</li>
                <li class="color-warning">color-warning</li>
                <li class="color-danger">color-danger</li>
                <li class="color-primary">color-primary</li>
                <li class="color-secondary">color-secondary</li>
                <li class="color-tertiary">color-tertiary</li>
            </ul>

        </div>

    </div>

    <div class="margin-top-20"></div>

    <div class="box">

        <h3 class="box-header">
            Grid
        </h3>
        <br>
        <div class="box-body item-menu">
            <div class="dropdown-main item-menu-button">
                <input type="checkbox" id="show-drop1" role="button" name="show-drop" class="show-drop">
                <label for="show-drop1" class="label-dropdown">
                    <i class="mdi mdi-menu font-20"></i>
                </label>
                <ul class="dropdown-item ul-list">
                    <li><a href="#">Delete relation</a></li>
                    <li><a href="#">Another action</a></li>
                </ul>
            </div>
            <br>
            <br>
            <div class="dropdown-main item-menu-button">
                <input type="checkbox" id="show-drop2" role="button" name="show-drop" class="show-drop">
                <label for="show-drop2" class="label-dropdown">
                    <i class="mdi mdi-menu font-20"></i>
                </label>
                <ul class="dropdown-item ul-list">
                    <li><a href="#">Delete relation</a></li>
                    <li><a href="#">Another action</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="box">
        <h3 class="box-header">
            Pagination
        </h3>
        <br>
        <div class="box-body">
            <div class="table-pagination">
                <div class="pagination-items">
                    <ul>
                        <li class="active">1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                    </ul>
                    <a href="#" class="chevron-next"></a>
                    <a href="#" class="chevron-prev"></a>
                </div>
            </div>
        </div>

    </div>

    <div class="box">
        <table class="data-grid">
            <thead>
            <tr>
                <th class="grid-checkbox"><input type="checkbox" id="8-select-all" class="display-none"
                                                 value="on"><label
                            for="8-select-all"><span></span></label></th>
                <th class="order-by">#</th>
                <th class="order-by order-by-desc">Name</th>
                <th class="">Projects</th>
                <th class="small-hidden order-by">Updated At</th>
                <th class="">
                    <div class="item-menu">
                        <div class="dropdown-main item-menu-button">
                            <input type="checkbox" id="show-drop1" role="button" name="show-drop" class="show-drop">
                            <label for="show-drop1" class="label-dropdown">
                                <i class="mdi mdi-menu font-20"></i>
                            </label>
                            <ul class="dropdown-item ul-list">
                                <li>
                                    <a href="/app_dev.php/admin/product/1/billing-plan/1#danger">
                                        Delete plan
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="">
                <td class="grid-checkbox">
                    <div class="text-center"><input type="checkbox" id="7" class="display-none"
                                                    value="on"><label for="7"><span></span></label>
                    </div>
                </td>
                <td class=""><a title="Go to Built your own website"
                                href="/app_dev.php/admin/product/7">
                        7
                    </a></td>
                <td class=""><a title="Go to Built your own website"
                                href="/app_dev.php/admin/product/7">
                        Built your own website
                    </a></td>
                <td class="">
                    <ul class="product-clients xlarge-24 small-18"
                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; clear: none;">

                        <li style="display: inline; margin-right: 0.25em;">
                            <i title="This element is not synchronized with this client."
                               class="trinity-warning"></i>

                            <a title="Go to Client ClickAndCoach"
                               href="/app_dev.php/admin/project/1/client/1" style="color: ">
                                ClickAndCoach</a></li>
                    </ul>
                </td>
                <td class="small-hidden">2015-07-30 15:19:13</td>
                <td class="">
                    <div class="item-menu">
                        <div class="dropdown-main item-menu-button">
                            <input type="checkbox" id="show-drop1" role="button" name="show-drop" class="show-drop">
                            <label for="show-drop1" class="label-dropdown">
                                <i class="mdi mdi-menu font-20"></i>
                            </label>
                            <ul class="dropdown-item ul-list">
                                <li>
                                    <a href="/app_dev.php/admin/product/1/billing-plan/1#danger">
                                        Delete plan
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a title="Go to Built your own website" href="/app_dev.php/admin/product/7"
                                class="button-small button-get-details">
                        Get Details
                    </a>
                </td>
            </tr>
            <tr class="">
                <td class="grid-checkbox">
                    <div class="text-center"><input type="checkbox" id="1" class="display-none"
                                                    value="on"><label for="1"><span></span></label>
                    </div>
                </td>
                <td class=""><a title="Go to GoDaddy" href="/app_dev.php/admin/product/1">
                        1
                    </a></td>
                <td class=""><a title="Go to GoDaddy" href="/app_dev.php/admin/product/1">
                        GoDaddy
                    </a></td>
                <td class="">
                    <ul class="product-clients xlarge-24 small-18"
                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; clear: none;">

                        <li style="display: inline; margin-right: 0.25em;">
                            <i title="This element is not synchronized with this client."
                               class="trinity-warning"></i>

                            <a title="Go to Client HotAtHome"
                               href="/app_dev.php/admin/project/2/client/2" style="color: ">
                                HotAtHome</a>,
                        </li>
                        <li style="display: inline; margin-right: 0.25em;">
                            <i title="This element is not synchronized with this client."
                               class="trinity-warning"></i>

                            <a title="Go to Client ClickAndCoach"
                               href="/app_dev.php/admin/project/1/client/1" style="color: ">
                                ClickAndCoach</a></li>
                    </ul>

                    <p class="xlarge-hidden" title="HotAtHome,ClickAndCoach">, (2)
                    </p></td>
                <td class="small-hidden">2015-07-30 15:15:00</td>
                <td class="">
                    <div class="item-menu">
                        <div class="dropdown-main item-menu-button">
                            <input type="checkbox" id="show-drop1" role="button" name="show-drop" class="show-drop">
                            <label for="show-drop1" class="label-dropdown">
                                <i class="mdi mdi-menu font-20"></i>
                            </label>
                            <ul class="dropdown-item ul-list">
                                <li>
                                    <a href="/app_dev.php/admin/product/1/billing-plan/1#danger">
                                        Delete plan
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a title="Go to GoDaddy" href="/app_dev.php/admin/product/1"
                                class="button-small button-get-details">
                        Get Details
                    </a></td>
            </tr>
            <tr class="">
                <td class="grid-checkbox">
                    <div class="text-center">
                        <input type="checkbox" id="2" class="display-none" value="on"><label for="2"><span></span></label>
                    </div>
                </td>
                <td class=""><a title="Go to Mailchimp" href="/app_dev.php/admin/product/2">
                        2
                    </a></td>
                <td class=""><a title="Go to Mailchimp" href="/app_dev.php/admin/product/2">
                        Mailchimp
                    </a></td>
                <td class="">
                    <ul class="product-clients xlarge-24 small-18"
                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; clear: none;">

                        <li style="display: inline; margin-right: 0.25em;">
                            <i title="This element is not synchronized with this client."
                               class="trinity-warning"></i>

                            <a title="Go to Client HotAtHome"
                               href="/app_dev.php/admin/project/2/client/2" style="color: ">
                                HotAtHome</a>,
                        </li>
                        <li style="display: inline; margin-right: 0.25em;">
                            <i title="This element is not synchronized with this client."
                               class="trinity-warning"></i>

                            <a title="Go to Client ClickAndCoach"
                               href="/app_dev.php/admin/project/1/client/1" style="color: ">
                                ClickAndCoach</a></li>
                    </ul>

                    <p class="xlarge-hidden" title="HotAtHome,ClickAndCoach">, (2)
                    </p></td>
                <td class="small-hidden">2015-07-30 15:16:40</td>
                <td class="">
                    <div class="item-menu">
                        <div class="dropdown-main item-menu-button">
                            <input type="checkbox" id="show-drop1" role="button" name="show-drop" class="show-drop">
                            <label for="show-drop1" class="label-dropdown">
                                <i class="mdi mdi-menu font-20"></i>
                            </label>
                            <ul class="dropdown-item ul-list">
                                <li>
                                    <a href="/app_dev.php/admin/product/1/billing-plan/1#danger">
                                        Delete plan
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a title="Go to Mailchimp" href="/app_dev.php/admin/product/2"
                                class="button-small button-get-details">
                        Get Details
                    </a></td>
            </tr>
            <tr class="">
                <td class="grid-checkbox">
                    <div class="text-center"><input type="checkbox" id="3" class="display-none"
                                                    value="on"><label for="3"><span></span></label>
                    </div>
                </td>
                <td class=""><a title="Go to Optimize Press" href="/app_dev.php/admin/product/3">
                        3
                    </a></td>
                <td class=""><a title="Go to Optimize Press" href="/app_dev.php/admin/product/3">
                        Optimize Press
                    </a></td>
                <td class="">
                    <ul class="product-clients xlarge-24 small-18"
                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; clear: none;">

                        <li style="display: inline; margin-right: 0.25em;">
                            <i title="This element is not synchronized with this client."
                               class="trinity-warning"></i>

                            <a title="Go to Client HotAtHome"
                               href="/app_dev.php/admin/project/2/client/2" style="color: ">
                                HotAtHome</a>,
                        </li>
                        <li style="display: inline; margin-right: 0.25em;">
                            <i title="This element is not synchronized with this client."
                               class="trinity-warning"></i>

                            <a title="Go to Client ClickAndCoach"
                               href="/app_dev.php/admin/project/1/client/1" style="color: ">
                                ClickAndCoach</a></li>
                    </ul>

                    <p class="xlarge-hidden" title="HotAtHome,ClickAndCoach">, (2)
                    </p></td>
                <td class="small-hidden">2015-07-30 15:17:14</td>
                <td class="">
                    <div class="item-menu">
                        <div class="dropdown-main item-menu-button">
                            <input type="checkbox" id="show-drop1" role="button" name="show-drop" class="show-drop">
                            <label for="show-drop1" class="label-dropdown">
                                <i class="mdi mdi-menu font-20"></i>
                            </label>
                            <ul class="dropdown-item ul-list">
                                <li>
                                    <a href="/app_dev.php/admin/product/1/billing-plan/1#danger">
                                        Delete plan
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a title="Go to Optimize Press" href="/app_dev.php/admin/product/3"
                                class="button-small button-get-details">
                        Get Details
                    </a></td>
            </tr>
            <tr class="">
                <td class="grid-checkbox">
                    <div class="text-center"><input type="checkbox" id="4" class="display-none"
                                                    value="on"><label for="4"><span></span></label>
                    </div>
                </td>
                <td class=""><a title="Go to Premise" href="/app_dev.php/admin/product/4">
                        4
                    </a></td>
                <td class=""><a title="Go to Premise" href="/app_dev.php/admin/product/4">
                        Premise
                    </a></td>
                <td class="">
                    <ul class="product-clients xlarge-24 small-18"
                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; clear: none;">

                        <li style="display: inline; margin-right: 0.25em;">
                            <i title="This element is not synchronized with this client."
                               class="trinity-warning"></i>

                            <a title="Go to Client HotAtHome"
                               href="/app_dev.php/admin/project/2/client/2" style="color: ">
                                HotAtHome</a>,
                        </li>
                        <li style="display: inline; margin-right: 0.25em;">
                            <i title="This element is not synchronized with this client."
                               class="trinity-warning"></i>

                            <a title="Go to Client ClickAndCoach"
                               href="/app_dev.php/admin/project/1/client/1" style="color: ">
                                ClickAndCoach</a></li>
                    </ul>

                    <p class="xlarge-hidden" title="HotAtHome,ClickAndCoach">, (2)
                    </p></td>
                <td class="small-hidden">2015-07-30 15:17:41</td>
                <td class="">
                    <div class="item-menu">
                        <div class="dropdown-main item-menu-button">
                            <input type="checkbox" id="show-drop1" role="button" name="show-drop" class="show-drop">
                            <label for="show-drop1" class="label-dropdown">
                                <i class="mdi mdi-menu font-20"></i>
                            </label>
                            <ul class="dropdown-item ul-list">
                                <li>
                                    <a href="/app_dev.php/admin/product/1/billing-plan/1#danger">
                                        Delete plan
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a title="Go to Premise" href="/app_dev.php/admin/product/4"
                                class="button-small button-get-details">
                        Get Details
                    </a></td>
            </tr>
            <tr class="">
                <td class="grid-checkbox">
                    <div class="text-center"><input type="checkbox" id="8" class="display-none"
                                                    value="on"><label for="8"><span></span></label>
                    </div>
                </td>
                <td class=""><a title="Go to Premium Membership" href="/app_dev.php/admin/product/8">
                        8
                    </a></td>
                <td class=""><a title="Go to Premium Membership" href="/app_dev.php/admin/product/8">
                        Premium Membership
                    </a></td>
                <td class="">
                    <ul class="product-clients xlarge-24 small-18"
                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; clear: none;">

                        <li style="display: inline; margin-right: 0.25em;">
                            <i title="This element is not synchronized with this client."
                               class="trinity-warning"></i>

                            <a title="Go to Client ClickAndCoach"
                               href="/app_dev.php/admin/project/1/client/1" style="color: ">
                                ClickAndCoach</a></li>
                    </ul>
                </td>
                <td class="small-hidden">2015-07-30 15:20:30</td>
                <td class="">
                    <div class="item-menu">
                        <div class="dropdown-main item-menu-button">
                            <input type="checkbox" id="show-drop1" role="button" name="show-drop" class="show-drop">
                            <label for="show-drop1" class="label-dropdown">
                                <i class="mdi mdi-menu font-20"></i>
                            </label>
                            <ul class="dropdown-item ul-list">
                                <li>
                                    <a href="/app_dev.php/admin/product/1/billing-plan/1#danger">
                                        Delete plan
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a title="Go to Premium Membership" href="/app_dev.php/admin/product/8"
                                class="button-small button-get-details">
                        Get Details
                    </a></td>
            </tr>
            <tr class="">
                <td class="grid-checkbox">
                    <div class="text-center"><input type="checkbox" id="9" class="display-none"
                                                    value="on"><label for="9"><span></span></label>
                    </div>
                </td>
                <td class=""><a title="Go to Reccuring short 1" href="/app_dev.php/admin/product/9">
                        9
                    </a></td>
                <td class=""><a title="Go to Reccuring short 1" href="/app_dev.php/admin/product/9">
                        Reccuring short 1
                    </a></td>
                <td class="">
                    <ul class="product-clients xlarge-24 small-18"
                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; clear: none;">

                        <li style="display: inline; margin-right: 0.25em;">
                            <i title="This element is not synchronized with this client."
                               class="trinity-warning"></i>

                            <a title="Go to Client ClickAndCoach"
                               href="/app_dev.php/admin/project/1/client/1" style="color: ">
                                ClickAndCoach</a></li>
                    </ul>
                </td>
                <td class="small-hidden">2015-07-30 15:39:39</td>
                <td class="">
                    <div class="item-menu">
                        <div class="dropdown-main item-menu-button">
                            <input type="checkbox" id="show-drop1" role="button" name="show-drop" class="show-drop">
                            <label for="show-drop1" class="label-dropdown">
                                <i class="mdi mdi-menu font-20"></i>
                            </label>
                            <ul class="dropdown-item ul-list">
                                <li>
                                    <a href="/app_dev.php/admin/product/1/billing-plan/1#danger">
                                        Delete plan
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a title="Go to Reccuring short 1" href="/app_dev.php/admin/product/9"
                                class="button-small button-get-details">
                        Get Details
                    </a></td>
            </tr>
            <tr class="">
                <td class="grid-checkbox">
                    <div class="text-center"><input type="checkbox" id="10" class="display-none"
                                                    value="on"><label for="10"><span></span></label>
                    </div>
                </td>
                <td class=""><a title="Go to RecurringTrialMonthly"
                                href="/app_dev.php/admin/product/10">
                        10
                    </a></td>
                <td class=""><a title="Go to RecurringTrialMonthly"
                                href="/app_dev.php/admin/product/10">
                        RecurringTrialMonthly
                    </a></td>
                <td class="">
                    <ul class="product-clients xlarge-24 small-18"
                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; clear: none;">

                        <li style="display: inline; margin-right: 0.25em;">
                            <i title="This element is not synchronized with this client."
                               class="trinity-warning"></i>

                            <a title="Go to Client ClickAndCoach"
                               href="/app_dev.php/admin/project/1/client/1" style="color: ">
                                ClickAndCoach</a></li>
                    </ul>
                </td>
                <td class="small-hidden">2015-07-30 15:40:30</td>
                <td class="">
                    <div class="item-menu">
                        <div class="dropdown-main item-menu-button">
                            <input type="checkbox" id="show-drop1" role="button" name="show-drop" class="show-drop">
                            <label for="show-drop1" class="label-dropdown">
                                <i class="mdi mdi-menu font-20"></i>
                            </label>
                            <ul class="dropdown-item ul-list">
                                <li>
                                    <a href="/app_dev.php/admin/product/1/billing-plan/1#danger">
                                        Delete plan
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a title="Go to RecurringTrialMonthly" href="/app_dev.php/admin/product/10"
                                class="button-small button-get-details">
                        Get Details
                    </a></td>
            </tr>
            <tr class="">
                <td class="grid-checkbox">
                    <div class="text-center"><input type="checkbox" id="11" class="display-none"
                                                    value="on"><label for="11"><span></span></label>
                    </div>
                </td>
                <td class=""><a title="Go to RecurringTrialWeekly" href="/app_dev.php/admin/product/11">
                        11
                    </a></td>
                <td class=""><a title="Go to RecurringTrialWeekly" href="/app_dev.php/admin/product/11">
                        RecurringTrialWeekly
                    </a></td>
                <td class="">
                    <ul class="product-clients xlarge-24 small-18"
                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; clear: none;">

                        <li style="display: inline; margin-right: 0.25em;">
                            <i title="This element is not synchronized with this client."
                               class="trinity-warning"></i>

                            <a title="Go to Client ClickAndCoach"
                               href="/app_dev.php/admin/project/1/client/1" style="color: ">
                                ClickAndCoach</a></li>
                    </ul>
                </td>
                <td class="small-hidden">2015-07-30 15:42:17</td>
                <td class="">
                    <div class="item-menu">
                        <div class="dropdown-main item-menu-button">
                            <input type="checkbox" id="show-drop1" role="button" name="show-drop" class="show-drop">
                            <label for="show-drop1" class="label-dropdown">
                                <i class="mdi mdi-menu font-20"></i>
                            </label>
                            <ul class="dropdown-item ul-list">
                                <li>
                                    <a href="/app_dev.php/admin/product/1/billing-plan/1#danger">
                                        Delete plan
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a title="Go to RecurringTrialWeekly" href="/app_dev.php/admin/product/11"
                                class="button-small button-get-details">
                        Get Details
                    </a></td>
            </tr>
            <tr class="">
                <td class="grid-checkbox">
                    <div class="text-center"><input type="checkbox" id="5" class="display-none"
                                                    value="on"><label for="5"><span></span></label>
                    </div>
                </td>
                <td class=""><a title="Go to Synthesis" href="/app_dev.php/admin/product/5">
                        5
                    </a></td>
                <td class=""><a title="Go to Synthesis" href="/app_dev.php/admin/product/5">
                        Synthesis
                    </a></td>
                <td class="">
                    <ul class="product-clients xlarge-24 small-18"
                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; clear: none;">

                        <li style="display: inline; margin-right: 0.25em;">
                            <i title="This element is not synchronized with this client."
                               class="trinity-warning"></i>

                            <a title="Go to Client HotAtHome"
                               href="/app_dev.php/admin/project/2/client/2" style="color: ">
                                HotAtHome</a>,
                        </li>
                        <li style="display: inline; margin-right: 0.25em;">
                            <i title="This element is not synchronized with this client."
                               class="trinity-warning"></i>

                            <a title="Go to Client ClickAndCoach"
                               href="/app_dev.php/admin/project/1/client/1" style="color: ">
                                ClickAndCoach</a></li>
                    </ul>

                    <p class="xlarge-hidden" title="HotAtHome,ClickAndCoach">, (2)
                    </p></td>
                <td class="small-hidden">2015-07-30 15:18:08</td>
                <td class="">
                    <div class="item-menu">
                        <div class="dropdown-main item-menu-button">
                            <input type="checkbox" id="show-drop1" role="button" name="show-drop" class="show-drop">
                            <label for="show-drop1" class="label-dropdown">
                                <i class="mdi mdi-menu font-20"></i>
                            </label>
                            <ul class="dropdown-item ul-list">
                                <li>
                                    <a href="/app_dev.php/admin/product/1/billing-plan/1#danger">
                                        Delete plan
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a title="Go to Synthesis" href="/app_dev.php/admin/product/5"
                                class="button-small button-get-details">
                        Get Details
                    </a></td>
            </tr>
            <tr class="">
                <td class="grid-checkbox">
                    <div class="text-center"><input type="checkbox" id="6" class="display-none"
                                                    value="on"><label for="6"><span></span></label>
                    </div>
                </td>
                <td class=""><a title="Go to WordPress" href="/app_dev.php/admin/product/6">
                        6
                    </a></td>
                <td class=""><a title="Go to WordPress" href="/app_dev.php/admin/product/6">
                        WordPress
                    </a></td>
                <td class="">
                    <ul class="product-clients xlarge-24 small-18"
                        style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; clear: none;">

                        <li style="display: inline; margin-right: 0.25em;">
                            <i title="This element is not synchronized with this client."
                               class="trinity-warning"></i>

                            <a title="Go to Client ClickAndCoach"
                               href="/app_dev.php/admin/project/1/client/1" style="color: ">
                                ClickAndCoach</a></li>
                    </ul>
                </td>
                <td class="small-hidden">2015-07-30 15:18:39</td>
                <td class="">
                    <div class="item-menu">
                        <div class="dropdown-main item-menu-button">
                            <input type="checkbox" id="show-drop1" role="button" name="show-drop" class="show-drop">
                            <label for="show-drop1" class="label-dropdown">
                                <i class="mdi mdi-menu font-20"></i>
                            </label>
                            <ul class="dropdown-item ul-list">
                                <li>
                                    <a href="/app_dev.php/admin/product/1/billing-plan/1#danger">
                                        Delete plan
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a title="Go to WordPress" href="/app_dev.php/admin/product/6"
                                class="button-small button-get-details">
                        Get Details
                    </a></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}