{% block pageBody -%}
    {% if count >0 %}
        <div id="{{ name }}-grid" data-config="{{ gridConfiguration }}"></div>
    {% else %}
        <div class="row">
            <div class="xlarge-24 margin-auto">
                <div class="xlarge-10 margin-top-20">
                    <div class="info-empty-form">
                        <div class="row"><i class="trinity-info"></i></div>
                        <div class="row"><h2 class="warning">NO DATA</h2></div>
                        <div class="row xlarge-10">
                            <p>This log does not contain any data yet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}