{% if count >0 %}
    <div id="{{ name }}-grid" data-config="{{ gridConfiguration }}"></div>
{% else %}
    {% embed "@TrinityAdmin/box.html.twig" %}

        {% block box_header %}
        {% endblock %}

        {% block box_body -%}
            {% include "@TrinityAdmin/no-data.html.twig" %}
        {% endblock %}
    {% endembed %}
{% endif %}
