/**************************************

  Content wrappers
    - use box without tabs wrappers for box-shadow

**************************************/
@import "helper";

body.trinity-admin {

  .wrapper-grid, .box {

    position: relative;
    font-family: "Roboto", sans-serif;
    color: @global-font-color;
    padding: 0;

    .header {
      min-height: 40px;
      color: @color-font;
      margin: 0;
      font-size: 20px;
      padding: 20px;
      font-weight: 400;
    }

/*    a {
      color: @color-tertiary;
    }*/

    .box-body {
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;

      p {
        margin-bottom: 10px;
        margin-top: 10px;
      }
    }

    .box-table-body {
      overflow-x: auto;
      .grid {
        width: 100%;
        border-left: none;
        border-right: none;
      }
    }

    .box-harmonica-body {
      .show-harmonica {
        padding: 20px !important;
        margin-bottom: 0px;
        color: @color-font;
      }
    }

    .box-form-body {
      padding-bottom: 15px;
    }

    .footer {
      border-top: 1px solid @color-border;
      padding: 10px 20px;
      font-size: 12px;
    }

    .grid-search {
      padding: 30px;
      text-align: center;
      .title {
        color: @header-font-color;
        font-size: 20px;
        margin-left: 10px;
        font-weight: 300;
      }

      form {
        width: 100%;
        max-width: 600px;
        input[type="text"] {
          border: 1px solid #ccc;
          height: @grid-search-height;
          border-radius: 5px 0 0 5px;
          padding: 0 10px;
          width: ~"calc(100% - 65px)"; //- width of button for search
          outline: none;
          font-size: @search-font-size;
          float: left;
          .group-clearfix();
          transition: .3s;
          color: @color-primary;

          &:focus {
            border: 1px solid @color-primary;
          }

          &:focus + button {
            background: @color-primary;
            color: #fff;
            border: 1px solid @color-primary;
          }

        }

        button[type="submit"] {
          background: #ccc;
          color: #fff;
          border-radius: 0 5px 5px 0;
          margin-left: -2px;
          height: @grid-search-height;
          border: none; //border: 2px solid #ccc;
          outline: none;
          text-align: center;
          font-size: 14px;
          float: left;
          width: 65px;

          transition: .3s ease-in;

          &:hover {
            background: @color-primary-hover;
            cursor: pointer;
            border: none;
          }
        }
      }
    }
  }

  .wrapper-grid {
    padding: 0 0 100px 0;
  }

  .help-box {
    width: 100%;

    .label {
      text-align: right;
      padding-left: 15px;
    }

    .help-content {
      display: none;
    }

    .hide {
      display: none;
    }
    p {
      font-size: 12px;
    }

    input[type="checkbox"]:checked ~ .help-content {
      display: block;
    }

    input[type="checkbox"]:checked ~ .label {
      .show {
        display: none;
      }
      .hide {
        display: block;
      }
    }
  }

  .box {
    .shadow();
  }

}