{% set class = '' %}

{# You can set width using 'with' in {% embed %} #}

{# Finding out the value of width safely #}
{% set tab_width = '' %}

{% if width is defined %}
    {% set tab_width = width %}
{% endif %}

{% if tab_width == 'narrow' %}
    {# Takes up all available space on the page #}
    {% set class = class ~ ' xlarge-12 large-16 medium-24 small-24 mini-24 object-center' %}
{% else %}
    {# Wide tab body - default #}
    {% set class = class ~ ' xlarge-24 large-24 medium-24 small-24 mini-24' %}
{% endif %}

{% block box %}
    <div class="box {{ class }}">
        {% if (block("box_header")|trim is not empty) or block("box_header")|trim != "" %}
            <h3 class="box-header">
                {% block box_header %}{% endblock %}

                {% if (block("box_header_actions")|trim is not empty) or block("box_header_actions")|trim != "" %}
                    <div class="box-header-actions">
                        {% block box_header_actions %}{% endblock %}
                    </div>
                {% endif %}
            </h3>
        {% endif %}

        <div class="box-body">
            {% block box_body %}
            {% endblock %}
        </div>

        <div class="box-footer">
            {% block box_footer %} {% endblock %}
        </div>
    </div>
{% endblock %}