{% extends "TrinityAdminBundle::layout.html.twig" %}


{% block navbar %}
    <nav class="navbar row">
        <div class="navbar-logo">
            {% block navbar_logo %} <i> Logo </i> {% endblock %}
        </div>

        <div id="navbar-project">
            {% block navbar_project %}
                Project
            {% endblock %}
        </div>

        <div class="navbar-container">
            <div class="navbar-actions-item page-title pull-left">
                {% block navbarTitle %}
                    Navbar title
                {% endblock %}
            </div>

            <div id="navbar-actions" class="pull-right">
                {% block pageAction %}
                {% endblock %}
            </div>
        </div>
    </nav>

    {# Navbar popups - profile, notifications #}
    <div class="user-profile-info">
        <div class="navbar-popup">
            {% block sidebar_user %}
            {% endblock %}
        </div>
    </div>
{% endblock %}


{% block sidebar %}
    {{ knp_menu_render('sidebar', {"currentClass": "active", "template" : "TrinityAdminBundle::kmp_menu.html.twig"}) }}
{% endblock %}
