<div class="control-info display-inline-block">
    <i class="mdi mdi-alert-outline"></i>
    <div id="coreProductProject_warning">
        {% block message %}
        {% endblock message %}
    </div>
</div>