<div class="info-empty-form">
    <div class="medium-12 margin-auto text-center">
        <img src="{{ asset('img/no-data.png') }}" alt="no data" class="img-responsive">
        <div class="margin-top-20">
            <h2>Here are no results</h2>
            <p>The table is empty.</p>
        </div>
    </div>
</div>