/**
    Modal dialog
    Dashboard - edit widgets (plus button)
*/

@import "variables";
@import "helper";



    .modal-dialog{
        & > div{
            background: #fff !important;
            .box;
        }

        header{
            border-bottom: 1px solid #ededed;
            padding-bottom: 10px;
            h2{
                color: @color-primary;
                font-size: 32px;
                font-weight: 300;
            }

            p{
                color: #b5b5b5;
                font-weight: 300;
            }
        }

        label.required{
            display: none;
        }
    }


