@import "variables";
@import "helper";


/**************************************

  Not sure if still used, mainly replaced by new grid

**************************************/

  .tabs-wrapper {
    table.grid {
      margin: 20px 0;
    }

    header ~ table.grid {
      margin: 10px 0;
    }
  }

  .action-cell {
    position: relative;
    min-height: 40px;

    .content {
      a {
        font-weight: 500;
        text-transform: uppercase;
      }
    }

    .actions {
      display: block;
      font-size: 12px;
      visibility: hidden;
      position: absolute;
      left: 0;
      bottom: -5px;

      a {
        color: lighten(@sidebar-link-color, 15%);
        font-weight: 400;
        text-decoration: underline;
        &:hover {
          color: @color-tertiary;
          text-decoration: none;
        }
      }
    }
  }

  .edit-grid {
    .edit-input:disabled {
      border: 1px solid transparent;
      color: #000000;
    }

    .edit-input {
      border: 1px solid #A9A9A9;
      // Why? padding: 5px;
      background: transparent;
    }

    label {
      text-align: left;

      span:before {
        padding: 4px;
      }
    }
  }

