/**
    Page alert - box with right position.
*/
.margin-left-auto {
  margin-left: auto;
}
.margin-right-auto {
  margin-right: auto;
}
/*
// float - fix
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
*/
.hidden {
  display: none !important;
}
.overflow-hidden {
  overflow: hidden;
}
.abs-center {
  position: absolute;
  left: 50%;
  top: 51%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
.box {
  background: #fff;
}
.pointer {
  cursor: pointer;
}
.group-clearfix:after {
  content: "";
  display: table;
  clear: both;
}
body.trinity-admin .ajax-checkbox,
body.trinity-admin .ajax-alert {
  display: none !important;
}
body.trinity-admin .alert {
  padding: 0;
  margin: 10px 0;
  opacity: 1;
  left: 0;
  position: relative;
  pointer-events: all;
  color: #34708e;
  border-radius: 0;
}
body.trinity-admin .alert:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
body.trinity-admin .alert:hover .progress-line {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
body.trinity-admin .alert .show-alert p {
  font-weight: 300;
  word-break: break-word;
  font-size: 16px;
  margin: 35px 15px 35px 25px;
}
body.trinity-admin .alert .show-alert .trinity,
body.trinity-admin .alert .show-alert .tiecons {
  display: block;
  padding: 24px 10px;
  font-size: 50px;
}
body.trinity-admin .alert .alert-label {
  position: absolute;
  font-size: 10px;
  line-height: 10px;
  right: 0;
  top: 0;
  padding: 10px;
}
body.trinity-admin .alert .alert-label i,
body.trinity-admin .alert .alert-label .alert-label i.ff-cross2,
body.trinity-admin .alert .alert-label .tiecons.alert-close-icon {
  color: #3f3f3f;
  font-size: 10px;
  font-weight: bold;
  z-index: 10;
  transition: all 1s;
  -webkit-transition: all 1s;
}
body.trinity-admin .alert .alert-label:hover .tiecons {
  -ms-transform: scale(1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2);
  /* Safari */
  transform: scale(1.2);
}
body.trinity-admin .alert.alert-info,
body.trinity-admin .alert.alert {
  background: #b7faff;
  border: none;
  border-bottom: 2px solid #2BA6CB;
}
body.trinity-admin .alert.alert-success {
  background: #d1ffc8;
  border: none;
  border-bottom: 2px solid #23a737;
}
body.trinity-admin .alert.alert-success p {
  color: #166722;
}
body.trinity-admin .alert.alert-warning {
  background: #ffe4bf;
  border: none;
  border-bottom: 2px solid #FF6600;
}
body.trinity-admin .alert.alert-danger {
  background: #FFD2D4;
  border: none;
  border-bottom: 2px solid #c01f25;
}
body.trinity-admin .alert i {
  color: #2BA6CB;
}
body.trinity-admin .alert.alert-danger i {
  color: #c01f25;
}
body.trinity-admin .alert.alert-warning i {
  color: #FF6600;
}
body.trinity-admin .alert.alert-success i {
  color: #23a737;
}
body.trinity-admin .alert.alert-info i {
  color: #2BA6CB;
}
body.trinity-admin #flashMessages {
  position: fixed;
  width: 300px;
  height: 100%;
  top: 105px;
  right: 20px;
  z-index: 999999;
  pointer-events: none;
}
@-webkit-keyframes progressAnimate {
  0% {
    width: 0;
    opacity: 0.7;
  }
  99% {
    opacity: 0.7;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}
@-moz-keyframes progressAnimate {
  0% {
    width: 0;
    opacity: 0.7;
  }
  99% {
    opacity: 0.7;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}
@-ms-keyframes progressAnimate {
  0% {
    width: 0;
    opacity: 0.7;
  }
  99% {
    opacity: 0.7;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}
@keyframes progressAnimate {
  0% {
    width: 0;
    opacity: 0.7;
  }
  99% {
    opacity: 0.7;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}
body.trinity-admin .progres {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
body.trinity-admin .progres .progress-line {
  width: 0;
  background-color: #c01f25;
  height: 2px;
  -webkit-animation: progressAnimate 4.2s 1.5s linear;
  -moz-animation: progressAnimate 4.2s 1.5s linear;
  -ms-animation: progressAnimate 4.2s 1.5s linear;
  animation: progressAnimate 4.2s 1.5s linear;
}
@-webkit-keyframes alert {
  0% {
    opacity: 0;
    left: 400px;
  }
  10% {
    opacity: 1;
    left: 0;
  }
  80% {
    opacity: 1;
    left: 0;
  }
  85% {
    opacity: 0;
    left: 0;
  }
  100% {
    left: 400px;
  }
}
@-moz-keyframes alert {
  0% {
    opacity: 0;
    left: 400px;
  }
  10% {
    opacity: 1;
    left: 0;
  }
  80% {
    opacity: 1;
    left: 0;
  }
  85% {
    opacity: 0;
    left: 0;
  }
  100% {
    left: 400px;
  }
}
@-ms-keyframes alert {
  0% {
    opacity: 0;
    left: 400px;
  }
  10% {
    opacity: 1;
    left: 0;
  }
  80% {
    opacity: 1;
    left: 0;
  }
  85% {
    opacity: 0;
    left: 0;
  }
  100% {
    left: 400px;
  }
}
@keyframes alert {
  0% {
    opacity: 0;
    left: 400px;
  }
  10% {
    opacity: 1;
    left: 0;
  }
  80% {
    opacity: 1;
    left: 0;
  }
  85% {
    opacity: 0;
    left: 0;
  }
  100% {
    left: 400px;
  }
}
