.margin-left-auto {
  margin-left: auto;
}
.margin-right-auto {
  margin-right: auto;
}
/*
// float - fix
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
*/
.hidden {
  display: none !important;
}
.overflow-hidden {
  overflow: hidden;
}
.abs-center {
  position: absolute;
  left: 50%;
  top: 51%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
.box {
  background: #fff;
}
.pointer {
  cursor: pointer;
}
.group-clearfix:after {
  content: "";
  display: table;
  clear: both;
}
:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}
@-moz-document url-prefix() {
  .button {
    font-family: 'Roboto', sans-serif !important;
  }
}
.button {
  padding: 9px 35px;
  margin-top: 5px;
  margin-bottom: 25px;
  line-height: 1;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
}
.button-medium {
  max-height: 33px;
  line-height: 31px;
  font-size: 80%;
  padding: 0px 18px;
}
.button-small {
  max-height: 25px;
  line-height: 22px;
  font-size: 80%;
  padding: 0px 14px;
}
.button-success {
  font-weight: 500;
  box-shadow: 0px -3px 0px 0px #457A1A inset;
}
.button-info {
  box-shadow: 0px -3px 0px 0px #2284A1 inset;
}
.button-primary {
  background-color: #d55a13 !important;
  border: none !important;
  box-shadow: 0px -3px 0px 0px #a6460f inset;
}
.button-primary:hover {
  background-color: #a6460f !important;
  border: none !important;
}
.button-secondary {
  background-color: #edecec !important;
  border: none !important;
}
.button-secondary:hover {
  background-color: #bbb8b8 !important;
  border: none !important;
}
.button-tertiary {
  background: #40adc2 !important;
  border: none !important;
  box-shadow: 0px -3px 0px 0px #2c7a8a inset;
}
.button-tertiary:hover {
  background: #2c7a8a !important;
  border: none !important;
}
.button-warning {
  background-color: #ff8939;
  box-shadow: 0px -3px 0px 0px #d25500 inset;
  border: none !important;
}
.button-warning:hover {
  background-color: #d25500;
  border: none !important;
}
.button-danger {
  background-color: #c94d3d !important;
  box-shadow: 0px -3px 0px 0px #913428 inset;
  border: none !important;
}
.button-danger:hover {
  background-color: #913428 !important;
  border: none !important;
}
.button:disabled {
  cursor: not-allowed !important;
  color: #dddddd;
}
.button-addNew {
  color: #2f2f2f !important;
  background: transparent;
  border: 1px dashed #2f2f2f;
  transition: all 0.3s;
}
.button-addNew:hover {
  background-color: #dbdbdb;
  border: 1px solid #2f2f2f;
}
.button-red {
  color: #fff;
  background-color: #b35445  ;
  border: 1px dashed #642f26  ;
}
.button-red:hover {
  background-color: #8a4134  ;
  border: 1px solid #3d1d17  ;
}
.trinity-form-loading {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  font-size: 17px;
  text-decoration: none;
  vertical-align: middle;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 9px 35px;
  margin-top: 5px;
  margin-bottom: 25px;
  line-height: 1;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
}
.trinity-form-loading-medium {
  max-height: 33px;
  line-height: 31px;
  font-size: 80%;
  padding: 0px 18px;
}
.trinity-form-loading-small {
  max-height: 25px;
  line-height: 22px;
  font-size: 80%;
  padding: 0px 14px;
}
.trinity-form-loading-success {
  font-weight: 500;
  box-shadow: 0px -3px 0px 0px #457A1A inset;
}
.trinity-form-loading-info {
  box-shadow: 0px -3px 0px 0px #2284A1 inset;
}
.trinity-form-loading-primary {
  background-color: #d55a13 !important;
  border: none !important;
  box-shadow: 0px -3px 0px 0px #a6460f inset;
}
.trinity-form-loading-primary:hover {
  background-color: #a6460f !important;
  border: none !important;
}
.trinity-form-loading-secondary {
  background-color: #edecec !important;
  border: none !important;
}
.trinity-form-loading-secondary:hover {
  background-color: #bbb8b8 !important;
  border: none !important;
}
.trinity-form-loading-tertiary {
  background: #40adc2 !important;
  border: none !important;
  box-shadow: 0px -3px 0px 0px #2c7a8a inset;
}
.trinity-form-loading-tertiary:hover {
  background: #2c7a8a !important;
  border: none !important;
}
.trinity-form-loading-warning {
  background-color: #ff8939;
  box-shadow: 0px -3px 0px 0px #d25500 inset;
  border: none !important;
}
.trinity-form-loading-warning:hover {
  background-color: #d25500;
  border: none !important;
}
.trinity-form-loading-danger {
  background-color: #c94d3d !important;
  box-shadow: 0px -3px 0px 0px #913428 inset;
  border: none !important;
}
.trinity-form-loading-danger:hover {
  background-color: #913428 !important;
  border: none !important;
}
.trinity-form-loading:disabled {
  cursor: not-allowed !important;
  color: #dddddd;
}
.trinity-form-loading-addNew {
  color: #2f2f2f !important;
  background: transparent;
  border: 1px dashed #2f2f2f;
  transition: all 0.3s;
}
.trinity-form-loading-addNew:hover {
  background-color: #dbdbdb;
  border: 1px solid #2f2f2f;
}
.trinity-form-loading-red {
  color: #fff;
  background-color: #b35445  ;
  border: 1px dashed #642f26  ;
}
.trinity-form-loading-red:hover {
  background-color: #8a4134  ;
  border: 1px solid #3d1d17  ;
}
.trinity-form-loading:disabled {
  cursor: not-allowed !important;
  color: #fff;
}
.trinity-form-loading:after {
  content: "\e6a9";
  font-family: 'tiecons';
  speak: none;
  min-width: 16px;
  font-size: 17px;
  display: inline-block;
  margin-left: 5px;
  -webkit-animation: spin 3s linear infinite;
  -moz-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.trinity-form-success:after {
  content: '\e933';
  font-family: 'tiecons';
  speak: none;
  min-width: 16px;
  font-size: 17px;
  display: inline-block;
  margin-left: 5px;
  font-family: 'trinity';
}
.trinity-form-error:after {
  content: '\e932';
  font-family: 'tiecons';
  speak: none;
  min-width: 16px;
  font-size: 17px;
  display: inline-block;
  margin-left: 5px;
  font-family: 'trinity';
}
.trinity-form-ready.button-save:after {
  content: '\e6fc';
  font-family: 'tiecons';
  speak: none;
  min-width: 16px;
  font-size: 17px;
  display: inline-block;
  margin-left: 5px;
}
.trinity-form-ready.button-remove:after {
  content: '\e934';
  font-family: 'tiecons';
  speak: none;
  min-width: 16px;
  font-size: 17px;
  display: inline-block;
  margin-left: 5px;
  font-family: 'trinity';
}
