/**************************************

    Grid - layout
      - table layout
      - colors
      - order icons
      - goto buttons
      - hover colors for links
      - pagination

**************************************/
/**************************************

    Functions - mixins

**************************************/
/**************************************
  Global parameters
**************************************/
/*  Colors - primary,secondary... */
/*  Used for e.g. button  */
/*  Fonts  */
/*  Tabs  */
/*  Widgets  */
/**************************************
  Navbar parameters
**************************************/
/*  Logo  */
/* Search */
/**************************************
  Sidebar parameters
**************************************/
/**************************************
  Grid parameters
**************************************/
/**************************************
  Roboto font-weight
**************************************/
.box {
  background: #fff;
  -webkit-box-shadow: 0 2px 9.5px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 9.5px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 9.5px 2px rgba(0, 0, 0, 0.1);
}
.pointer {
  cursor: pointer;
}
.group-clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.show-filters {
  display: none;
}
.grid {
  border: none;
  background: transparent;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 20px 0;
}
.grid thead {
  background: transparent;
  border-bottom: 2px solid #ededed;
}
.grid thead th {
  padding: 15px 10px;
  font-size: 16px;
  color: #2f2f2f;
  font-weight: 500;
}
.grid thead th[class*=order-] {
  cursor: pointer;
}
.grid thead td[class*=center] {
  text-align: center;
}
.grid thead .order-by-asc:after {
  position: absolute;
  padding-left: 7px;
  font-family: trinity;
  content: "\e929";
  font-size: 10px;
}
.grid thead .order-by-desc:after {
  position: absolute;
  font-family: trinity;
  padding-left: 7px;
  content: "\e928";
  font-size: 10px;
}
.grid thead tr:hover {
  background: transparent;
}
.grid .product-clients a:hover {
  color: #d55a13 !important;
}
.grid .cell-center {
  text-align: center;
}
.grid tbody tr {
  background: #fff;
  border-bottom: 1px solid #ededed;
  transition: .3s;
}
.grid tbody tr:hover {
  background: #f8f8f8;
}
.grid tbody tr:hover > td .button-small {
  background: #f3a375;
  color: #fff;
}
.grid tbody tr:hover > td .button-small:visited {
  color: #fff;
}
.grid tbody tr:hover > td .button-small:hover {
  background: #ea6417;
  color: #fff;
}
.grid tbody tr:hover > td a {
  color: #904c25;
}
.grid tbody tr:hover > td a:hover {
  color: #d55a13;
}
.grid tbody tr:hover > td a li {
  background: #e0a888;
  transition: .3s;
}
.grid tbody tr:hover > td a li:hover {
  background: #ea6417;
}
.grid tbody tr:hover > td:last-of-type .revelation:after {
  background: #f3a375;
}
.grid tbody tr:hover > td:last-of-type .revelation:hover:after {
  background: #ea6417;
}
.grid tbody tr a {
  transition: .3s;
  color: #4d4845;
}
.grid tbody tr a:hover {
  color: #d55a13;
}
.grid tbody tr .button-small {
  color: #fff;
}
.grid tbody tr .button-small:hover {
  color: #fff;
}
.grid tbody tr .button-small:visited {
  color: #fff;
}
.grid td {
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20em;
}
.grid th:first-child,
.grid td:first-child {
  padding-left: 20px;
}
.grid .trinity-warning {
  color: #f1935d;
  cursor: context-menu;
}
.trinity-widget .grid {
  margin: 0 0 20px 0;
}
.trinity-widget .grid thead th {
  padding: 10px;
}
.pagination {
  margin: 10px 35px 35px 35px;
  float: right;
}
.pagination:after {
  content: "";
  display: table;
  clear: both;
}
.pagination li a {
  min-width: 40px;
  height: 40px;
  margin: 2px;
  color: #7b7b7b;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  background: #ededed;
  border-radius: 5px;
  border: none;
  transition: 0.4s;
  cursor: pointer;
}
.pagination li a:hover {
  background: #a5a5a5;
  color: #fff;
}
.pagination .break {
  display: inline-block;
  float: left;
  font-size: 42px;
  color: #e8e8e8;
  line-height: 1;
}
.pagination .previous a,
.pagination .next a {
  line-height: 34px;
}
.pagination .previous a:hover,
.pagination .next a:hover {
  color: #d3d3d3;
}
.pagination .previous a i:before,
.pagination .next a i:before {
  padding-top: 5px;
}
.pagination .previous a {
  transform: rotate(90deg);
}
.pagination .next a {
  transform: rotate(-90deg);
}
.pagination li.active a {
  background: #d55a13;
  color: #fff;
}
.record_properties th:first-child {
  padding-left: 15px;
}
.record_properties th {
  width: 300px;
}
.record_properties td {
  word-break: break-all;
  white-space: normal;
  max-width: none;
}
.ban-grid-filter {
  margin: 30px 0 0 20px;
  position: absolute;
  z-index: 99;
}
.ban-grid-filter select {
  height: 32px;
}
@media screen and (max-width: 1366px) {
  .grid td {
    max-width: 16em;
  }
}
@media screen and (max-width: 1140px) {
  .ban-grid-filter {
    display: none;
  }
  .small-hidden {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .grid tbody tr td,
  .grid tbody tr th {
    display: block;
    padding-left: 15px;
  }
}
