/**
    Top sidebar
    - logo
    - search
    - favourites items
    - logout
    - etc
*/
.margin-left-auto {
  margin-left: auto;
}
.margin-right-auto {
  margin-right: auto;
}
/*
// float - fix
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
*/
.hidden {
  display: none !important;
}
.overflow-hidden {
  overflow: hidden;
}
.abs-center {
  position: absolute;
  left: 50%;
  top: 51%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
.box {
  background: #fff;
}
.pointer {
  cursor: pointer;
}
.group-clearfix:after {
  content: "";
  display: table;
  clear: both;
}
body.trinity-admin.navbar-fixed {
  padding-top: 90px !important;
}
body.trinity-admin.navbar-fixed .navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
body.trinity-admin .navbar-item-input {
  display: none;
}
body.trinity-admin .navbar {
  background: #fff;
  min-height: 90px;
  width: 100%;
  color: #fff;
  padding: 0;
  overflow-y: hidden;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}
body.trinity-admin .navbar input:checked {
  background: red;
  border: 5px solid red;
}
body.trinity-admin .navbar input:checked ~ .navbar-container .navbar-actions-item {
  display: none !important;
}
body.trinity-admin .navbar input:checked ~ .navbar-container .fav-navbar {
  display: block;
}
body.trinity-admin .navbar .navbar-logo {
  height: 90px;
  width: 260px;
  display: inline-block;
  float: left;
  z-index: 999;
  background: #d55a13;
}
body.trinity-admin .navbar .navbar-logo:after {
  content: "";
  display: table;
  clear: both;
}
body.trinity-admin .navbar .navbar-logo i {
  margin: 26px;
  display: block;
  height: 38px;
  width: 95px;
}
body.trinity-admin .navbar .navbar-logo a {
  font-size: 38px;
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #fff;
}
body.trinity-admin .navbar .version {
  position: absolute;
  top: 55px;
  left: 121px;
  color: #fff;
  font-size: 8px;
}
body.trinity-admin .navbar .navbar-container {
  display: inline-block;
  float: left;
  width: calc(100% - 260px );
  height: 90px;
}
body.trinity-admin .navbar .navbar-container:after {
  content: "";
  display: table;
  clear: both;
}
body.trinity-admin .navbar .navbar-search {
  position: relative;
  float: left;
  z-index: 9;
}
body.trinity-admin .navbar .navbar-search:after {
  content: "";
  display: table;
  clear: both;
}
body.trinity-admin .navbar .navbar-search form {
  margin: 31px;
}
body.trinity-admin .navbar .navbar-search input {
  background: transparent;
  font-family: Roboto, sans-serif;
  font-size: 22px;
  border: none;
  font-weight: 100;
  width: auto;
}
body.trinity-admin .navbar .navbar-search input:focus {
  font-weight: 300;
}
body.trinity-admin .navbar .navbar-search input:focus + button {
  top: 25px;
  left: -20px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background: #5a544f;
}
body.trinity-admin .navbar .navbar-search input:focus + button i {
  font-size: 22px;
}
body.trinity-admin .navbar .navbar-search button {
  position: absolute;
  left: -15px;
  top: 30px;
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #fff;
  border: none;
  cursor: pointer;
  transition: .5s;
}
body.trinity-admin .navbar .navbar-search button i {
  transition: .5s;
  font-size: 16px;
  color: #cec5c0;
}
body.trinity-admin .navbar .navbar-actions {
  z-index: 999;
}
body.trinity-admin .navbar .navbar-item-label {
  position: relative;
  display: inline-block;
  height: 90px;
  width: 45px;
  cursor: pointer;
  font-size: 20px;
  color: #a0a2a5;
  float: left;
}
body.trinity-admin .navbar .navbar-item-label:after {
  content: "";
  display: table;
  clear: both;
}
body.trinity-admin .navbar .navbar-item-label i {
  display: block;
  width: 20px;
  height: 20px;
  margin: 35px 12.5px;
}
body.trinity-admin .navbar .navbar-item-label:hover {
  background: #fff8f4;
}
body.trinity-admin .navbar .navbar-item-label .number-info {
  border-radius: 6px;
  background: #ef7e3e;
  text-align: center;
  font-size: 12px;
  color: #fff;
  display: block;
  width: auto;
  height: auto;
  min-width: 16px;
  min-height: 18px;
  margin: 0;
  position: absolute;
  top: 25px;
  right: 6px;
  padding: 0 2px;
}
body.trinity-admin .navbar .navbar-right-items {
  display: inline-block;
  height: 90px;
  width: 45px;
  float: right;
  background: #e4e4e4;
}
body.trinity-admin .navbar .navbar-right-items:after {
  content: "";
  display: table;
  clear: both;
}
body.trinity-admin .navbar .navbar-right-items .item {
  position: relative;
  transition: .3s;
  width: 45px;
  height: 45px;
  cursor: pointer;
}
body.trinity-admin .navbar .navbar-right-items .item:first-of-type {
  background: #40adc2;
}
body.trinity-admin .navbar .navbar-right-items .item:first-of-type:hover {
  background: #2e838c;
}
body.trinity-admin .navbar .navbar-right-items .item:first-of-type a {
  display: inline-block;
}
body.trinity-admin .navbar .navbar-right-items .item:first-of-type i {
  color: #fff;
  font-size: 20px;
  width: 45px;
  height: 45px;
  padding: 12.5px;
}
body.trinity-admin .navbar .navbar-right-items span {
  transition: .7s all;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  margin: 19.5px 2px;
  background: #97999c;
}
body.trinity-admin .navbar .navbar-right-items span:first-child {
  margin-left: 10px;
}
body.trinity-admin .navbar .navbar-right-items span:nth-child(4),
body.trinity-admin .navbar .navbar-right-items span:nth-child(5) {
  position: absolute;
  top: 7px;
  left: 21px;
  margin: 0;
  display: block;
  width: 3px;
  height: 31px;
  border-radius: 0;
  opacity: 0;
  transition: .6s;
}
body.trinity-admin .navbar #user-profile-label {
  width: auto;
  font-size: 14px;
  padding: 0 45px 0 33px;
}
body.trinity-admin .navbar #user-profile-label .user-name,
body.trinity-admin .navbar #user-profile-label .user-photo {
  display: inline-block;
  float: left;
}
body.trinity-admin .navbar #user-profile-label .user-name:after,
body.trinity-admin .navbar #user-profile-label .user-photo:after {
  content: "";
  display: table;
  clear: both;
}
body.trinity-admin .navbar #user-profile-label img {
  display: block;
  margin: 23px 5px;
  width: 44px;
  height: 44px;
  border-radius: 22px;
}
body.trinity-admin .navbar #user-profile-label .user-photo i {
  font-size: 40px;
  width: 40px;
  height: 40px;
  margin: 23px 5px;
}
body.trinity-admin .navbar #user-profile-label .user-name {
  line-height: 90px;
}
body.trinity-admin .navbar #user-profile-label .user-name i {
  width: 10px;
  height: 10px;
  font-size: 10px;
  transform: rotate(90deg);
}
body.trinity-admin .navbar #user-profile-label i {
  display: inline-block;
  margin: 5px;
}
@media screen and (max-width: 1280px) {
  body.trinity-admin .navbar .navbar-search form {
    transition: .4s;
    margin: 45px 0 0 31px;
  }
  body.trinity-admin .navbar .navbar-search input:focus + button {
    top: 40px;
  }
  body.trinity-admin .navbar .navbar-search button {
    top: 45px;
  }
}
