/**
    Box with page name, breadcrumbs, page icon.
*/

@import "variables";
@import "helper";


body.trinity-admin{

    .head-title{
        display: block;
        float: left;
        height: 100px;
    }


    .head-content{
        font-family: "Roboto", sans-serif;
        color: @global-font-color;
        position: relative;

        background: #fff;
        margin: 25px 20px 20px 25px;
        float: none;
        height: auto !important;
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: @header-min-height;
        clear: both;
        font-weight: 400;

        box-shadow: 0px 6px 7.2px 0.8px rgba(0, 0, 0, 0.05);

        div[class^="span"]{
            height: 100px;
            position: relative;
            line-height: 1;
        }

        .page-icon{
            position: relative;
            height: 100px;
            width: 95px;
            display: block;
            float: left;
            i{
                display: block;
                margin: 25px 20px 20px 20px;
                font-size: 55px;
            }
            img{
                width: 65px;
                height: 65px;
                margin: 20px 10px 10px 20px;
                border-radius: 55px;
            }
        }

        .content-header{
            line-height: 32px !important;
            color: @color-primary !important;
            margin-top: 25px;
            font-weight: 300;
            b{
                font-weight: 400;
            }
        }

        span, i{
            color: @color-primary;
            font-weight: 300;
            font-size: 55px;
        }

        i{
            color: @color-tertiary;
        }

        .breadcrumbs{
            float: left;
            width: auto;
            margin-left: -10px;
            line-height: 20px !important;
            background: none;
            display: block !important;

            span{
                font-size: 12px !important;
                color: #4c4c4c;
            }
            ul{
                padding: 5px 0 10px 0;
            }

            li{
                line-height: 20px !important;
                &:after{
                    content: '\e656';
                    font-family: 'tiecons';
                    font-size: 8px;
                    color: #ccc;
                    padding-left: 5px;
                }

                &:last-child:after{
                    content: '';
                }
            }

            p{
                font-size: 12px;
                font-weight: 400;
                color: #4c4c4c;
                line-height: 20px;
            }

            a, span{
                color: #4c4c4c;
                line-height: 18px;
                display: inline-block;
                padding: 0 !important;
                padding-left: 5px !important;
            }

            a{
                &:hover{
                    span{
                        color: @color-primary;
                        text-decoration: underline !important;}
                }
            }
        }

    }

    .header-loader{
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;

        .load-bar {
            position: relative;
            margin-top: 20px;
            width: 100%;
            height: 2px;
            background-color: #fdba2c;
        }
        .bar {
            content: "";
            display: inline;
            position: absolute;
            width: 0;
            height: 100%;
            left: 50%;
            text-align: center;
        }

        .bar:nth-child(1) {
            background-color: #493470;
            animation: loading 3s linear 1s infinite;
        }
        .bar:nth-child(2) {
            background-color: #f5d346;
            animation: loading 3s linear 2s infinite;
        }

        .bar-end{
            background-color: #fff !important;
            transition: background-color 2s linear;
        }

        @keyframes loading {
            from {left: 50%; width: 0;z-index:100;}
            33.3333% {left: 0; width: 100%;z-index: 10;}
            to {left: 0; width: 100%;}
        }
    }

}