/**
    items under navbar.
*/

@import "variables";
@import "helper";

body.trinity-admin{

    .box-new-form{
        position: relative;

        .page-actions{
            margin-top: 0;
            position: absolute;
            top: 0;
            right: 0;

            .item{
                padding: 5px 25px 5px 25px;
                font-size: 12px;
                background-color: @color-tab-label;
                text-align: center;
                cursor: pointer;
                font-weight: 300;

                a{
                    color: #ffffff;
                }

                &:hover{
                    background: darken(@color-tab-label, 10%) !important;
                }
            }
        }


    }
}


