/**
    items under navbar.
*/

@import "variables";
@import "helper";

body.trinity-admin{

    .box-new-form{
        position: relative;

        .page-actions{
            margin-top: 0;
            position: absolute;
            top: 0;
            right: 0;

            .item{
                padding: 5px 15px 5px 15px;
                font-size: 11px;
                background-color: @color-primary;

                a{
                    color: #ffffff;
                    display: block;
                }

                &:hover{
                    background-color: @color-primary-hover;
                }
            }
        }


    }
}


