/**
    items under navbar.
*/
.margin-left-auto {
  margin-left: auto;
}
.margin-right-auto {
  margin-right: auto;
}
/*
// float - fix
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
*/
.hidden {
  display: none !important;
}
.overflow-hidden {
  overflow: hidden;
}
.abs-center {
  position: absolute;
  left: 50%;
  top: 51%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
.box {
  background: #fff;
}
.pointer {
  cursor: pointer;
}
.group-clearfix:after {
  content: "";
  display: table;
  clear: both;
}
body.trinity-admin .box-new-form {
  position: relative;
}
body.trinity-admin .box-new-form .page-actions {
  margin-top: 0;
  position: absolute;
  top: 0;
  right: 0;
}
body.trinity-admin .box-new-form .page-actions .item {
  display: block;
  background: #afafaf;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
}
body.trinity-admin .box-new-form .page-actions .item:hover {
  background: #969696;
}
body.trinity-admin .box-new-form .page-actions .item a {
  padding: 5px 15px;
  display: inline-block;
}
body.trinity-admin .box-new-form .page-actions .item #expert-mode {
  color: #fff;
}
body.trinity-admin .box-new-form .page-actions .open {
  background: #389db0;
}
body.trinity-admin .box-new-form .page-actions .open a {
  font-weight: 600;
}
body.trinity-admin .box-new-form .page-actions .open:hover {
  background: #40adc2;
}
body.trinity-admin .navigation-box {
  height: 100px;
  display: block;
}
body.trinity-admin .navigation-box span.tooltip:nth-child(5) {
  z-index: 25;
}
body.trinity-admin .navigation-box span.tooltip:nth-child(4) {
  z-index: 26;
}
body.trinity-admin .navigation-box span.tooltip:nth-child(3) {
  z-index: 27;
}
body.trinity-admin .navigation-box span.tooltip:nth-child(2) {
  z-index: 28;
}
body.trinity-admin .navigation-box span.tooltip:nth-child(1) {
  z-index: 29;
}
body.trinity-admin .navigation-box .tooltip {
  float: right;
  height: 100%;
}
body.trinity-admin .navigation-box .tooltip .tooltip-hover {
  height: 50px;
  width: 50px;
  display: block;
  margin: 25px 25px 25px 0;
}
body.trinity-admin .navigation-box .tooltip a {
  display: block;
}
body.trinity-admin .navigation-box .tooltip .tooltip-left {
  padding: 0;
  line-height: 30px;
  font-size: 13px;
  font-weight: 300;
  right: 67px;
  top: 11px;
  background: #333333;
  background: rgba(0, 0, 0, 0.95);
}
body.trinity-admin .navigation-box .tooltip .tooltip-left:before {
  top: 7px;
  left: auto;
  right: -15px;
  border-top: 7px solid transparent;
  border-left: 16px solid #333333;
  border-left: 16px solid rgba(0, 0, 0, 0.95);
  border-bottom: 7px solid transparent;
}
body.trinity-admin .navigation-box .new-entry {
  position: relative;
  display: inline-block;
  z-index: 10;
  border-radius: 40px;
  width: 50px;
  height: 50px;
  transition: background 0.3s ease-in-out;
  -moz-box-shadow: 0 1px 5px #cdcbcc;
  -webkit-box-shadow: 0 1px 5px #cdcbcc;
  box-shadow: 0 1px 5px #cdcbcc;
  /*    -webkit-box-shadow: 0px 4px 9.4px 0.6px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 9.4px 0.6px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 9.4px 0.6px rgba(0,0,0,0.25);*/
  -moz-box-shadow: 1px 1px 5px #d7d5d5;
  -webkit-box-shadow: 1px 1px 5px #d7d5d5;
  box-shadow: 1px 1px 5px #d7d5d5;
  background: #40adc2;
}
body.trinity-admin .navigation-box .new-entry i,
body.trinity-admin .navigation-box .new-entry span {
  color: #fff;
  font-weight: 900;
  font-size: 20px;
  -moz-box-shadow: 0 1px 5px #cdcbcc;
  -webkit-box-shadow: 0 1px 5px #cdcbcc;
  box-shadow: 0 1px 5px #cdcbcc;
  /*    -webkit-box-shadow: 0px 4px 9.4px 0.6px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 9.4px 0.6px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 9.4px 0.6px rgba(0,0,0,0.25);*/
  -moz-box-shadow: 1px 1px 5px #d7d5d5;
  -webkit-box-shadow: 1px 1px 5px #d7d5d5;
  box-shadow: 1px 1px 5px #d7d5d5;
  position: absolute;
  left: 50%;
  top: 51%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  background: transparent;
  box-shadow: none !important;
}
body.trinity-admin .navigation-box .new-entry:hover {
  background: #2c7a8a;
}
body.trinity-admin .navigation-box .go-up {
  position: relative;
  display: inline-block;
  z-index: 10;
  border-radius: 40px;
  width: 50px;
  height: 50px;
  transition: background 0.3s ease-in-out;
  -moz-box-shadow: 0 1px 5px #cdcbcc;
  -webkit-box-shadow: 0 1px 5px #cdcbcc;
  box-shadow: 0 1px 5px #cdcbcc;
  /*    -webkit-box-shadow: 0px 4px 9.4px 0.6px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 9.4px 0.6px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 9.4px 0.6px rgba(0,0,0,0.25);*/
  -moz-box-shadow: 1px 1px 5px #d7d5d5;
  -webkit-box-shadow: 1px 1px 5px #d7d5d5;
  box-shadow: 1px 1px 5px #d7d5d5;
  background: #d55a13;
}
body.trinity-admin .navigation-box .go-up i,
body.trinity-admin .navigation-box .go-up span {
  color: #fff;
  font-weight: 900;
  font-size: 20px;
  -moz-box-shadow: 0 1px 5px #cdcbcc;
  -webkit-box-shadow: 0 1px 5px #cdcbcc;
  box-shadow: 0 1px 5px #cdcbcc;
  /*    -webkit-box-shadow: 0px 4px 9.4px 0.6px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 9.4px 0.6px rgba(0,0,0,0.25);
    box-shadow: 0px 4px 9.4px 0.6px rgba(0,0,0,0.25);*/
  -moz-box-shadow: 1px 1px 5px #d7d5d5;
  -webkit-box-shadow: 1px 1px 5px #d7d5d5;
  box-shadow: 1px 1px 5px #d7d5d5;
  position: absolute;
  left: 50%;
  top: 51%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  background: transparent;
  box-shadow: none !important;
}
body.trinity-admin .navigation-box .go-up:hover {
  background: #8f3c0d;
}
