@import "variables";
@import "helper";

body.trinity-admin{

    /** fix */
    .container-with-sidebar{
        padding-left: @sidebar-width !important;
    }

    // left sidebar (menu, user info, web notification)
    #sidebar{
        z-index: 99;
        font-family: 'Roboto', sans-serif;
        width: @sidebar-width;
        background: #fff;
        height: 100%;
        position: fixed;
        color: @sidebar-link-color;

        input{
            display: none;
        }

        .number-info{
            border-radius: 20px;
            padding: 4px 3px;
            background: #f0575a;
            color: #fff;
            font-size: 13px;
            display: inline-block;
            width: 22px;
            height: 22px;
            text-align: center;
            top: 10px;
            position: absolute;
            right: 6px;

            .shadow();

            animation-name: jumping;
            animation-duration: 0.8s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-delay: 1s;
            animation-fill-mode: both;
            animation-direction: alternate;
        }

        @keyframes jumping {
            0%   {  transform: translate(-2px, -6px); }
            100% {  transform: translate(-2px, 0px);  }
        }

        input[name="sidebar-tab"]{
            display: none;
            margin: 0;
            width: 0;
            height: 0;
        }

        label.sidebar-tab-label{
            display: inline-block;
            width: @sidebar-width/@sidebar-tabs - 3px;
            text-align: center;
            font-size: 25px;
            color: @sidebar-link-color;
            padding-top: 10px;
            height: 50px;
            margin: 0;
            cursor: pointer;
            border-top: none;
            background: #fff;
            border-bottom: 2px transparent solid;
        }

        input[name="sidebar-tab"]:checked+label{
            color: @color-primary;
            cursor: pointer;
            border-bottom: 2px @color-primary solid;
            margin: 0;
            background: #fff;
            top: 0;
        }

        .sidebar-tab-content{
            border-top: 1px solid darken(@sidebar-row-hover-color,5%);
        }

        .sidebar-tab-content(@n, @i : 1) when (@i =< @n){
            .sidebar-tab-content(@n, (@i + 1));
            #sidebar-tab@{i}-content{
                display: none;
                height: 100%;
                position: relative;
            }

            #sidebar-tab@{i}-body{
                width: 100%;
                height: auto;
            }

            #sidebar-tab1-content.sidebar-tab-content{
                overflow-y: auto;
                overflow-x: hidden;
            }
        }

        .sidebar-tab(@n, @i : 1) when (@i =< @n){
            .sidebar-tab(@n, (@i + 1));
            #sidebar-tab@{i}:checked ~ #sidebar-tab@{i}-content{
                display: block;
            }
        }

        .sidebar-tab(@sidebar-tabs);
        .sidebar-tab-content(@sidebar-tabs);

        .tab-title{
            width: 100%;
            text-align: center;
            font-size: 20px;
            line-height: 30px;
            font-weight: 400;
            margin-bottom: 10px;
            color: @color-primary;
        }

        h4{
            padding: 15px;
            padding-bottom: 5px;
            font-size: 14px;
        }

        .alert{
            border: none;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;

            .alert-icon{
                font-size: 20px;
            }

            .alert-content{
                width: 87%;
            }
        }

        .body-text{
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 5px;

            a{
                color: @color-tertiary;
                &:hover{
                    text-decoration: underline;
                }
            }

            .user-photo{
                text-align: center;
                margin-bottom: 15px;
                position: relative;
                .trinity{
                    font-size: 50px;
                    border: 3px solid #ccc89a;
                    border-radius: 50px;
                    padding: 15px;
                    display: inline-block;
                    background:  rgb(255, 252, 194);
                    color: @color-primary;
                }

                img.red{
                    position: absolute;
                    width: 30px;
                    left: 110px;
                    top: 5px
                }
            }
        }


        ul.tab-list{
            overflow-y: auto;
            overflow-x: hidden;
            max-height: 850px;

            &.list-rows{
                background: lighten(@sidebar-row-hover-color,5%);
            }

            li{
                font-size: @sidebar-font-size;
                font-weight: 300;

                position: relative;
                display: block;
                padding: 15px 25px 15px 45px;
                border-top: 1px solid darken(@sidebar-row-hover-color,5%);

                z-index: 999;
                min-height: @sidebar-row-height;
                background-color: @sidebar-row-hover-color;

                -webkit-transition: min-height 0.7s;
                -moz-transition: min-height 0.7s;
                transition: min-height 0.7s;

                i{
                    font-size: @sidebar-icon-font-size + 4px;
                    position: absolute;
                    left: 15px;
                    top: 10px;
                }

                .message-group{
                    position: relative;
                    span{
                        transition: all 0.5s ease;
                        line-height: 15px;
                        background-color: @sidebar-row-hover-color;
                    }
                }

                i.trinity-close{
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity 1s linear;
                    -moz-transition: opacity 1s linear;
                    -webkit-transition: opacity 1s linear;
                }

                .detail-info{
                    height: 0;
                    width: 190px;
                    font-size: 12px;
                    opacity: 0;
                    padding-top: 2px;

                    transition: all 1s linear;
                    -moz-transition: all 1s linear;
                    -webkit-transition: all 1s linear;
                }

                &:hover{
                    min-height: 58px;
                    i.trinity-close{
                        visibility: visible;
                        opacity: 1;
                        position: absolute;
                        top: 10px;
                        right: 5px;
                        left: auto;
                        padding: 2px 2px 2px 0;
                        font-size: 10px;
                        color: @sidebar-detail-color;

                        &:hover{
                            color: @color-tertiary;
                        }
                    }

                    .detail-info{
                        position: relative;
                        display: block;
                        height: 13px;
                        opacity: 1;
                        white-space: normal;
                        word-break: normal;
                        color: @color-grey-link;
                    }
                }

                &.new:before{
                    content: " ";
                    float: left;
                    margin-left: -40px;
                    margin-top: 5px;
                    background: saturate(@color-info, 10%);
                    border-radius: 5px;
                    width: 5px;
                    height: 5px;
                    position: absolute;
                }

                a{
                    color: @sidebar-link-color;
                }

                &.info{
                    i{
                        color: @color-info;
                    }
                }

                &.warning{
                    i{
                        color: @color-warning;
                    }
                }

                &.success{
                    i{
                        color: @color-success-notification;
                    }
                }
                &.noaction{
                    color: @sidebar-link-color;
                    background: #ffffff;
                    i{
                        color: lighten(@sidebar-link-color,10%);
                    }
                }

                &.danger{
                    i{
                        color: @color-danger;
                    }
                }
            }
        }
        #sidebar-tab2-content{
            li:hover{
                min-height: 45px;
            }
        }

        //remove dotted border on focus - moz
        a, span:focus, span::-moz-focus-inner {
            border: 0;
            outline: 0;
        }
        .sidebar{
            margin-top: 0;
            li {
                width: 100%;
                min-height: @sidebar-row-height;
                position: relative;
                border-bottom: 1px transparent solid;
                border-top: 1px transparent solid;
                cursor: pointer;

                a, div {
                    display: block;
                    width: 100%;
                    min-height: @sidebar-row-height;
                    line-height: @sidebar-row-height;
                    color: @sidebar-link-color;
                    font-size: @sidebar-font-size;
                    font-weight: normal;
                }

                i {
                    margin: 12px 20px 0 15px;
                    width: 14px;
                    display: inline-block;
                    font-size: @sidebar-icon-font-size;
                }

                &.active {
                    border-bottom: 1px darken(@sidebar-row-hover-color,10%) solid;
                    border-top: 1px darken(@sidebar-row-hover-color,10%) solid;
                    a, div {
                        font-weight: 500;
                    }

                    i{
                        font-weight: 500;
                    }
                }

                &.active, &:hover {

                    border-bottom: 1px #ebebeb solid;
                    border-top: 1px #ebebeb solid;
                    a, div {
                        background: @sidebar-row-hover-color;
                        color: @color-primary;
                    }
                    .sidebar-drop, .li-dropdown{
                        .minus{
                            background-color: @sidebar-row-hover-color;
                        }

                    }
                }
            }
            .first {
                border-top: 1px #f4f4f4 solid;
            }

            .sidebar-drop, .li-dropdown{
                position: relative;
                ul{
                    box-shadow: none;
                }
                li{
                    transition: none;
                }
                .trinity-dropdown-icon{
                    position: absolute;
                    right: 15px;
                    top: 0;
                    font-size: @sidebar-icon-font-size;
                }

                .minus{
                    position: absolute;
                    right: 15px;
                    top: -40px;
                    background-color: white;
                }

                &:hover{
                    .minus{
                        background-color: @sidebar-row-hover-color;
                    }
                }
            }

            .drop{
                width: 100%;
                margin: 15px 0 0 0;
                padding: 0;
                background: #fff;
                li{
                    a{
                        padding: 0 0 0 54px ;
                        color: @sidebar-link-color;
                        font-weight: normal;
                        background-color: #fafafa;
                        border: none;
                        i{
                            display: none;
                        }
                    }

                    &.active{
                        a{
                            font-weight: 500;
                            color: #000000;
                            background: @sidebar-row-hover-color;
                        }
                    }

                    &:hover{
                        a{
                            color: #000000;
                            background: @sidebar-row-hover-color;
                        }
                    }

                }
            }
            .dropdown-icon{
                pointer-events: none;
            }
        }
    }

    .sidebar-tabs {
        height: 100%;
    }

}




