@import "variables";
@import "helper";

body.trinity-admin{

    /** fix */
    .container-with-sidebar{
        padding-left: @sidebar-width !important;
    }

    // left sidebar menu items
    #sidebar{
        z-index: 99;
        font-family: 'Roboto', sans-serif;
        width: @sidebar-width;
        background: #fff;
        height: 100%;
        position: fixed;
        color: @sidebar-link-color;

        input{
            display: none;
        }

        .number-info{
            border-radius: 20px;
            background: #f0575a;
            color: #fff;
            font-size: 13px;
            display: inline-block;
            width: 22px;
            height: 22px;
            text-align: center;
            top: 10px;
            position: absolute;
            right: 6px;

            .shadow();

            animation-name: jumping;
            animation-duration: 0.8s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-delay: 1s;
            animation-fill-mode: both;
            animation-direction: alternate;
        }

        #sidebar-tab1-content{
            display: block;
            height: 100%;
            position: relative;
        }

        #sidebar-tab1-body{
            width: 100%;
            height: auto;
        }

        #sidebar-tab1-content.sidebar-tab-content{
            overflow-y: auto;
            overflow-x: hidden;
        }
        //remove dotted border on focus - moz
        a, span:focus, span::-moz-focus-inner {
            border: 0;
            outline: 0;
        }
        .sidebar{
            margin-top: 0;
            li {
                width: 100%;
                min-height: @sidebar-row-height;
                position: relative;
                cursor: pointer;

                a, div {
                    display: block;
                    width: 100%;
                    min-height: @sidebar-row-height;
                    //line-height: @sidebar-row-height + 2px;
                    color: @sidebar-link-color;
                    font-size: @sidebar-font-size;
                    font-weight: normal;
                }

                i {
                    margin: 16px;
                    width: @sidebar-icon-font-size;
                    display: inline-block;
                    font-size: @sidebar-icon-font-size;
                }

                &.active {
                    a, div {
                        font-weight: 500;
                    }
                    i{
                        color: @color-tertiary;
                    }
                }

                &.active, &:hover {
                    a, div {
                        background: @sidebar-row-hover-color;
                        color: @color-primary;
                    }
                }
/*                .sidebar-link{
                    position: absolute;
                    height: 15px;
                    line-height: 1;
                    margin: 17.5px 0;
                }*/
            }
            .first {
                border-top: 1px #f4f4f4 solid;
            }

            .sidebar-drop, .li-dropdown{
                position: relative;
                ul{
                    box-shadow: none;
                }
                li{
                    transition: none;
                }
                .trinity-dropdown-icon{
                    position: absolute;
                    right: 15px;
                    top: 0;
                    font-size: @sidebar-icon-font-size;
                }

                .minus{
                    position: absolute;
                    right: 15px;
                    top: -40px;
                    background-color: #fff;
                }

                &:hover{
                    .minus{
                        background-color: @sidebar-row-hover-color;
                    }
                }
            }

            .drop{
                width: 100%;
                margin: 15px 0 0 0;
                padding: 0;
                background: #fff;
                li{
                    a{
                        padding: 0 0 0 54px ;
                        color: @sidebar-link-color;
                        font-weight: normal;
                        background-color: #fafafa;
                        border: none;
                        i{
                            display: none;
                        }
                    }

                    &.active{
                        a{
                            font-weight: 500;
                            color: #000000;
                            background: @sidebar-row-hover-color;
                        }
                    }

                    &:hover{
                        a{
                            color: #000000;
                            background: @sidebar-row-hover-color;
                        }
                    }
                }
            }
            .dropdown-icon{
                pointer-events: none;
            }
        }
    }
}




