/**

    Simple table layout.

*/

body.trinity-admin{

    .tabs-wrapper{
        table.grid{
            margin: 0 !important;
        }

        table.grid{

            thead{
                tr{
                    background: darken(@global-row-hover, 5%);
                    border-bottom: 1px solid #ddd;

                    &:hover{
                        background: darken(@global-row-hover, 5%);
                    }

                    th{
                        line-height: 26px;
                        font-size: 16px;
                    }

                    th, td{
                        color: @color-primary;
                        font-weight: 500;
                        vertical-align: middle;
                    }
                }
            }

            tr{

                background: #fff;
                border-bottom: 1px solid #ededed;

                &:hover{
                    background: @global-row-hover;
                }
            }

            th{
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                text-transform: uppercase;
                vertical-align: middle;
            }

            td{
                font-size: 14px;
                vertical-align: top;
                line-height: 26px;
                font-weight: 300;
            }

            th:first-child, td:first-child{
                padding-left: 20px;
            }

            .row-actions{

                a{
                    font-size: 16px;
                    padding-right: 5px;
                }

            }

        }

    }

    .action-cell{
        position: relative;
        min-height: 40px;

        .content{
            a{
                font-weight: 500;
                text-transform: uppercase;
            }
        }

        .actions{
            display: block;
            font-size: 12px;
            visibility: hidden;
            position: absolute;
            left: 0;
            bottom: -5px;

            a{
                color: lighten(@sidebar-link-color,15%);
                font-weight: 400;
                text-decoration: underline;
                &:hover{
                    color: @color-tertiary;
                    text-decoration: none;
                }
            }
        }
    }
}