/**
    Primary for dashboard widgets.
*/

@import "variables";
@import "helper";

body.trinity-admin{

    // wrapper
    .dashboard-widgets{
        width: 100.5%;

        .small-widgets{
            margin-bottom: 20px;

            .small-widget{
                & > div{
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }

    //need to fix margins 25px-left, other 20px between widgets
    .widget-field{

        & > div{
            //padding-left: 10px;
        }

        &:first-child{
            & > div{
                padding-right: 10px;
                padding-left: 0px !important;
            }
        }

        &:last-child{
            & > div{
                padding-right: 0px !important;
                padding-left: 10px;
            }
        }

        // wrrrr
        &.w-12:first-child{
            & > div{
                padding-right: 10px !important;
            }
        }
    }

    .trinity-widget{
        font-family: 'Roboto', sans-serif;
        height: 430px;
        color: @global-font-color;
        position: relative;
        margin: 0px 10px 20px;

        &:first-child{
            margin-left: 0px !important;
        }

        &:last-child{
            margin-right: 0px !important;
        }

        .box();

        &:hover{
            .widgetResizer, .widgetCloser{
                display: block;
                opacity: 0.3;
            }
        }

        .widgetResizer, .widgetCloser{
            position: absolute;
            right: -15px;
            background: #30bcd2;
            color: #fff;
            border-radius: 30px;
            //padding: 10px;
            font-size: 15px;
            display: none;
            z-index: 9;
            width: 30px;
            height: 30px;
            text-align: center;

            -webkit-transition: opacity 0.5s ease-in-out;
            -moz-transition: opacity 0.5s ease-in-out;
            transition: opacity 0.5s ease-in-out;

            &:hover{
                opacity: 1;
                color: #fff !important;
            }
            i{
                position: absolute;
                font-weight: 600;
                top: 7.5px;
                left: 7.5px;
            }
        }

        .widgetCloser{
            background: red;
            top: -15px;
        }
        .widgetResizer{;
            background: @color-tertiary;
            bottom: -15px;
        }

        .widget-title{
            font-size: 20px;
            padding: 15px;
            font-weight: 300;
            color: #2f2f2f;
        }
    }

    .trinity-widget header{

    }

    .trinity-widget .data-grid{
        border: 0 transparent solid !important;
    }

    .trinity-widget .close{
        //margin-right: 15px;
        //margin-top:   15px;
        display: none;
    }

    .trinity-widget:hover .close{
        display: block;
    }

    .trinity-widget .close:hover{
        color: #942a25;
    }

    .trinity-widget .data-grid{
        background: #fff;
        width: 100%;
    }

    .trinity-widget .data-grid thead, .trinity-widget .data-grid tr,  .trinity-widget .data-grid th{
        background: #fff !important;
        color: #000;
    }

    .trinity-widget .data-grid tr:hover{
        background: @global-row-hover !important;
    }

    .trinity-widget .data-grid tr{
        border-bottom: 1px #dedede solid !important;
        white-space: nowrap;

        td, th{
            &:first-child{
                padding-left: 20px;
            }

            &:last-child{
                padding-left: 20px;
            }
        }
    }

    .trinity-widget .data-grid tr td{
        font-weight: 400;
        vertical-align: middle;
    }

    .widget-chart{
        //margin-left: -15px;
        //margin-right: -15px;
    }

    .trinity-widget .content-box{
        height: 350px;
        overflow-x: hidden;
        overflow-y: hidden;
        width: 100%;

        position: relative;
        z-index: 10;
        padding-top: 10px;
        .content{
            width: 100%;
        }
    }
    .trinity-widget:first-child .content-box{
        height: auto;
    }

    .trinity-widget a{
        color: #6b6b6b;
    }

    .trinity-widget a:hover{
        color: #4c4c4c;
    }

    .trinity-widget a:visited{
        color: #551A8B;
    }

  /*  .trinity-widget .tags li{
        font-size: 12px;
        margin-right: 5px;
        padding: 5px;
        background: #e1e1e1;
        border-radius: 5px;
        line-height: 16px;
        margin-bottom: 5px*/;
    }

    .trinity-widget .datetime{
        font-size: 12px;
        line-height: 16px;
    }

    .trinity-widget .content{

    }

    .trinity-widget .short-cell{
        width: 100%;
        overflow-x: auto;
    }

    .box-widget{
        .box();
        //padding: 20px;
        margin-bottom: 20px;

        .header-h2{
            font-weight: 300;
            color: @color-primary;
        }
    }

    .gu-mirror {
        position: fixed !important;
        margin: 0 !important;
        z-index: 9999 !important;
        opacity: 0.8;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        filter: alpha(opacity=80);
    }

    .gu-hide {
        display: none !important;
    }

    .gu-unselectable {
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
    }

    .gu-transit {
        opacity: 0.2;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
        filter: alpha(opacity=20);
    }

    .widget-small-description{
        color: #ababab;
        font-weight: 300;
    }

    .widget-small-icon{
        color: #ababab;
    }

    .handle{
        cursor: move;
        height: 50px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    }

    #show-widgets-form{
        .row{
            width: 650px;
            border: none;
            border-radius: 6px;

            -webkit-box-shadow:  0 0 20px 0px rgba(0,0,0,.45);
            -moz-box-shadow:  0 0 20px 0px rgba(0,0,0,.45);
            box-shadow:  0 0 20px 0px rgba(0,0,0,.45);
            .row{
                box-shadow: none;
            }
            .cross-link{
                position: absolute;
                right: 15px;
                top: 15px;
                width: 22px;
                i{
                    padding: 5px;
                    color: #b8b8b8;
                    transition: .6s;
                    &:hover{
                        color: #585858;
                    }
                }
            }
        }
    }
    #dashboard{
        .choice{
            border: none;
            &:hover{
                background: none;
            }
            &:first-child{
                width: 100%;
                display: inline-block;
                .form-content-center{
                    width: 100%;
                    .form-left{
                        width: 0;
                    }
                    .form-right{
                        width: 100%;
                        label{
                            padding-left: 10px;
                            border-bottom: 1px solid #e5e5e5;
                            &:hover{
                                background: #EFEFEF
                            }
                            &:after{
                                left: 12px;
                                padding-right: 15px;
                            }

                        }
                    }
                }
            }
            &:nth-child(2){
                width: 0;
                position: absolute;
                top: 90px;
                right: 85px;
                .form-content-center{
                    width: 100%;
                    .form-left{
                        width: 0;
                    }
                    .form-right{
                        width: 100%;
                    }
                }
            }
        }
    }
    #dashboard_widgets{
        label{
            color: #747474;
        }
        input[type=checkbox]:checked + label{
            color: #303030;
        }
    }
    #dashboard_expandedWidgets{
        label{
            position: static;
            display: block;
        }
        .checkbox{
            position: relative;
            display: block;
            height: 38px;
            label{
                position: static;
                display: block;
                height: 20px;
                line-height: 1;
                font-size:  20px;

                &:before{
                    position: absolute;
                    top: 10px;
                    left: 0;
                    content: '';
                    display: block;
                    width: 38px;
                    height: 18px;
                    border: 1px solid #b9b9b9;
                    padding: 0;
                }
                &:after{
                    position: absolute;
                    top: 10px;
                    left: 0;
                    content: "\e901";
                    font-family: trinity;
                    font-size: 13px;
                    line-height: 20px;
                    display: block;
                    width: 16px;
                    padding-left: 2px;
                    height: 18px;
                    border: 1px solid #3f3f3f;
                    transition: left .4s;
                }
            }
            input[type=checkbox]:checked + label{
                &:before{
                    border: 1px solid #3f3f3f;
                }
                &:after{
                    padding: 0;
                    color: #303030;
                    top: 11px;
                    left: 20px;
                    transform: rotate(180deg);
                    border: none;
                    border-right: 1px solid #b9b9b9;
                }
            }
        }
    }



   /* .widget-field{
        display: none;

        //padding: 20px 20px 0 0;
        &:nth-of-type(1),&:nth-of-type(2),&:nth-of-type(3),&:nth-of-type(4){
            display: block;
            .span-none-padding-large-6{
                padding-right: 20px;
            }
            .trinity-widget{
                margin: 0;
            }
        }
       &:nth-of-type(4){
            .span-none-padding-large-6{
                padding-right: 0;
            }
        }

        .span-none-padding-large-12{
            padding-right: 20px;
            padding-bottom: 20px;
        }
        .span-none-padding-large-24{
            padding-bottom: 20px;
        }
        &:nth-child(even){
            .span-none-padding-large-12{
                padding-right: 0;
            }
        }
    }*/

