/**************************************

  Alerts messages from flashBag or JS on right side

**************************************/

@import (once) "helper";
@import (once) "variables";

.checkbox-none{
  display: none;
}

#flash-message-container {
  width: 200px;
  height: calc(~"100% - (" @navbar-height ~" + 20px)");
  will-change: contents;
  position: fixed;
  top: @navbar-height + 20px;
  z-index: 999999;
  pointer-events: none;
  word-wrap: break-word;
  overflow: auto;
  right: 0;
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: column-reverse;

  input[type="radio"]:checked + div.alert {
    display: none;
  }

  & > div.alert {
    padding: 0;
    margin: 0 0 10px 0;
    opacity: 1;
    left: 0;
    position: relative;
    pointer-events: all;
    color: @color-primary;
    border: none;

    -webkit-box-shadow: 0 12.5px 16.5px 2.5px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0 12.5px 16.5px 2.5px rgba(0, 0, 0, 0.13);
    box-shadow: 0 12.5px 16.5px 2.5px rgba(0, 0, 0, 0.13);

    background: #fff;
    border-radius: 10px;

    i.alert-close-icon:before {
      .large-clickable-area();
    }

    .alert-label{
      padding: 8px;
      cursor: pointer;
      font-size: 18px;
      width: 100%;

      i{
        float: right;
      }

      &:hover{
        color: darken(@color-red, 10%);
      }
    }


    .message-icon {
      text-align: center;
      clear: both;
      margin-top: -20px;
      i {
        font-size: 80px;
        line-height: 1;
      }
    }

    .message-text{
      padding: 5px 10px 20px 10px;
      text-align: center;
      font-size: 16px;
      color: @color-primary;
      font-weight: @noto-bold;
    }


    &-danger, &-error{
      .message-icon {
        .mdi:before{
          content: "\F15C";
          color: @color-red;
        }
      }

      .message-text{
        color: @color-red;
      }
    }

    &-warning {
      .message-icon {
        .mdi:before {
          content: "\F026";
          color: @color-warning;
        }
      }

      .message-text{
        color: @color-warning;
      }
    }

    &-success{
      // Success messages usually consist of 1 or 2 words
      .message-text {
        font-size: 18px;
      }

      .message-icon {
        .mdi:before {
          content: "\F12C";
        }
      }
    }


    &:hover {
      -webkit-animation-play-state: paused;
      animation-play-state: paused;
    }

    &:hover .progress-line {
      -webkit-animation-play-state: paused;
      animation-play-state: paused;
    }

    .show-alert {
      p {
        word-wrap: break-word;
        font-size: 16px;
        margin: 25px 35px 25px 0;
        font-weight: @noto-regular;
        line-height: 1.3;
      }

      i.alert-icon {
        cursor: default;
        font-style: normal;
        height: 89px;
        display: block;

        &:before {
          content: "\e93a";
          font-size: 45px;
          font-family: trinity;
          display: inline-block;
          line-height: 1;
          margin: 24px 0 20px 24px;
        }

        &:after {
          color: #fff;
          font-size: 20px;
          margin-left: 12px;
          display: inline-block;
          line-height: 1;
          top: -52px;
          left: 24px;
          position: relative;
        }
      }
    }
  }
}

.keyframes(@left: 400px) {
  0% {
    opacity: 0;
    left: @left;
  }
  10% {
    opacity: 1;
    left: 0;
  }
  80% {
    opacity: 1;
    left: 0;
  }
  85% {
    opacity: 0;
    left: 0;
  }
  100% {
    left: @left;
  }
}

@-webkit-keyframes alert {
  .keyframes();
}

@-moz-keyframes alert {
  .keyframes();
}

@-ms-keyframes alert {
  .keyframes();
}

@keyframes alert {
  .keyframes();
}