/**************************************

  Content wrappers
    - use box without tabs wrappers for box-shadow

**************************************/
@import (once) "helper";
@import (once) "variables";

@box-small-width: 800px;

.box {
  position: relative;
  color: @global-font-color;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid @color-border;
  padding: 0;
  min-height: 20px; // ?? ponechat?

  &.box-small{
    max-width: @box-small-width;
    margin-left: auto;
    margin-right: auto;
  }

  .box-title{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-left: 10px;

    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.3em;
  }

  .grid{
    padding: 0px;
  }

  .box-header {
    background: @color-primary;
    color: @color-white;
    .box-title;
    padding: 6.5px 11px;

    .box-header-actions{ // delete button in header
      float: right;
      margin-top: -5px;
      .button{
        font-size: 10px;
        margin-left: 5px;
        padding: 3px 5px;
      }
    }
  }

  .box-body {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;

    p {
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }

  .box-harmonica-body {
    .show-harmonica {
      padding: 20px;
      margin-bottom: 0;
      color: @color-font;
    }
  }

  .footer {
    border-top: 1px solid @color-border;
    padding: 10px 10px;
    font-size: 12px;
  }
}


@media screen and(max-width: 1366px) {
  .grid-search {
    max-width: 450px;
  }
}


@media screen and(max-width: 840px) {
  .grid-search input[type="text"] {
    width: ~"calc(100% - 125px)";
  }
}
