/**************************************

  Default buttons for forms and others

**************************************/
@import (once) "helper";
@import (once) "variables";

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}


.button-parameters {
  text-align: center;
  font-weight: @roboto-medium;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 1;
  border: 1px #ededed solid;
  margin: 5px;

  background: lighten(desaturate(@color-primary, 100%), 30%);
  color: #fff;

  cursor: pointer;
  transition: .3s;

  &:hover {
    color: #fff;
    background: lighten(@color-secondary, 30%);
  }
}

.button {
  .button-parameters();
  font-size: 18px;
  padding: 9px 35px;
  .radius(20px);

  &-success {
    font-weight: @roboto-medium;
    box-shadow: none;
    .green();
  }

  &-info {
    box-shadow: none;
  }


  &-primary{
    padding: 5px 10px;
    color: @color-primary;

    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
    border: 1px solid @color-primary;
    border-radius: 20px;

    &:hover{
      background: @color-primary;
      color: @color-white;
    }
  }

  &-primary-inverse{
    padding: 5px 10px;
    color: @color-white;

    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
    border: 1px solid @color-white;
    border-radius: 20px;
    background: @color-primary;

    &:hover{
      background: @color-white;
      color: @color-primary;
    }
  }

  &-necktie {
    background-color: @color-purple;
    border: 1px solid #fff;
    box-shadow: 0px 0px 0px 1px #c9d5e9;

    &:hover {
      background-color: darken(@color-purple, 10%);
      box-shadow: 0px 0px 0px 1px darken(@color-purple, 10%);
    }
  }

  &-secondary {
    background-color: @color-secondary;
    border: none;

    &:hover {
      background-color: darken(@color-secondary, 20%);
      border: none;
    }
  }

  &-tertiary {
    background: @color-tertiary;
    border: none;
    box-shadow: none;

    &:hover {
      background: darken(@color-tertiary, 15%);
      border: none;
    }
  }

  &-warning {
    background-color: @color-warning;
    box-shadow: none;
    border: none;
    &:hover {
      background-color: darken(@color-warning, 20%);
      border: none;
    }
  }

  &-danger {
    background-color: @color-danger;
    box-shadow: none;
    border: none;
    &:hover {
      background-color: darken(@color-danger, 15%);
      border: none;
    }
  }

  &:disabled {
    background-color: #989898;
    box-shadow: none;
    border: none;
    cursor: not-allowed ;
    color: #e7e7e7;
    &:hover {
      color: #e7e7e7;
      background-color: #989898;
      border: none ;
    }
  }

  &-red {
    color: #fff;
    background-color: #b35445;
    border: 1px dashed #642f26;
    &:hover {
      background-color: #8a4134;
      border: 1px solid #3d1d17;
    }
  }
}

.button-disabled{
  background-color: #989898;
  box-shadow: none;
  border: none;
  cursor: not-allowed;
  color: #e7e7e7;
  &:hover {
    color: #e7e7e7;
    background-color: #989898;
    border: none;
  }
}

.button-medium {
  .button-parameters();
  .radius(4px);
  font-size: 14px;
  padding: 8px 14px;
}

.button-small, input[type="button"].button-small {
  .button-parameters();
  .radius(4px);
  max-height: 25px;
  font-size: 12px;
  padding: 6px 10px;

  min-width: 90px;
  display: inline-block;
  line-height: 1;
}

.close-button {
  &:before {
    font-weight: 400;
  }

  display: inline-block;

  i {
    display: inline;
  }

  border: none;
  padding: 4px;
  border-radius: 4px;
  color: #fff;
  font-size: 10px;
  height: 20px;
  width: 20px;
  background: -webkit-linear-gradient(90deg, #cbd2df 0%, #c4cad3 100%);
  background: -moz-linear-gradient(90deg, #cbd2df 0%, #c4cad3 100%);
  background: -o-linear-gradient(90deg, #cbd2df 0%, #c4cad3 100%);
  background: -ms-linear-gradient(90deg, #cbd2df 0%, #c4cad3 100%);
  background: linear-gradient(0deg, #cbd2df 0%, #c4cad3 100%);
}

.button-addNew {
  color: #2f2f2f;
  background: transparent;
  border: 1px solid #cacaca;
  transition: all @form-tr-time;
  text-shadow: none;
  &:hover {
    background-color: #dbdbdb;
    border: 1px solid #2f2f2f;
  }
}

.disabled {
  cursor: not-allowed;
  &:hover{
    background: inherit;;
  }
}


//  Buttons with icons and animations for form actions
.trinity-form {

  .disabled() {
    &:disabled {
      cursor: not-allowed;
      color: #fff;
    }
  }

  &-loading {
    .button();
    .disabled();

    &:after {
      .icon("\e6a9");
      .animation(spin, 3s, linear, infinite);
    }
  }

  &-success {
    &:after {
      .icon('\e933');
      font-family: 'trinity';
    }
    &.button-medium {
      &:after {
        font-size: 13px;
      }
    }
  }

  &-error {

    &:after {
      .icon('\e932');
      font-family: 'trinity';
    }
  }

  &-ready {

    &.button-save {
      &:after {
        .icon('\e6fc');
      }
    }

    &.button-remove {
      &:after {
        .icon('\e934');
        font-family: 'trinity';
      }
    }
  }
}

// Query builder
.button-search {
  min-width: 200px;
  background: @sidebar-back-color;
}

.btn-group.group-conditions {
  label {
    border: 1px solid @color-primary;
  }
}
