/**************************************

  Default buttons for forms and others

**************************************/

@import (once) "helper";
@import (once) "variables";

.icon(@font) {
  content: @font;
  font-family: @icon-font;
  speak: none;
  min-width: 16px;
  display: inline-block;
  margin-left: 5px;
}

// Unified button border for circular buttons
@button-border-size: 1.5px;
@white-border: @button-border-size solid @color-white;

.circle-border() {
  border: @white-border;
  box-shadow: 0 0 0 1px @color-border;
}

// Common button properties
.button-parameters() {
  text-align: center;
  font-weight: @noto-regular;
  text-decoration: none;
  line-height: 1;
  //border: 1px @color-border solid; // Using box-shadow instead
  box-shadow: 0 0 1px @color-border;
  margin: 5px;
  white-space: nowrap;
  cursor: pointer;
  transition: .3s;
  color: @color-white;

  // lets try
  .circle-border();
}

// Default core button
.button() {
  .button-parameters();
  .radius(20px);

  // default font-size
  font-size: 14px;

  padding: 9px 16px;
  min-width: 128px;

  // SIZES
  &-medium{
    padding: 8px 16px;
    min-width: 70px;

    font-size: 12px;
    width: auto;
  }

  &-small {
    padding: 5px 16px;
    font-size: 13px;
    min-width: 35px;
    width: auto;

    margin-top: 0;
    margin-bottom: 0;
  }

  // COLORS
  &-success {
    .green();
    font-weight: @noto-bold;

    &:hover {
      .green-darker();
      border: @white-border; // need to override bowtie.css styles
    }
  }

  &-primary {
    color: @color-white;
    background: @color-primary;

    &:hover {
      background: @color-primary-hover;
      color: @color-white;
      border: @white-border;
    }
  }

  &-secondary {
    background-color: @color-secondary;

    &:hover {
      background-color: darken(@color-secondary, 10%);
      border: @white-border; // need to override bowtie.css styles
    }
  }

  &-tertiary {
    background: @color-tertiary;

    &:hover {
      background: darken(@color-tertiary, 15%);
      border: @white-border;
    }
  }

  &-danger,
  &-delete {
    background-color: @color-danger;

    &:hover {
      background-color: darken(@color-danger, 15%);
      border: @white-border;
    }
  }

  &-necktie {
    .necktie();

    &:hover {
      background-image:
              svg-gradient(to bottom, darken(@color-necktie-gradient1, 10%), darken(@color-necktie-gradient2, 10%));
    }
  }

  // LINE BUTTON
  &-line {
    border: 1px solid @color-primary;
    background: transparent;
    color: @color-primary;
    box-shadow: none;

    &:hover {
      background: @color-primary;
      color: @color-white;
    }
  }

  // For dark backgrounds (box-headers,...)
  &-line-inverse {

    border: 1px solid @color-white;
    background: transparent;
    color: @color-white;
    box-shadow: none;

    &:hover {
      background: @color-white;
      color: @color-primary;
    }

    // Special disabled style
    &:disabled,
    &.button-disabled {
      border: 1px solid @color-white;
      color: @color-white;

      &.button-error {
        opacity: 0.5;
      }

      &:hover {
        opacity: 0.3;
        border: 1px solid @color-white;
        color: @color-white;
        background: transparent;
      }
    }
  }

  // DISABLED style
  &-disabled,
  &:disabled {
    box-shadow: none;
    background: transparent;
    background-color: transparent;
    color: @color-primary;
    border-color: @color-primary;
    opacity: 0.3;
    cursor: not-allowed;
    font-weight: @noto-regular;

    &:hover {
      background: transparent;
      color: @color-primary;
      border-color: @color-primary;
    }
  }

  // Used in user profile for Facebook and Google login
  &-social {
    .radius(0);
    padding: 0;
    font-size: 13px;

    i {
      float: left;
      font-size: 24px;
      padding: 5px 10px;
    }

    div.text {
      float: left;
      display: block;
      padding: 10px 16px;
      margin: 0;
    }

    &.facebook {
      background-color: @color-facebook;

      &:hover {
        background-color: darken(@color-facebook, 10%);
      }
    }

    &.google {
      background-color: #fff;
      color: @color-google;

      &:hover {
        background-color: @color-google;
        color: #fff;
      }
    }
  }

  // FORM STATES
  &.button-loading {
    &:disabled {
      opacity: 0.5;
    }
    &:after {
      .icon("\F450");
      .animation(spin, 3s, linear, infinite);
    }
  }

  &.button-error {
    color: @color-danger;
    border-color: @color-danger;

    &:disabled {
      opacity: 0.5;
    }
    &:after {
      .icon('\F02A');
    }
  }

  // ICONS
  &-save {
    &:after {
      .icon('\F193');
    }
  }

  &-remove {
    &:after {
      .icon('\F1C0');
    }
  }
}

// Apply styles
a.button,
input.button,
button.button,
label.button {
  .button();
}