/**************************************

  Default buttons for forms and others

**************************************/

@import (once) "helper";
@import (once) "variables";

.icon(@font) {
  content: @font;
  font-family: @icon-font;
  speak: none;
  min-width: 16px;
  display: inline-block;
  margin-left: 5px;
}

.button-parameters() {
  text-align: center;
  font-weight: @noto-regular;
  text-decoration: none;
  line-height: 1;
  //border: 1px @color-border solid;
  box-shadow: 0 0 1px @color-border;
  margin: 5px;
  white-space: nowrap;

  color: @color-white;

  cursor: pointer;
  transition: .3s;
}

.button() {
  .button-parameters();
  font-size: 14px;
  padding: 9px 35px;
  .radius(20px);

  &-medium{
    padding: 8px 18px;
    font-size: 12px;
    width: auto;
  }

  &-small {
    padding: 6px 15px;
    font-size: 10px;
    width: auto;
  }

  &-success {
    .green();
    font-weight: @noto-bold;

    border: 1.5px solid @color-white;
    box-shadow: 0 0 0 1px @color-border;

    &:hover {
      .green-darker();
      border: 1px solid transparent;
    }
  }

  &-primary {
    color: @color-white;
    background: @color-primary;

    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
    border: 1px solid @color-primary;
    .radius(20px);

    &:hover {
      background: @color-primary-hover;
      color: @color-white;
    }
  }

  &-secondary {
    background-color: @color-secondary;

    border: 1.5px solid @color-white;
    box-shadow: 0 0 0 1px @color-border;

    &:hover {
      background-color: darken(@color-secondary, 10%);
    }
  }

  &-tertiary {
    background: @color-tertiary;
    border: none;
    box-shadow: none;

    &:hover {
      background: darken(@color-tertiary, 15%);
      border: none;
    }
  }

  // Used in user profile for Facebook and Google login
  &-social {
    .radius(0);
    padding: 0;
    font-size: 13px;

    i {
      float: left;
      font-size: 24px;
      padding: 5px 10px;
    }

    div.text {
      float: left;
      display: block;
      padding: 10px 16px;
      margin: 0;
    }

    &.facebook {
      background-color: @color-facebook;

      &:hover {
        background-color: darken(@color-facebook, 10%);
      }
    }

    &.google {
      background-color: #fff;
      color: @color-google;

      &:hover {
        background-color: @color-google;
        color: #fff;
      }
    }
  }

  &-danger {
    background-color: @color-danger;
    box-shadow: none;
    border: none;
    &:hover {
      background-color: darken(@color-danger, 15%);
      border: none;
    }
  }

  &-necktie {
    .necktie();

    border: 1.5px solid @color-white;
    box-shadow: 0 0 0 1px @color-border;

    &:hover {
      background-image:
              svg-gradient(to bottom, darken(@color-necktie-gradient1, 10%), darken(@color-necktie-gradient2, 10%));
    }
  }

  &-delete {
    &:hover {
      background: @color-red !important;
      border: 1px solid darken(@color-red, 10%) !important;
    }
  }

  &-line {
    border: 1px solid @color-primary;
    background: transparent;
    color: @color-primary;

    &:hover {
      background: @color-primary;
      color: @color-white;
    }
  }

  // For dark backgrounds
  &-line-inverse {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;

    &:hover {
      background: #fff;
      color: @color-primary;
    }
  }

  &-disabled, &:disabled {
    border: 1px solid @color-primary;
    background: transparent;
    color: @color-primary;
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      background: transparent;
      color: @color-primary;
    }
  }

  &-grey-gradient {

    background-image:
            svg-gradient(to bottom, @color-grey-gradient1, @color-grey-gradient2);

    border: none;
    color: @color-primary;

    &:hover {
      background-image:
              svg-gradient(to bottom, darken(@color-grey-gradient1, 10%), darken(@color-grey-gradient2, 10%));
      border: none;
    }
  }

  &-grey-1 {
    background: @color-grey-1;
    color: @color-primary;
    border: none;

    &:hover {
      background:  darken(@color-grey-1, 10%);
      color: @color-primary;
      border: none;
    }
  }

  &-grey-2 {
    background: @color-grey-2;
    color: @color-primary;
    border: none;

    &:hover {
      background: darken(@color-grey-2, 10%);
      color: @color-primary;
      border: none;
    }
  }

  &-grey-3 {
    background: @color-grey-3;
    color: @color-primary;
    border: none;

    &:hover {
      background: darken(@color-grey-3, 10%);
      color: @color-primary;
      border: none;
    }
  }

  &-grey-4 {
    background: @color-grey-4;
    color: @color-primary;
    border: none;

    &:hover {
      background: darken(@color-grey-4, 10%);
      color: @color-primary;
      border: none;
    }
  }

  &-orange-gradient {
    background-image: svg-gradient(to bottom, @color-orange-gradient1, @color-orange-gradient2);
    border: none;

    &:hover {
      background-image:
              svg-gradient(to bottom, darken(@color-orange-gradient1, 10%), darken(@color-orange-gradient2, 10%));
      border: none;
    }
  }

  // FORMS
  &-loading {
    background: @color-primary;

    &:after {
      .icon("\F450");
      font-family: @icon-font;
      .animation(spin, 3s, linear, infinite);
    }

    &:hover {
      background: darken(@color-primary, 20%);
    }
  }

  &-error {
    &:after {
      .icon('\F02A');
    }
  }

  &-ready {
    &.button-save {
      &:after {
        .icon('\F193');
      }
    }

    &.button-remove {
      &:after {
        .icon('\F1C0');
      }
    }
  }
}

a.button, input.button, button.button, label.button {
  .button();
}

.btn-group.group-conditions {
  label {
    border: 1px solid @color-primary;
  }
}
