@import (once) "helper";
@import (once) "variables";

.collection-widget {
  padding: 20px 10%;
  margin-bottom: 15px;
  border-radius: 4px;
  background: @color-grey-light;

  .form-row {
    // We want to position delete button relative to this
    position: relative;
  }

  & > .form-row > label {
    display: none;
  }

  /** START - separator for bigger collection children **/
  .collection-child.separate {
    margin-bottom: 40px;
    padding-top: 10px;
  }

  .collection-child.separate + .separate {
    border-top: solid 1px;
  }

  /** END - separator for bigger collection children **/

  .collection-child-wrapper {
    & > label {
      display: none;
    }
  }

  // Delete button
  .delete-collection-item {
    position: absolute;
    top: 0;
    right: -25px;
    font-size: 20px;
    cursor: pointer;
    padding-top: 2px;

    &:hover .mdi {
      color: @color-primary-hover-icon;
    }

    // Style to let know user which item will be deleted
    &:hover + .collection-child-wrapper {
      label, input, select, textarea {
        text-decoration: line-through;
      }
      .rw-datetimepicker, input, select, textarea {
        background-color: @color-grey;
      }
    }
  }
}

// Collection widget labels create a bigger padding
.collection-widget[hide-collection-labels="hide-collection-labels"] .delete-collection-item span {
  top: 4px;
}

// Collection in Modal
.modal-wrapper {
  .collection-widget {
    background: @color-grey;

    // disabled inputs in modal -> restore original border color, so they are visible
    input, select, textarea {
      &[disabled],
      &[disabled=disabled] {
        border-color: @color-border;
      }
    }
  }
}

