@import "variables";
@import (once) "helper";
@import (once) "buttons";

/**************************************

  Forms stuff
    - inputs
    - rows
    - advanced part
    - user js control messages for edit, new

**************************************/

@input-font-size: 13px;

.form, form {

  .rw-input {
    height: inherit;
  }

  label {
    width: 100%;
    color: @color-primary;
    text-align: left;
    padding-bottom: 5px;
    .no-select();
    position: relative;
    cursor: pointer;
    font-weight: 600;

    a {
      color: @color-primary;
      font-weight: @noto-light;
      float: right;

      &:hover {
        text-decoration: underline;
      }
    }

    &.required:after {
      content: "*";
      color: @color-primary;
      font-weight: @noto-bold;
    }
  }

  .tooltip-wrapper {
    position: relative;
    display: inline;

    .tooltip-icon {
      cursor: pointer;
      font-size: 19px;
      opacity: 0.5;
      line-height: 0;

      // The MDI icon itself
      &:before {
          line-height: 1;
          // Align inputs with others
          margin-bottom: 8px;
      }

      &:hover {
        opacity: 1;

        & + div.tooltip {
          display: block;
        }
      }

      & + div.tooltip {
        display: none;
        width: 243px;
        right: -240px;
        padding: 11px 13px;
        position: absolute;
        bottom: 28px;
        background: lighten(@color-primary, 10%);
        color: @color-white;
        font-size: 12px;
        font-weight: 400;
        border-radius: 5px 5px 5px 0;
        z-index: 98;
      }
    }
  }

  a {
    text-decoration: underline;
  }
  
  input:not([type="submit"]), select, textarea, .rw-datetimepicker input {
    .select-clear;
    width: 100%;
    border: 1px solid @color-border;
    padding: 8px 10px;
    color: @color-primary;
    border-radius: 4px;
    font-weight: @noto-light;
    background: #fff;
    font-size: @input-font-size;

    &:hover {
      border-color: darken(@color-border, 8%);
    }

    &.error{
      border: 1px solid @color-warning;

      &:hover, &:focus{
        border: 1px solid darken(@color-warning, 10%);
      }
    }

    &[disabled],
    &[disabled=disabled] {
      background: @color-grey;
      border-color: @color-grey;

      &:hover {
        cursor: not-allowed;
        color: @color-primary;
        border-color: @color-grey;
      }
    }
  }

  .rw-datetimepicker input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  input[type=color] {
    padding: 0;
  }

  .form-center {
    margin-left: auto;
    margin-right: auto;
    display: block
  }

  .input-with-action {
    position: relative;
    .action {
      position: absolute;
      display: block;
      top: 8px;
      right: 10px;
      padding: 3px 10px;
      border-radius: 20px;
      background: @color-border;
      color: @color-primary;
      font-weight: @noto-light;
      text-decoration: none;
      font-size: 12px;

      &:hover {
        background: darken(@color-border, 8%);
      }
    }
  }

  // Used for displaying text in place of inputs
  div.text {
    // Keep in line with inputs - same height
    min-height: 39px;
  }

  .select {
    cursor: pointer;
    position: relative;
    // ::before, because error message colide with ::after
    &:before {
      position: absolute;
      content: "\F140";
      font-family: @icon-font;
      speak: none;
      color: @color-primary;
      font-size: 24px;
      right: 8px;
      pointer-events: none; // to propagate click into <select> element
    }

    select {
      padding-right: 30px; // dropdown icon wont be mixed with text
    }
  }

  .checkbox {
    label {
      width: auto;
      font-weight: @noto-light;
    }

    input {
      display: none;
    }

    label:before {
      content: "\F12E"; // unchecked
      position: relative;
      vertical-align: middle;
      font-family: @icon-font;
      font-size: 20px;
      margin-right: 5px;
      color: @color-grey-light;
    }

    input:checked ~ label:before {
      content: "\F132"; // checked
      color: @color-primary;
      position: relative;
      vertical-align: middle;
      font-family: @icon-font;
      speak: none;
    }

    input[type=checkbox][disabled] + label,
    input[type=radio][disabled] + label{
      cursor: not-allowed;
    }
  }

  .form-row {
    margin-bottom: 20px;
  }

  .left {
    margin-right: 10px;
  }

  .right {
    margin-left: 10px;
  }

  .image{
    border: 1px solid @color-border;
  }

  .error-message, .form-msg-wrapper {
    color: @color-warning;
    text-align: right;
    font-size: 12px;
  }

  .form-error-wrapper:not(:empty) {
    padding: 3px 0;
  }

  .upload-buttons-wrapper {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px; //?? ponechat?

    .upload-buttons {
      width: auto;
      display: inline-block;
    }
  }
}


// move to button.less?
.add-new-box {
  .object-center;

  padding: 5px 10px;
  color: @color-primary;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
  border: 1px solid @color-primary;
  border-radius: 20px;

  &:hover {
    background: @color-primary;
    color: @color-white;
  }

  max-width: 100px;
  margin-bottom: 20px;
}


/*********************
  Information message box
 ********************/
.control-info {
  border: 1px solid darken(@color-border, 10%);
  background: @color-border;
  padding: 10px;
  font-size: @input-font-size;
  width: 100%;
  margin-bottom: 10px;

  .mdi {
    display: block;
    float: left;
    font-size: 30px;
    line-height: 1;
    padding-right: 10px;
    padding-top: 5px;
  }
}

/*********************
  END Information message box
 ********************/

// React Widgets (date time picker and such)
div.rw-widget {

  &.rw-datetimepicker {
    &:hover {
      background-color: @color-white;
      border-color: darken(@color-border, 8%);
    }

    &.rw-state-hover:hover, &.rw-state-focus {
      box-shadow: none;
      outline: none;
    }

    .rw-input {
      line-height: inherit;
    }

    input {
      box-shadow: none;
    }

    button {
      transition: .2s;
      color: @color-primary;
      &:hover {
        margin-top: -5px;
        color: @color-primary-hover-icon;
      }
    }

    [class*="rw-popup"] {
      background-color: white;
    }


  }
}