@import "variables";
@import (once) "helper";
@import (once) "buttons";

/**************************************

  Forms stuff
    - inputs
    - rows
    - advanced part
    - user js control messages for edit, new

**************************************/

.form, form {

  label {
    width: 100%;
    color: @color-primary;
    text-align: left;
    padding-bottom: 5px;
    .no-select();
    position: relative;
    cursor: pointer;
    font-weight: 600;

    a {
      color: @color-primary;
      font-weight: 300;
      text-decoration: underline;
    }

    &.tooltip {
      display: inline;
      position: relative;

      &:after {
        font-family: @icon-font;
        content: "\F2FC";
        font-size: 19px;
      }

      &:hover:before {
        content: attr(data-title);
        width: 243px;
        padding: 11px 13px;
        position: absolute;
        left: 50px;
        bottom: 28px;
        background: @color-primary;
        color: @color-white;
        font-size: 14px;
        font-weight: 400;
        border-radius: 5px 5px 5px 0;
        z-index: 98;
      }
    }
  }

  input, select, textarea {
    .select-clear;
    width: 100%;
    border: 1px solid @color-border;
    padding: 5px 10px;
    color: @color-primary;
    border-radius: 4px;
    font-weight: 300;
    background: #fff;

    &:hover {
      border: 1px solid darken(@color-border, 8%);
    }
  }

  select {
    cursor: pointer;
  }

  .form-center {
    margin-left: auto;
    margin-right: auto;
    display: block
  }

  .input-with-action {
    position: relative;
    .action {
      position: absolute;
      display: block;
      right: 10px;
      padding: 3px 10px;
      border-radius: 20px;
      background: @color-border;
      color: @color-primary;
      font-weight: 300;
      font-size: 12px;
      top: 5px;

      &:hover {
        background: darken(@color-border, 8%);
      }
    }
  }


  .select {
    position: relative;
    // ::before, because error message colide with ::after
    &:before {
      position: absolute;
      content: "\F140";
      font-family: @icon-font;
      speak: none;
      color: @color-primary;
      font-size: 20px;
      right: 8px;
      pointer-events: none; // to propagate click into <select> element
    }
  }

  select[disabled] {
    background: @color-grey-3;
    border-color: @color-grey-3;

    &:hover {
      cursor: not-allowed;
      border-color: @color-grey-3;
    }
  }

  .checkbox {
    label {
      width: auto;
      font-weight: 300;
    }

    input {
      display: none;
    }

    label:before {
      content: "\F12E";
      position: relative;
      vertical-align: middle;
      font-family: @icon-font;
      font-size: 20px;
      margin-right: 5px;
      color: @color-border;
    }

    input:checked ~ label:before {
      content: "\F132";
      color: @color-primary;
      position: relative;
      vertical-align: middle;
      font-family: @icon-font;
      speak: none;
    }
  }

  .form-caption {
    font-weight: 600;
    color: @color-primary;
    margin-bottom: 10px;
  }

  .form-row {
    padding-bottom: 20px;
  }

  .left {
    margin-right: 10px;
  }

  .right {
    margin-left: 10px;
  }

  .image{
    border: 1px solid @color-border;
  }

  .error-message {
    color: @color-orange-gradient1;
    text-align: right;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 12px;
  }

  .upload-buttons-wrapper {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px; //?? ponechat?

    .upload-buttons {
      width: auto;
      display: inline-block;
    }
  }
}


// move to button.less?
.add-new-box {
  .object-center;

  padding: 5px 10px;
  color: @color-primary;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
  border: 1px solid @color-primary;
  border-radius: 20px;

  &:hover {
    background: @color-primary;
    color: @color-white;
  }

  max-width: 100px;
  margin-bottom: 20px;
}

.control-info{
  border: 1px solid darken(@color-border, 10%);
  background: @color-border;
  padding: 10px;
  font-size: 12px;

  .mdi{
    display: block;
    float: left;
    font-size: 30px;
    padding-right: 10px;
  }
}