/**************************************

    Grid - layout
      - table layout
      - colors
      - order icons
      - goto buttons
      - hover colors for links
      - pagination

**************************************/
@import (once) "helper";

.show-filters {
  display: none;
}


.grid-bulk-actions {
  padding: 15px 20px 0 20px;
  margin-bottom: -15px;
}

.data-grid {
  border: none;
  background: transparent;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0;

  thead {
    background: transparent;
    border-bottom: 2px solid #ededed;
    tr {
      th {
        font-size: 16px;
        color: @header-font-color;
        font-weight: @roboto-medium;
        text-transform: capitalize;
      }

      th[class*=order-] {
        cursor: pointer;
      }

      td[class*=center] { // use text-align class
        text-align: center;
      }

      // display a glyph when hovered over (order by)
      th.order-by:hover {
        &:after {
          color: @color-primary;
        }
      }
    }

    .order-by-asc, th.order-by:not([class*=order-by-]):hover, th.order-by-desc:hover {
      &:after {
        position: absolute;
        padding-left: 7px;
        font-family: trinity;
        content: "\e929";
        font-size: 10px;
      }
    }

    .order-by-desc, th.order-by-asc:hover {
      &:after {
        position: absolute;
        font-family: trinity;
        padding-left: 7px;
        content: "\e928";
        font-size: 10px;
      }
    }
    tr:hover {
      background: transparent;
    }
  }

  .product-clients{
    a:hover{
      color: @color-primary !important;
    }
  }

  .cell-center {
    text-align: center;
  }

  tbody {

    tr {
      background: #fff !important;
      border-bottom: 1px solid #ededed;
      transition: .3s;
      &:hover {
        background: @global-row-hover !important;
      }

      &:hover {
        & > td a.button-small:not(.button-info) {
          background: @color-secondary;
          color: #fff;
          &:visited {
            color: #fff;
          }
        }
        & > td a {
          &:hover {
            color: @color-primary;
          }
        }
        & > td a li {
          background: lighten(desaturate(@color-primary, 25%), 25%);
          transition: .3s;
          &:hover {
            background: lighten(@color-primary, 5%);
          }
        }
        & > td:last-of-type .revelation {
          &:after {
            background: lighten(@color-primary, 25%);
          }
          &:hover:after {
            background: lighten(@color-primary, 5%);
          }
        }
      }
      a {
        transition: .3s;
        color: #303030;
        &:hover {
          color: @color-primary;
        }
      }

      .button-small {
        color: #fff;
        &:hover {
          color: #fff;
        }
        &:visited {
          color: #fff;
        }
      }

      .button-small.button-get-details {
        margin-right: 10px;
        float: right;

        &:hover {
          background: @color-secondary;
        }
      }
    }
  }

  td {
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20em;
  }

  // indicate for no-synchronized product
  .trinity-warning {
    color: lighten(@color-primary, 20%);
    cursor: context-menu;
  }
}

.data-grid:not(.record_properties) {
  th:first-child, td:first-child {
    padding-left: 20px;
  }
}

.tabs-wrapper .data-grid input[type="checkbox"] ~ label {
  padding: 0;
}

.trinity-widget{
  .data-grid{
    margin: 0 0 20px 0;
    thead th{
      padding: 10px;
    }
  }
}
.pagination {
  margin: 35px 35px 0 35px;
  float: right;
  .group-clearfix();

  li a {
    min-width: 40px;
    height: 40px;
    margin: 2px !important;

    color: #7b7b7b !important;
    font-size: 16px;
    font-weight: 400;
    text-align: center;

    background: #ededed !important;
    border-radius: 5px;
    border: none !important;

    transition: 0.4s;
    cursor: pointer;
    &:hover {
      background: #a5a5a5;
      color: #fff;
    }

  }

  li.active a {
    background: @color-secondary !important;
    color: #fff !important;
  }

  .break {
    display: inline-block;
    float: left;
    font-size: 24px;
    color: #e8e8e8;
    line-height: 40px !important;
  }

  .previous a, .next a {
    line-height: 34px;
    &:hover {
      color: #d3d3d3;
    }
    i:before {
      padding-top: 5px;
    }
  }
  .previous a {
    transform: rotate(90deg);
  }
  .next a {
    transform: rotate(-90deg);
  }
}

.record_properties {
  th:first-child {
    padding-left: 15px;
  }
  th {
    width: 300px;
  }
  td {
    word-break: break-all;
    white-space: normal;
    max-width: none;
  }
  tr:nth-of-type(2n) {
    background: initial;
  }
}

.ban-grid-filter {
  margin: 30px 0 0 20px;
  select {
    height: 32px;
  }
}

.pagination-wrapper{
  display: inline-block;
  width: 100%;
}

@media screen and(max-width: 1366px) {
  .data-grid:not(.record_properties) {
    td {
      max-width: 16em;
    }

    // Allow smaller column width to grids with tons of columns
    tr td:first-child:nth-last-child(8) ~ td {
      max-width: 8em;
    }

    tr td:first-child:nth-last-child(9) ~ td {
      max-width: 8em;
    }

    tr td:first-child:nth-last-child(10) ~ td {
      max-width: 8em;
    }
  }
}

@media screen and(max-width: 1140px) {
  .small-hidden {
    display: none;
  }
}

@media screen and(min-width: 1200px) {
  .xlarge-hidden {
    display: none;
  }
}

@media screen and(max-width: 768px) {
  .data-grid tbody tr td, .data-grid tbody tr th {
    display: block;
    padding-left: 15px;
  }
}

.item-menu-button {
  label {
    position: relative;
    border-radius: 36px;
    -moz-border-radius: 36px;
    -webkit-border-radius: 36px;
    border: 1px solid #525975;
    padding: 5.5px 12.5px;
    z-index: 100;


    &:hover,
    &:focus,
    &:active {
      background: #525975;
      color: #fff;
    }
  }

  input[type=radio] {
    display: none;
  }

  input[type=radio]:checked~label {
    background: #525975;
    color: #fff;
  }

  input[type=radio]:checked~.dropdown-item {
    transform: translateX(-118px);
    opacity: 1;
    visibility: visible;
  }

  input[type=checkbox]:checked~label {
    background: #525975;
    color: #fff;
  }

  input[type=checkbox]:checked~.dropdown-item {
    transform: translateX(-118px);
  }

  .ul-list {
    top: 7px;
    border-radius: 5px;
    position: absolute;
    z-index: 99;
  }

  .ul-list li {

    &:hover {
      background: #F8F9FD;
    }

    a {
      color: #525975;
      border-color: #E4EAF6;

      &:hover {
        color: #525975;
      }
    }

  }
}


