/**************************************

    Grid - layout
      - table layout
      - colors
      - order icons
      - goto buttons
      - hover colors for links
      - pagination

**************************************/
@import (once) "helper";
@import (once) "variables";

.data-grid {
  border: none;
  background: transparent;
  width: 100%;
  font-family: @font;
  margin: 0;
  border-collapse: collapse;
  overflow: hidden;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;

  // During loading data, extra row is inserted into body. It breaks initial odd/even color and causes "glitch".
  // This set rules prevents it from happening
  &.fetching tbody {
    tr:nth-child(odd) {
      background-color: @grid-even-row-color;
    }
    tr:nth-child(even) {
      background-color: initial;
    }
  }

  td, th {
    line-height: 1;
    font-size: 14px;
    border-right: 1px solid @background-color;
    padding: 0 5px 0 10px;

    &:last-child{
      border-right: none;
    }
  }

  th {
    text-align: left;
    color: @header-font-color;
    font-weight: @noto-bold;
    text-transform: capitalize;
    // padding 6px for tables without grid checkbox
    padding-top: 6px;
    padding-bottom: 6px;



    &.grid-checkbox {
      padding: 6px; // grid checkbox has padding 6px everywhere
    }
  }

  td {
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20em;
  }

  // Row with custom content (one cell stretched)
  tr.tjs-grid-custom-row td {
    padding: 0;
    height: 0;
  }


  thead {
    background-color: @color-primary;
    tr {
      .radius(5px);

      &[class*=order-] {
        cursor: pointer;
      }

      // display a glyph when hovered over (order by)
      &.order-by:hover {
        &:after {
          color: @header-font-color;
        }
      }
    }

    .order-by {
      position: relative;
      min-width: 50px;
      cursor: pointer;
      // TODO: do we need duplicate font-family 4 times?

      &:before {
        position: absolute;
        right: 10px;
        top: 1px;
        font-family: @icon-font;
        content: "\F143";
        font-size: 20px;
        color: @color-white;
        opacity: 0.5;
      }

      &:after {
        position: absolute;
        right: 10px;
        top: 13px;
        font-family: @icon-font;
        content: "\F140";
        font-size: 20px;
        color: @color-white;
        opacity: 0.5;
      }
    }

    .order-by-asc, th.order-by-desc:hover {
      position: relative;

      &:before {
        position: absolute;
        right: 10px;
        top: 1px;
        font-family: @icon-font;
        content: "\F143";
        font-size: 20px;
        color: @color-white;
        opacity: 1;
      }

      &:after {
        position: absolute;
        right: 10px;
        top: 13px;
        font-family: @icon-font;
        content: "\F140";
        font-size: 20px;
        color: @color-white;
        opacity: 0.5;
      }
    }

    .order-by-desc, th.order-by-asc:hover {
        position: relative;

      &:before {
        position: absolute;
        right: 10px;
        top: 1px;
        font-family: @icon-font;
        content: "\F143";
        font-size: 20px;
        color: @color-white;
        opacity: 0.5;
      }

      &:after {
        position: absolute;
        right: 10px;
        top: 13px;
        font-family: @icon-font;
        content: "\F140";
        font-size: 20px;
        color: @color-white;
        opacity: 1;
      }
    }
  }

  tbody {
    tr {
      background: #fff;

      // Table rows should at least have this height
      td {
        color: @color-primary;
        height: @grid-row-min-height;
      }

      // Even row
      &:nth-child(even) {
        background-color: @grid-even-row-color;
      }

      a {
        color: @color-primary;
      }

      .button-small.button-get-details {
        transition: none; // overrides <a> transition style
        margin-right: 10px;
        margin-left: 5px;
        float: right;
        padding: 5px 16px;
        border: 1px solid @color-primary;
        .radius(14px);
        color: @color-primary;
        visibility: hidden;
        font-size: 10px;
        &:hover {
          background: @color-primary;
          color: white;
        }
      }

      &:hover {
        .button-small.button-get-details{
          visibility: visible;
        }
      }
    }
  }

  // Fetching/Loading View
  .fetching-view {
    width: 100%;
    text-align: center;

    &.absolute {
      position: absolute;
      background-color: rgba(128, 149, 191, 0.3);
    }
  }

  // Empty  view
  .empty-view {
    padding: 10px;
    text-align: center;
    color: @color-primary;

    // empty image
    img {
      padding: 40px
    }
  }

  // Error view
  .error-view {
    padding: 10px;
    text-align: center;
    color: @color-danger;

    i {
      font-size: 140px;
      color: @color-danger;
    }
  }



  // indicate for no-synchronized product
  .trinity-warning {
    color: lighten(@color-primary, 20%);
    cursor: context-menu;
  }
}

/*************************
  MENU DROPDOWN COMPONENT
  will be changed
 **************************/
// To show menu, it must be whole item absolute
table.data-grid tbody tr {
  .item-menu-button {
    position: absolute;
  }

  &:hover {
    .item-menu-button label {
      visibility: visible;
    }
  }
}

table.data-grid thead .item-menu-button label {
  visibility: visible;
}

th .item-menu-button {
  label {
    background-color: #fff;
    &:hover,
    &:focus,
    &:active {
      border-color: #fff;
      background-color: transparent;
    }
  }
}
.item-menu-button {
  label {
    visibility: hidden;
    position: relative;
    border-radius: 36px;
    -moz-border-radius: 36px;
    -webkit-border-radius: 36px;
    border: 1px solid @color-primary;
    color: @color-primary;
    background: none;
    padding: 2px 10px;
    z-index: 100;
    .no-select();

    &:hover,
    &:focus,
    &:active {
      background: @color-primary;
      color: #fff;
    }
  }

  input[type=checkbox]:checked {
    // label
    ~ label {
      background: #525975;
      color: #fff;
      z-index: 102;
      visibility: visible;
    }
    // Menu list
    ~ .dropdown-item {
      transform: translateX(-118px);
      z-index: 101;
    }
  }


  .ul-list {
    top: 7px;
    border-radius: 5px;
    position: absolute;
    z-index: 99;
  }

  .ul-list li {
    font-weight: @noto-regular;
    &:hover {
      background: none;
    }

    a {
      color: @color-primary;

      &:hover {
        color: @color-primary;
        text-decoration: underline;
      }
    }
  }
}

/*************************
  END - MENU DROPDOWN COMPONENT
 **************************/

/******************************
  PAGINATION
 ******************************/
.pagination-wrapper{
  display: inline-block;
  width: 100%;
}
.pagination {
  margin: 35px 35px 0 35px;
  float: right;
  .group-clearfix();

  li a {
    min-width: 40px;
    height: 40px;
    margin: 2px !important;

    color: #7b7b7b !important;
    font-size: 16px;
    font-weight: 400;
    text-align: center;

    background: #ededed !important;
    border-radius: 5px;
    border: none !important;

    transition: 0.4s;
    cursor: pointer;
    &:hover {
      background: #a5a5a5;
      color: #fff;
    }
  }

  li.active a {
    background: @color-secondary !important;
    color: #fff !important;
  }

  .break {
    display: inline-block;
    float: left;
    font-size: 24px;
    color: #e8e8e8;
    line-height: 40px !important;
  }

  .previous a, .next a {
    line-height: 34px;
    &:hover {
      color: #d3d3d3;
    }
    i:before {
      padding-top: 5px;
    }
  }
  .previous a {
    transform: rotate(90deg);
  }
  .next a {
    transform: rotate(-90deg);
  }
}
/******************************
  END - PAGINATION
 ******************************/


// GRID IN WIDGETS
.trinity-widget {
  .data-grid {
    thead th {
      padding: 10px;
    }
  }
}

// Special grid in show tabs
// probably will be removed
.record_properties {
  th:first-child {
    padding-left: 15px;
  }
  th {
    width: 300px;
  }
  td {
    word-break: break-all;
    white-space: normal;
    max-width: none;
  }
  tr:nth-of-type(2n) {
    background: initial;
  }
}

// For special filter on data
.ban-grid-filter {
  margin: 30px 0 0 20px;
  select {
    height: 32px;
  }
}


/************************
 MEDIA QUERIES SETTINGS
 SHOULD BE LAST
 ***********************/

@media screen and(max-width: 1366px) {
  .data-grid:not(.record_properties) {
    td {
      max-width: 16em;
    }

    // Allow smaller column width to grids with tons of columns
    tr td:first-child:nth-last-child(8) ~ td {
      max-width: 8em;
    }

    tr td:first-child:nth-last-child(9) ~ td {
      max-width: 8em;
    }

    tr td:first-child:nth-last-child(10) ~ td {
      max-width: 8em;
    }
  }
}

@media screen and(max-width: 1140px) {
  .small-hidden {
    display: none;
  }
}

@media screen and(min-width: 1200px) {
  .xlarge-hidden {
    display: none;
  }
}

@media screen and(max-width: 768px) {
  .data-grid tbody tr td, .data-grid tbody tr th {
    display: block;
    padding-left: 15px;
  }
}

/************************
 END - MEDIA QUERIES SETTINGS
 SHOULD BE LAST. DONT PUT ANYTHING AFTER!
 ***********************/
