/**************************************

    Harmonica - layout
      - labels
      - inner shadow as from tabs

**************************************/
@import "helper";



  .box .show-harmonica > form {
    margin-left: -20px;
    margin-right: -20px;
    width: 105%;
  }

  .harmonica {
    //padding-top: 10px;

    .main-panel {
      margin-bottom: 0;
      min-height: 37px;
      max-height: 37px;

      + label:hover{
        cursor: pointer;
      }

      input {
        display: block;
      }

      label[for^="harmonica"] {
        font-size: 14px;
        text-align: left;
        font-weight: @roboto-light;
        padding: 0;
        color: @color-font;
        line-height: 36px;
        border-top: 1px solid lighten(@tabs-color-label, 35%);
        text-transform: uppercase;
        margin: 0;

        i {
          margin-right: 10px;
          font-size: 16px;
          line-height: 36px;
          float: left;
          color: @color-primary;

          img {
            height: 20px;
            margin-top: 8px;
          }
        }

        &:hover {
          background: darken(@global-row-hover, 5%);
        }

        &:before {
          //content: "\e656";
          content: "\e623";
          display: block;
          font-family: 'tiecons';
          speak: none;
          font-size: 11px;
          color: @color-primary;
          float: left;
          margin-left: 10px;
          margin-right: 10px;
        }
      }

      label[for^="default"]{
        text-align: left;
      }

      .show-harmonica {
        position: relative;
        background: #fff;
        padding: 0;
        color: @color-font;
        max-height: 600px;
        overflow-y: auto;
        overflow-x: hidden;

        .harmonica-content {
          color: @color-font;
          padding-left: 15px;
          padding-right: 15px;
        }

        input[type="checkbox"] {
          display: none !important;
        }

        label {
          color: @color-font;
          font-weight: 300;
          font-size: 14px;
          padding-top: 5px;
          background: transparent;
        }
      }
      &:first-of-type {
        label[for^="harmonica"] {
          transition: box-shadow 0s, background .2s;
          border-top: 1px solid transparent;
         &:hover{
           .shadow(0, 10px, 10px, -10px, rgba(0,0,0,.2) inset);
          }
        }
      }
    }

    label[for^="help-content"]{
      position: absolute;
      top: 0;
      right: 0;
      padding: 0;
      i{
        display: block;
        font-size: 30px;
        padding: 15px;
        color: @color-tertiary;
        &:hover{
          color: darken(@color-tertiary, 15%);
        }
      }
    }
    input[id^="help-content"]:checked ~.help-content{
      max-height: 500px;
      margin: 15px auto;
    }
    input:checked+.main-panel label {
      background: transparent;
      font-weight: @roboto-light;
      &:hover{
        color: @global-font-color;
      }
    }

    .help-content{
      overflow: hidden;
      max-width: 400px;
      max-height: 0;
      border-bottom: 1px solid #ededed;
      margin: 0 auto;
      transition: .7s;
      //default template styles are in tabs.less
      h4{
        margin: 5px 0;
      }
    }

    input[id^="harmonica"]:checked + .main-panel {
      max-height: 650px;

      label[for^="harmonica"] {
        font-weight: 400 !important;
        background: darken(@global-row-hover, 5%);
        color: @color-primary;
        border-top: 1px solid #d7d7d7;
        border-bottom: 1px solid #ccc;

        &:before {
          content: "\e621";
          display: block;
          font-family: 'tiecons';
          speak: none;
          font-size: 11px;
          color: @color-primary;
          float: left;
          margin-right: 10px;
        }
      }
    }
  }


  .tab-body-wrapper{
    .harmonica input:checked +.main-panel:first-of-type label[for^=harmonica]{
      border-top: none;
      .shadow(0, 10px, 10px, -10px, rgba(0,0,0,.2) inset);
    }
  }