/**************************************

    Functions - mixins

**************************************/
@import "variables";


.no-select(){
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.blur(@value){
  filter: blur(@value);
  -webkit-filter: blur(@value);
}

.shadow(@offset-x: 0, @offset-y: 2px, @blur-radius: 9.5px, @spread-radius: 2px, @color: rgba(0,0,0,.1)) {
  -webkit-box-shadow: @offset-x @offset-y @blur-radius @spread-radius @color;
  -moz-box-shadow: @offset-x @offset-y @blur-radius @spread-radius @color;
  box-shadow: @offset-x @offset-y @blur-radius @spread-radius @color;
}

// input placeholder color.
.input-placeholder(@color: #ff0099) {
  &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: @color;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: @color;
    opacity: 1;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: @color;
    opacity: 1;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: @color;
  }
}

// center element
.abs-center() {
  position: absolute;
  left: 50%;
  top: 51%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

// darken image
.brightness(@percent) {
  -webkit-filter: brightness(@percent);
  -moz-filter: brightness(@percent);
  -ms-filter: brightness(@percent);
  filter: brightness(@percent);
}

// TODO: extra? shoud it be in box?
.box {
  //border: 1px solid @color-border;
  background: #fff;
}

.animation(@name, @time, @s, @e) {
  -webkit-animation: @name @time @s @e;
  -moz-animation: @name @time @s @e;
  animation: @name @time @s @e;
}

.radius(@size) {
  -moz-border-radius: @size;
  -webkit-border-radius: @size;
  border-radius: @size;
}

// TODO: extra?
.navigation-icons() {
  position: relative;
  z-index: 10;
  border-radius: 40px;
  width: 33px;
  height: 33px;
  transition: background .3s ease-in-out;
  display: table;

  i, span {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    background: transparent;
    display: table-cell;
  }
}

// TODO: bowtie? or leave it?
.pointer {
  cursor: pointer;
}

// TODO: do we  need it?
.group-clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.object-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.select-clear{
  background: transparent;
  outline: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none !important;
}