@import (once) "variables";
@import (once) "helper";

header.main-header {
  height: @navbar-height;
}

.navbar {
  background: #fff;
  height: @navbar-height;
  width: 100%;
  color: @color-primary;
  font-weight: @noto-light;
  font-family: @font;
  position: fixed;
  z-index: 1001;

  // pokud zde někdo napiše overflow:hidden udělám z něj dva kusy.
  // pak nefunguje vyhledávání...

  .navbar-logo {
    height: @navbar-height;
    width: @navbar-height;
    display: inline-block;
    float: left;
    .group-clearfix();
    z-index: 999;

    .necktie();

    i {
      margin: (@navbar-height - @logo-height)/2;
      display: block;
      height: @logo-height;
      width: @logo-height;
    }

    a {
      font-size: 30px;
      display: inline-block;
      width: 100%;
      height: 100%;
      color: #fff;
    }
  }

  #navbar-left {
    width: @sidebar-width;
    background: @color-primary;

    #navbar-project {
      height: @navbar-height;

      #project-select{
        color: #fff;
        margin: (@navbar-height - 33px)/2 1em;
        span {
          display: block;
          font-weight: 300;
          font-size: 12px;
        }
        .title{
          font-size: 14px;
          font-weight: bold;
        }

        a{
          color: @color-white;
        }
      }
    }

    #main-menu-button {
      background: @color-primary;
      border: none;
      padding: 0;
      font-size: 22px;
      margin: (@navbar-height - 22px) / 2;
    }
  }
}
