/**************************************

  Navbar popup elements
    - labels, input and wrappers for popup contents
    - notifications, user profile, quick links and
    - classes for space between

**************************************/
@import (once) "helper";
@import (once) "variables";

.navbar-items{
  .navbar-title {
    font-size: 20px;
    color: @color-primary;
    line-height: @navbar-height;
    padding-left: 10px;
  }

  .navbar-actions {
    float: right;
    margin-top: 3px;
  }

  .navbar-search{
    font-size: 28px;
    margin-right: 10px;
    color: @color-primary;
    float: left;
    border: 1px solid transparent;
    line-height: 1;
    padding: 5px;
    cursor: pointer;
    margin-top: 2px;

    &:hover{
      border-radius: 30px;
      border: 1px solid @color-border;
      background:  @color-border;
    }
  }
}
