/**
    Top sidebar
    - logo
    - search
    - favourites items
    - logout
    - etc
*/
@import (once) "variables";
@import (once) "helper";

// for body
&.navbar-fixed {
  padding-top: @navbar-height + 15px;

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
  }
}

#navbar-left {
  width: @sidebar-width;
  background: @color-primary;

  #navbar-project {

    #project-select{
      color: #fff;
      margin: (@navbar-height - 33px)/2 1em;
      span{
        display: block;
        font-weight: 300;
        font-size: 12px;
      }
      .title{
        font-size: 14px;
        font-weight: bold;
      }
    }
  }

  #main-menu-button {
    background: @color-primary;
    border: none;
    padding: 0;
    font-size: 22px;
    margin: (@navbar-height - 22px) / 2;
  }
}

.navbar {
  background: #fff;
  height: @navbar-height;
  width: 100%;
  color: @navbar-font-color;
  font-weight: @noto-light;
  font-family: @font;

  .navbar-logo {
    height: @navbar-height;
    width: @navbar-height;
    display: inline-block;
    float: left;
    .group-clearfix();
    z-index: 999;

    // TODO: use variables
    background: #6F68F9;
    background-image: -o-linear-gradient(left top, #6F68F9 0%, #17bdff 100%);
    background-image: -moz-linear-gradient(left top, #6F68F9 0%, #17bdff 100%);
    background-image: -webkit-linear-gradient(left top, #6F68F9 0%, #17bdff 100%);
    background-image: -ms-linear-gradient(left top, #6F68F9 0%, #17bdff 100%);
    background-image: linear-gradient(to left top, #6F68F9 0%, #17bdff 100%);

    i {
      margin: (@navbar-height - @logo-height)/2;
      display: block;
      height: @logo-height;
      width: @logo-height;
    }

    a {
      font-size: 30px;
      display: inline-block;
      width: 100%;
      height: 100%;
      color: #fff;
    }
  }

  #navbar-project {
    float: left;
    height: @navbar-height;
  }

  .navbar-container{
    width: 80%;
  }
}
