@import "variables";
@import "helper";

@li-active-bc: #f8f3f0;
@color-primary: #515974;
@sidebar-background: #fff;
@sidebar-font-color: @color-primary;

@sidebar-hover-background-color: #e4ebf7;


/* sidebar top */

#navbar-project{

  #project-select{
    color: #fff;
    margin: 0.7em;
    span{
      display: block;
      font-weight: 300;
      margin-bottom: 2px;
    }
    .title{
      font-size: 13px;
    }
  }
}



/** fix */
.container-with-sidebar {
  padding-left: @sidebar-width !important;
}

// left sidebar menu items
#sidebar {
  z-index: 99;
  font-family: Roboto, sans-serif;
  width: @sidebar-width;
  height: 100%;
  position: fixed;
  padding-bottom: 0;
  background: @sidebar-background;

  /** window resize fix **/
  top: 0;
  padding-top: @navbar-height;
  /** end **/

  label{
    width: 100%;
  }


  ul{
    &.sidebar {
      /** window resize fix **/
      height: 100%;
      overflow-y: auto;
      margin-top: 10%;
      padding-left: 0;
      margin-left: 0;
      /** end **/

      li {
        width: 100%;
        position: relative;
        cursor: pointer;
        list-style-type: none;
        color: @sidebar-font-color;
        margin-bottom: 3px;

        & > a, .a{
          display: block;
          margin-left: 0.6em;
          margin-right: 0.6em;
          border-radius: 5px;
          padding: 10px 10px;
          font-size: 14px;
        }

        &.active{
          & > a, .a{
            background: @sidebar-hover-background-color;
            font-weight: 600;
          }

          &:before{
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 0 10px 5px;
            margin-top: 10px;
            float: left;
            border-color: transparent transparent transparent #6F68F9;
          }
        }

        &:hover{
          & > a{
            background: @sidebar-hover-background-color;
          }
        }

        ul {
          padding-top: 3px;
          display: none;

          li{
            padding: 0;
            a{
              font-size: 12px;
              padding: 2px;
              background: transparent;
            }
          }

          li:hover{
            a{
              background: transparent;
              color: @color-primary;
            }
          }
        }

        i {
          margin: 0 0.5em 0 0;
          float: left;
          display: inline-block;
          font-size: 22px;
          transition: .3s;
          color: @sidebar-font-color;
        }
      }
    }
  }
}


#sidebar .drop-down {

  &.last {
    margin-bottom: 19px;
  }

  display: block;
  border-radius: 0;

  .fix-a {
    display: none;
  }

  .tiecons-plus-light, .tiecons-arrow-tall-normal-down {
    position: absolute;
    right: 0;
    margin-right: 15px;
    top: 0;
  }

  .tiecons-minus-light, .tiecons-arrow-tall-normal-up {
    position: absolute;
    display: none;
    right: 0;
    margin-right: 15px;
    top: 0;
  }


  ul.drop {
    display: none;
    padding: 0;
    margin: 0;
    a {
      padding-left: 35px;
    }
  }

  input:checked ~ .a {
    background: @sidebar-hover-background-color;
    color: @color-primary;
    font-weight: 600;
    i {
      color: @color-primary;
    }
  }

  input:checked ~ .a .trinity-dropdown-icon i.tiecons-arrow-tall-normal-down {
    display: none;
  }

  input:checked ~ .a .trinity-dropdown-icon i.tiecons-arrow-tall-normal-up {
    display: block;
  }

  input:checked ~ ul.drop {
    display: block;
    visibility: visible;
    opacity: 1;
    top: 0;
    position: static;
    box-shadow: none;
    border-radius: 0;
  }
}