@import (once) "helper";
@import "variables";

/**************************************

  Tabs - wrapper and labels
       _______________
      | Edit | Delete |____
      |                    |
      |       Content      |
      |____________________|

**************************************/

.tabs-wrapper{
  border: none;
  box-shadow: none;


  & > label{
    border: none;
    border-bottom: 3px solid transparent;
    transition: all 0.2s ease;
    color: @color-primary;
    margin-right: 25px;
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    padding-left: 2px;
    padding-right: 2px;
    text-shadow: 0 0 0 2px transparent;

    &:first-of-type{
      margin-left: 20px;
    }
  }


  .tab-body-wrapper{
    border: none;
    box-shadow: none;
    border-top: 1px solid @color-border;
  }


  & > input[name=tab]:checked+label{
    border-top: 0 !important; // ???
    border-bottom: 3px solid @color-primary;
  }


  .tab-body{
    padding: 20px;
  }


  form{
    label{
      width: 100%;
      border:  none;
      text-align: left !important;
    }
  }
}