@import (once) "helper";
/**************************************
  SHAME
**************************************/
@page-padding: 10px;

/** END SHAME */


/**************************************
  FONT (Noto)
**************************************/
@font: "Noto Sans", sans-serif;
@icon-font: "Material Design Icons";

@noto-thin: 100;
@noto-light: 300;
@noto-regular: 400;
@noto-bold: 700;

/** End font */


/**************************************
  Global parameters
**************************************/

/* Basic Colors  */
@color-white: #fff;
// TODO remove all color-grey-{num}
@color-grey-1: #F7F8FC;
@color-grey-2: #E4EAF6;
@color-grey-3: #E0E7F1;
@color-grey-4: #CFD2D9;

@color-grey-lighter: #f6f8fc;
@color-grey-light: #e4ebf7; // for back background, disabled line button, unchecked checkbox/radio buttons
@color-grey: #e1e7f0; // for disabled inputs
@color-grey-dark: #d0d2d9; // for input borders

@color-orange: #ff7800;
@color-orange-darker: #f9452d;
@color-red: #fa4a28; // todo @TomasJancar odkud?
@color-green: #7FB93D;
@color-darkgreen: #038d4a;
@color-blue: #17BDFF;

/** Design palete Colors (primary, secondary, tertiary) **/
@color-primary: #515974;
@color-primary-hover: darken(@color-primary, 10%);
@color-secondary: #6F68F9;
@color-tertiary: #1ABB9C;

/*  Used for e.g. button  */
@color-info: @color-blue;
@color-warning: #fc5e17;
@color-danger: #c93236; // Not from PSD
@color-success: #5da423;

/** Gradients **/
@color-grey-gradient1: #ebeef3; // special grey 1 only for gradient
@color-grey-gradient2: #cbd2df; // special grey 2 only for gradient
@color-orange-gradient1: @color-orange;
@color-orange-gradient2: @color-orange-darker;
@color-green-gradient1: @color-green;
@color-green-gradient2: @color-darkgreen;
@color-necktie-gradient1: @color-secondary;
@color-necktie-gradient2: @color-blue;

/**************************************
  Global Element variables
**************************************/
@color-border: @color-grey-dark;


/**************************************
  Administration layout
**************************************/
@background-color: @color-grey-light; // grey background from other pages


/**************************************
  Navbar parameters
**************************************/
@navbar-height: 50px;

/*  Logo  */
@logo-height: 30px;
@logo-width: @logo-height;


/**************************************
  Sidebar parameters
**************************************/

@sidebar-width: 230px;
@sidebar-font-size: 14px;
@sidebar-drop-font-size: 13px;
@sidebar-icon-font-size: 21px;


/**************************************
  Grid parameters
**************************************/
@header-font-color: @color-white;
@grid-even-row-color: @color-grey-lighter;
@grid-row-min-height: 43px;


/**************************************
  Widgets
**************************************/
@widget-space: 10px; //Space between widgets in grid

.green(){
  .vertical-gradient(@color-green-gradient2, @color-green-gradient1)
}
//.green(){
//  background: @color-green;
//  background-image: -moz-linear-gradient(top, @color-green-gradient1 0%, @color-green-gradient2 100%);
//  background-image: -webkit-gradient(left top, left bottom, color-stop(0%, @color-green-gradient1), color-stop(100%, @color-green-gradient2));
//  background-image: -webkit-linear-gradient(top, @color-green-gradient1 0%, @color-green-gradient2 100%);
//  background-image: -o-linear-image-gradient(top, @color-green-gradient1 0%, @color-green-gradient2 100%);
//  background-image: -ms-linear-gradient(top, @color-green-gradient1 0%, @color-green-gradient2 100%);
//  background-image: linear-gradient(to bottom, @color-green-gradient1 0%, @color-green-gradient2 100%);
//  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@color-green-gradient1, endColorstr=@color-green-gradient2, GradientType=0 );
//}
.necktie(){
  .diagonal-left-top-gradient(@color-necktie-gradient2, @color-necktie-gradient1);
}

//.necktie(){
//  background-color: @color-necktie-gradient1;
//  background-image: -moz-linear-gradient(left top, @color-necktie-gradient1 0%, @color-necktie-gradient2 100%);
//  background-image: -webkit-gradient(left top, right bottom, color-stop(0%, @color-necktie-gradient1), color-stop(100%, @color-necktie-gradient2));
//  background-image: -webkit-linear-gradient(right bottom, @color-necktie-gradient1 0%, @color-necktie-gradient2 100%);
//  background-image: -o-linear-gradient(left top, @color-necktie-gradient1 0%, @color-necktie-gradient2 100%);
//  background-image: -ms-linear-gradient(left top, @color-necktie-gradient1 0%, @color-necktie-gradient2 100%);
//  background-image: linear-gradient(to left top, @color-necktie-gradient1 0%, @color-necktie-gradient2 100%);
//}


