/**
  Font
*/

@font: "Noto Sans", sans-serif;
@icon-font: "Material Design Icons";

/**
  End font
*/

@page-padding: 10px;
@color-border: #ededed;

/**************************************
  Global parameters
**************************************/

/*  Colors - primary,secondary... */
@background-color: #e4ebf7;

@color-primary: #525975;
@color-primary-hover: darken(@color-primary, 10%);
@color-primary-inverse: inverse(@color-primary);
@color-secondary: #6F68F9;
@color-tertiary: #1ABB9C;

@color-red: #fa4a28;

@color-blue: #17BDFF;
@color-necktie-gradient1: @color-secondary;
@color-necktie-gradient2: @color-blue;

@color-grey-1: #F7F8FC;
@color-grey-2: #E4EAF6;
@color-grey-3: #E0E7F1;
@color-grey-4: #CFD2D9;
@color-grey-gradient1: #EBEEF3;
@color-grey-gradient2: #CBD3E0;

@color-orange-gradient1: #ff7801;
@color-orange-gradient2: #f9452d;

@color-border: #dbe2ed;
@color-white: #fff;

@color-green: #7FB93D;
@color-darkgreen: #038d4a;
@color-green-gradient1: @color-green;
@color-green-gradient2: @color-darkgreen;


/*  Used for e.g. button  */
@color-info: #18BDFF;
@color-warning: #ff8939;
@color-danger: #c93236;
@color-success: #5da423;
@color-success-notification: #f6e064;

/*  Fonts  */
@global-font-color: #303030;
@global-header-color: #2d323e;
@font-size-button: 18px;

/*  Tabs  */
@tabs-color-label: #7d7d7d;

/*  Grid  */
@grid-even-row-color: #f6f8fc;
@grid-row-min-height: 43px;

/*  Widgets  */
@widget-space: 10px; //Space between widgets in grid

/**************************************
  Navbar parameters
**************************************/
@navbar-height: 50px;
@navbar-font-color: #a0a2a5;
@navbar-font-icon-size: 20px;

/*  Logo  */
@logo-height: 30px;
@logo-width: @logo-height;

/* Search */

/**************************************
  Sidebar parameters
**************************************/

@sidebar-width: 230px;
@sidebar-back-color: #2d323e;

@sidebar-row-height: 50px;
@sidebar-icon-font-size: 21px;
@sidebar-font-size: 14px;
@sidebar-link-color: #595959;

/**************************************
  Grid parameters
**************************************/
@header-font-color: #fff;

/**************************************
  Noto font-weight
**************************************/
@noto-thin: 100;
@noto-light: 300;
@noto-regular: 400;
@noto-medium: 500;
@noto-bold: 700;

.green(){
  background: @color-green;
  background-image: -moz-linear-gradient(top, @color-green-gradient1 0%, @color-green-gradient2 100%);
  background-image: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(127,185,61,1)), color-stop(100%, @color-green-gradient2));
  background-image: -webkit-linear-gradient(top, @color-green-gradient1 0%, @color-green-gradient2 100%);
  background-image: -o-linear-image-gradient(top, @color-green-gradient1 0%, @color-green-gradient2 100%);
  background-image: -ms-linear-gradient(top, @color-green-gradient1 0%, @color-green-gradient2 100%);
  background-image: linear-gradient(to bottom, @color-green-gradient1 0%, @color-green-gradient2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@color-green-gradient1, endColorstr=@color-green-gradient2, GradientType=0 );
}

.necktie(){
  background-color: @color-necktie-gradient1;
  background-image: -moz-linear-gradient(left top, @color-necktie-gradient1 0%, @color-necktie-gradient2 100%);
  background-image: -webkit-gradient(left top, right bottom, color-stop(0%, @color-necktie-gradient1), color-stop(100%, @color-necktie-gradient2));
  background-image: -webkit-linear-gradient(right bottom, @color-necktie-gradient1 0%, @color-necktie-gradient2 100%);
  background-image: -o-linear-gradient(left top, @color-necktie-gradient1 0%, @color-necktie-gradient2 100%);
  background-image: -ms-linear-gradient(left top, @color-necktie-gradient1 0%, @color-necktie-gradient2 100%);
  background-image: linear-gradient(to left top, @color-necktie-gradient1 0%, @color-necktie-gradient2 100%);
}