/**
  Font
*/

@font: Roboto, sans-serif;

/**
  End font
*/

@color-border: #ededed;
@color-font: #303030;
@form-tr-time: 0.3s;

@hover-timing: 0.3s;
@header-min-height: 100px;

@grid-search-height: 32px;
@search-time: 0.3s;
@search-font-size: 14px;

@link-font-color: darken(desaturate(@color-primary, 75%), 17%);

/**************************************
  Global parameters
**************************************/

/*  Colors - primary,secondary... */
@back-color: #e4ebf7;

@color-primary: #515974;
@color-primary-hover: darken(@color-primary, 10%);
@color-primary-inverse: inverse(@color-primary);
@color-secondary: #2d323e;
@color-tertiary: #1ABB9C;
@color-red: #fa4a28;
@color-blue: #17bdff;
@color-purple: #6f68f9;
@color-grey-1: #c9d5e9;
@color-border: #dbe2ed;


@global-row-hover: #f8f8f8;


/*  Used for e.g. button  */
@color-info: #61ccba;
@color-warning: #ff8939;
@color-danger: #c93236;
@color-success: #5da423;
@color-success-notification: #f6e064;
@color-grey-link: #8f8f8f;

/*  Fonts  */
@global-font-color: #303030;
@global-header-color: #2d323e;
@font-size-button: 18px;

/*  Tabs  */
@tabs-max-count: 8; //There are max, min width for tab and some media-queries for fit
@tabs-hover-color: @color-tertiary;
@tabs-color-label: #7d7d7d;

/*  Widgets  */
@widget-space: 10px; //Space between widgets in grid

/**************************************
  Navbar parameters
**************************************/
@navbar-height: 60px;
@navbar-font-color: #a0a2a5;
@navbar-font-icon-size: 20px;

/*  Logo  */
@logo-width: 122px;
@logo-height: 30px;

/* Search */

/**************************************
  Sidebar parameters
**************************************/

@sidebar-width: 240px;
@sidebar-back-color: #2d323e;

@sidebar-row-height: 50px;
@sidebar-icon-font-size: 22px;
@sidebar-font-size: 15px;
@sidebar-link-color: #595959;

@sidebar-detail-width: 200px;
@sidebar-row-hover-color: #f2f2f2;
@sidebar-navbar-notifi: #ffffff;
@sidebar-detail-color: #838383;

@sidebar-hover-color: @sidebar-font-color-active;
@sidebar-hover-back-color: #282c37;

@sidebar-font-color: #adadad;
@sidebar-font-color-active: #fff;
@sidebar-back-active: #282c37;
@sidebar-drop-border-bottom-color: darken(#334d65, 1%);
@sidebar-drop-font-color-active: #fff;
@sidebar-drop-back-color-active: darken(#334d65, 10%);



/**************************************
  Grid parameters
**************************************/
@header-font-color: #2f2f2f;

/**************************************
  Roboto font-weight
**************************************/
@roboto-thin: 100;
@roboto-light: 300;
@roboto-regular: 400;
@roboto-medium: 500;
@roboto-bold: 700;


.green(){
  background: rgba(127,185,61,1);
  background: -moz-linear-gradient(top, rgba(127,185,61,1) 0%, rgba(3,141,74,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(127,185,61,1)), color-stop(100%, rgba(3,141,74,1)));
  background: -webkit-linear-gradient(top, rgba(127,185,61,1) 0%, rgba(3,141,74,1) 100%);
  background: -o-linear-gradient(top, rgba(127,185,61,1) 0%, rgba(3,141,74,1) 100%);
  background: -ms-linear-gradient(top, rgba(127,185,61,1) 0%, rgba(3,141,74,1) 100%);
  background: linear-gradient(to bottom, rgba(127,185,61,1) 0%, rgba(3,141,74,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fb93d', endColorstr='#038d4a', GradientType=0 );
}

.necktie(){
  background: rgba(25,190,255,1);
  background: -moz-linear-gradient(top, rgba(25,190,255,1) 0%, rgba(109,106,249,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(25,190,255,1)), color-stop(100%, rgba(109,106,249,1)));
  background: -webkit-linear-gradient(top, rgba(25,190,255,1) 0%, rgba(109,106,249,1) 100%);
  background: -o-linear-gradient(top, rgba(25,190,255,1) 0%, rgba(109,106,249,1) 100%);
  background: -ms-linear-gradient(top, rgba(25,190,255,1) 0%, rgba(109,106,249,1) 100%);
  background: linear-gradient(to bottom, rgba(25,190,255,1) 0%, rgba(109,106,249,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19beff', endColorstr='#6d6af9', GradientType=0 );
}