{# Default template for all form's rows #}

{# Form label and widget wrappers can be defined here. #}

{# This can be used for creating custom form rows using the {% embed '' %} tag. #}

{# Most of the time, you'll only need to override these:
block form_row_label_content
block form_row_input_content

Overriding empty blocks will not mess up label and widget's width
#}

{% block form_row_template %}
    {% set hide_collection_labels = false %}
    {% set collection_wrapper = false %}  {#Collection or collection widget wrapper (inner)#}

     {#Check if collection labels should be displayed:#}
    {% if form is defined and form.parent is not null %}
        {% if form.vars.attr["hide-collection-labels"] is defined %}
            {% set hide_collection_labels = true %}
            {% set collection_wrapper = true %}  {#This form_row wraps the whole collection#}
        {% endif %}

        {% if form.parent.parent is defined and form.parent.parent is not null %}
            {% if form.parent.parent.vars.attr["hide-collection-labels"] is defined %}
                {% set hide_collection_labels = true %}
                {% set collection_wrapper = false %} {# This form_row wraps collection rows (inner)#}
            {% endif %}
        {% endif %}
    {% endif %}

    {% block form_row_content_start %}{% endblock form_row_content_start %}

    {% block form_row_start %}
        {#{% if hide_collection_labels %}#}
            {#<div class="">#}
        {#{% else %}#}
            {# Default wrapper for entire form rows #}
            {#<div class="">#}
        {#{% endif %}#}
    {% endblock form_row_start %}

        {% block form_row_content %}{% endblock form_row_content %}

        {% block form_row_label_template %}

            {% block form_row_label_start %}
                {% if hide_collection_labels %}
                    <div class="display-none">
                {% endif %}
            {% endblock form_row_label_start %}

               {#Use this block to override form label content #}
              {% block form_row_label_content %}{% endblock form_row_label_content %}

            {% if hide_collection_labels %}
                </div>
            {% endif %}

        {% endblock form_row_label_template %}

        {% block form_row_input_template %}

            {#{% block form_row_input_start %}#}
                {#{% if hide_collection_labels and collection_wrapper %}#}
                    {#<div class="form-right">#}
                {#{% elseif hide_collection_labels and not collection_wrapper %}#}
                    {#<div class="form-right">#}
                {#{% else %}#}
                    {# Default wrapper for form row widgets #}
                    {#<div class="form-right">#}
                {#{% endif %}#}
            {#{% endblock form_row_input_start %}#}

                {# Use this block to override form widget content #}
                {% block form_row_input_content %}{% endblock form_row_input_content %}
            {#</div>#}
        {% endblock form_row_input_template %}

        {% block form_row_content_end %}{% endblock form_row_content_end %}
    {#</div>#}
{% endblock form_row_template %}