/**************************************

    !!! This less file is only for error page. !!!
    (400, 404, 500, ...)
    php compile this less

    @ignore -> there will be new graphic

**************************************/
/**************************************

    Functions - mixins

**************************************/
/**************************************
  SHAME
**************************************/
/** END SHAME */
/**************************************
  FONT (Noto)
**************************************/
/** End font */
/**************************************
  Global parameters
**************************************/
/* Basic Colors  */
/** Design palete Colors (primary, secondary, tertiary) **/
/*  Used for e.g. button  */
/** Gradients **/
/**************************************
  Global Element variables
**************************************/
/**************************************
  Administration layout
**************************************/
/**************************************
  Navbar parameters
**************************************/
/*  Logo  */
/**************************************
  Sidebar parameters
**************************************/
/**************************************
  Grid parameters
**************************************/
/**************************************
  Widgets
**************************************/
.box {
  background: #fff;
}
.pointer {
  cursor: pointer;
}
.group-clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.object-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.select-clear {
  background: transparent;
  outline: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none !important;
}
/**************************************

  Default buttons for forms and others

**************************************/
:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}
.button {
  text-align: center;
  font-weight: 400;
  text-decoration: none;
  line-height: 1;
  border: 1px #d0d2d9 solid;
  margin: 5px;
  white-space: nowrap;
  background: #afafaf;
  color: #fff;
  cursor: pointer;
  transition: .3s;
  font-size: 14px;
  padding: 9px 35px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
.button:hover {
  color: #fff;
  background: #fbfbff;
}
.button-medium {
  padding: 8px 18px;
  font-size: 12px;
  width: auto;
}
.button-small {
  padding: 6px 15px;
  font-size: 10px;
  width: auto;
}
.button-success {
  box-shadow: none;
  border: none;
  background: #7FB93D;
  background-image: -moz-linear-gradient(top, #7FB93D 0%, #038d4a 100%);
  background-image: -webkit-gradient(left top, left bottom, color-stop(0%, #7FB93D), color-stop(100%, #038d4a));
  background-image: -webkit-linear-gradient(top, #7FB93D 0%, #038d4a 100%);
  background-image: -o-linear-image-gradient(top, #7FB93D 0%, #038d4a 100%);
  background-image: -ms-linear-gradient(top, #7FB93D 0%, #038d4a 100%);
  background-image: linear-gradient(to bottom, #7FB93D 0%, #038d4a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FB93D, endColorstr=#038d4a, GradientType=0);
}
.button-success:hover {
  background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%201%201%22%20preserveAspectRatio%3D%22none%22%3E%3ClinearGradient%20id%3D%22gradient%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%220%25%22%20y1%3D%220%25%22%20x2%3D%220%25%22%20y2%3D%22100%25%22%3E%3Cstop%20offset%3D%220%25%22%20stop-color%3D%22%23659330%22%2F%3E%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22%23025b30%22%2F%3E%3C%2FlinearGradient%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22url(%23gradient)%22%20%2F%3E%3C%2Fsvg%3E');
  border: none;
}
.button-info {
  box-shadow: none;
}
.button-primary {
  padding: 9px 13px;
  color: #fff;
  background: #515974;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
  border: 1px solid #515974;
  border-radius: 20px;
}
.button-primary:hover {
  background: #3c4256;
  color: #fff;
}
.button-primary-inverse {
  padding: 9px 13px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
  border: 1px solid #fff;
  border-radius: 20px;
  background: #515974;
}
.button-primary-inverse:hover {
  background: #fff;
  color: #515974;
}
.button-secondary {
  background-color: #6F68F9;
  border: 1.5px solid #fff;
  box-shadow: 0 0 0 1px #d0d2d9;
}
.button-secondary:hover {
  background-color: #4037f7;
}
.button-tertiary {
  background: #1ABB9C;
  border: none;
  box-shadow: none;
}
.button-tertiary:hover {
  background: #117864;
  border: none;
}
.button-info {
  background-color: #17BDFF;
  box-shadow: none;
  border: none;
}
.button-info:hover {
  background-color: #007eb0;
  border: none;
}
.button-danger {
  background-color: #c93236;
  box-shadow: none;
  border: none;
}
.button-danger:hover {
  background-color: #8c2326;
  border: none;
}
.button-red {
  color: #fff;
  background-color: #fa4a28;
  border: 1px dashed #f9350f;
}
.button-red:hover {
  background-color: #f9350f;
  border: 1px solid #ea2a05;
}
.button-necktie {
  background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%201%201%22%20preserveAspectRatio%3D%22none%22%3E%3ClinearGradient%20id%3D%22gradient%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%220%25%22%20y1%3D%220%25%22%20x2%3D%220%25%22%20y2%3D%22100%25%22%3E%3Cstop%20offset%3D%220%25%22%20stop-color%3D%22%236f68f9%22%2F%3E%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22%2317bdff%22%2F%3E%3C%2FlinearGradient%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22url(%23gradient)%22%20%2F%3E%3C%2Fsvg%3E');
  border: 1.5px solid #fff;
  box-shadow: 0 0 0 1px #d0d2d9;
}
.button-necktie:hover {
  background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%201%201%22%20preserveAspectRatio%3D%22none%22%3E%3ClinearGradient%20id%3D%22gradient%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%220%25%22%20y1%3D%220%25%22%20x2%3D%220%25%22%20y2%3D%22100%25%22%3E%3Cstop%20offset%3D%220%25%22%20stop-color%3D%22%234037f7%22%2F%3E%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22%2300a2e3%22%2F%3E%3C%2FlinearGradient%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22url(%23gradient)%22%20%2F%3E%3C%2Fsvg%3E');
}
.button-delete:hover {
  background: #fa4a28 !important;
  border: 1px solid #ea2a05 !important;
}
.button-line {
  border: 1px solid #515974;
  background: transparent;
  color: #515974;
}
.button-line:hover {
  background: #515974;
  color: #fff;
}
.button-disabled,
.button:disabled {
  border: 1px solid #515974;
  background: transparent;
  color: #515974;
  padding: 9px 13.5px;
  opacity: 0.5;
  cursor: not-allowed;
}
.button-disabled:hover,
.button:disabled:hover {
  background: transparent;
  color: #515974;
}
.button-grey-gradient {
  background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%201%201%22%20preserveAspectRatio%3D%22none%22%3E%3ClinearGradient%20id%3D%22gradient%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%220%25%22%20y1%3D%220%25%22%20x2%3D%220%25%22%20y2%3D%22100%25%22%3E%3Cstop%20offset%3D%220%25%22%20stop-color%3D%22%23ebeef3%22%2F%3E%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22%23cbd2df%22%2F%3E%3C%2FlinearGradient%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22url(%23gradient)%22%20%2F%3E%3C%2Fsvg%3E');
  border: none;
  color: #515974;
}
.button-grey-gradient:hover {
  background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%201%201%22%20preserveAspectRatio%3D%22none%22%3E%3ClinearGradient%20id%3D%22gradient%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%220%25%22%20y1%3D%220%25%22%20x2%3D%220%25%22%20y2%3D%22100%25%22%3E%3Cstop%20offset%3D%220%25%22%20stop-color%3D%22%23cbd3e0%22%2F%3E%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22%23abb7cc%22%2F%3E%3C%2FlinearGradient%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22url(%23gradient)%22%20%2F%3E%3C%2Fsvg%3E');
  border: none;
}
.button-grey-1 {
  background: #F7F8FC;
  color: #515974;
  border: none;
}
.button-grey-1:hover {
  background: #d2d8ee;
  color: #515974;
  border: none;
}
.button-grey-2 {
  background: #E4EAF6;
  color: #515974;
  border: none;
}
.button-grey-2:hover {
  background: #becce9;
  color: #515974;
  border: none;
}
.button-grey-3 {
  background: #E0E7F1;
  color: #515974;
  border: none;
}
.button-grey-3:hover {
  background: #bdcce1;
  color: #515974;
  border: none;
}
.button-grey-4 {
  background: #CFD2D9;
  color: #515974;
  border: none;
}
.button-grey-4:hover {
  background: #b3b7c2;
  color: #515974;
  border: none;
}
.button-orange-gradient {
  background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%201%201%22%20preserveAspectRatio%3D%22none%22%3E%3ClinearGradient%20id%3D%22gradient%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%220%25%22%20y1%3D%220%25%22%20x2%3D%220%25%22%20y2%3D%22100%25%22%3E%3Cstop%20offset%3D%220%25%22%20stop-color%3D%22%23ff7800%22%2F%3E%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22%23f9452d%22%2F%3E%3C%2FlinearGradient%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22url(%23gradient)%22%20%2F%3E%3C%2Fsvg%3E');
  border: none;
}
.button-orange-gradient:hover {
  background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%201%201%22%20preserveAspectRatio%3D%22none%22%3E%3ClinearGradient%20id%3D%22gradient%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%220%25%22%20y1%3D%220%25%22%20x2%3D%220%25%22%20y2%3D%22100%25%22%3E%3Cstop%20offset%3D%220%25%22%20stop-color%3D%22%23cc6000%22%2F%3E%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22%23ec2207%22%2F%3E%3C%2FlinearGradient%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22url(%23gradient)%22%20%2F%3E%3C%2Fsvg%3E');
  border: none;
}
.button-loading {
  background: #515974;
}
.button-loading:after {
  content: "\F450";
  speak: none;
  min-width: 16px;
  display: inline-block;
  margin-left: 5px;
  font-family: "Material Design Icons";
  -webkit-animation: spin 3s linear infinite;
  -moz-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
.button-loading:hover {
  background: #272b38;
}
.button-success:after {
  content: '\F12C';
  font-family: "Material Design Icons";
  speak: none;
  min-width: 16px;
  display: inline-block;
  margin-left: 5px;
}
.button-error:after {
  content: '\F02A';
  font-family: "Material Design Icons";
  speak: none;
  min-width: 16px;
  display: inline-block;
  margin-left: 5px;
}
.button-ready.button-save:after {
  content: '\F193';
  font-family: "Material Design Icons";
  speak: none;
  min-width: 16px;
  display: inline-block;
  margin-left: 5px;
}
.button-ready.button-remove:after {
  content: '\F1C0';
  font-family: "Material Design Icons";
  speak: none;
  min-width: 16px;
  display: inline-block;
  margin-left: 5px;
}
.btn-group.group-conditions label {
  border: 1px solid #515974;
}
body,
html {
  height: 100%;
  font-family: "Noto Sans", sans-serif;
}
body {
  position: relative;
  background: #696969;
  color: #fff;
}
body h1 {
  text-align: center;
  width: 100%;
  font-size: 90px;
  margin-bottom: 50px;
}
body .title {
  font-size: 50px;
  font-weight: 300;
  text-shadow: 1px 1px 1px #000000;
}
body .title span {
  font-weight: 300;
}
body .title i {
  color: #c30000;
}
body .message {
  text-shadow: 1px 1px 1px #000000;
}
body .content {
  position: absolute;
  left: 50%;
  top: 51%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  color: #fff;
  z-index: 3;
  text-align: center;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 300;
}
body .button-success {
  text-align: center;
  font-weight: 400;
  text-decoration: none;
  line-height: 1;
  border: 1px #d0d2d9 solid;
  margin: 5px;
  white-space: nowrap;
  background: #afafaf;
  color: #fff;
  cursor: pointer;
  transition: .3s;
  font-size: 14px;
  padding: 9px 35px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  display: inline-block;
  margin: 15px;
  border: none !important;
  box-shadow: 0 -3px 0 0 #457A1A inset;
}
body .button-success:hover {
  color: #fff;
  background: #fbfbff;
}
body .button-success-medium {
  padding: 8px 18px;
  font-size: 12px;
  width: auto;
}
body .button-success-small {
  padding: 6px 15px;
  font-size: 10px;
  width: auto;
}
body .button-success-success {
  box-shadow: none;
  border: none;
  background: #7FB93D;
  background-image: -moz-linear-gradient(top, #7FB93D 0%, #038d4a 100%);
  background-image: -webkit-gradient(left top, left bottom, color-stop(0%, #7FB93D), color-stop(100%, #038d4a));
  background-image: -webkit-linear-gradient(top, #7FB93D 0%, #038d4a 100%);
  background-image: -o-linear-image-gradient(top, #7FB93D 0%, #038d4a 100%);
  background-image: -ms-linear-gradient(top, #7FB93D 0%, #038d4a 100%);
  background-image: linear-gradient(to bottom, #7FB93D 0%, #038d4a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FB93D, endColorstr=#038d4a, GradientType=0);
}
body .button-success-success:hover {
  background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%201%201%22%20preserveAspectRatio%3D%22none%22%3E%3ClinearGradient%20id%3D%22gradient%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%220%25%22%20y1%3D%220%25%22%20x2%3D%220%25%22%20y2%3D%22100%25%22%3E%3Cstop%20offset%3D%220%25%22%20stop-color%3D%22%23659330%22%2F%3E%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22%23025b30%22%2F%3E%3C%2FlinearGradient%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22url(%23gradient)%22%20%2F%3E%3C%2Fsvg%3E');
  border: none;
}
body .button-success-info {
  box-shadow: none;
}
body .button-success-primary {
  padding: 9px 13px;
  color: #fff;
  background: #515974;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
  border: 1px solid #515974;
  border-radius: 20px;
}
body .button-success-primary:hover {
  background: #3c4256;
  color: #fff;
}
body .button-success-primary-inverse {
  padding: 9px 13px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
  border: 1px solid #fff;
  border-radius: 20px;
  background: #515974;
}
body .button-success-primary-inverse:hover {
  background: #fff;
  color: #515974;
}
body .button-success-secondary {
  background-color: #6F68F9;
  border: 1.5px solid #fff;
  box-shadow: 0 0 0 1px #d0d2d9;
}
body .button-success-secondary:hover {
  background-color: #4037f7;
}
body .button-success-tertiary {
  background: #1ABB9C;
  border: none;
  box-shadow: none;
}
body .button-success-tertiary:hover {
  background: #117864;
  border: none;
}
body .button-success-info {
  background-color: #17BDFF;
  box-shadow: none;
  border: none;
}
body .button-success-info:hover {
  background-color: #007eb0;
  border: none;
}
body .button-success-danger {
  background-color: #c93236;
  box-shadow: none;
  border: none;
}
body .button-success-danger:hover {
  background-color: #8c2326;
  border: none;
}
body .button-success-red {
  color: #fff;
  background-color: #fa4a28;
  border: 1px dashed #f9350f;
}
body .button-success-red:hover {
  background-color: #f9350f;
  border: 1px solid #ea2a05;
}
body .button-success-necktie {
  background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%201%201%22%20preserveAspectRatio%3D%22none%22%3E%3ClinearGradient%20id%3D%22gradient%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%220%25%22%20y1%3D%220%25%22%20x2%3D%220%25%22%20y2%3D%22100%25%22%3E%3Cstop%20offset%3D%220%25%22%20stop-color%3D%22%236f68f9%22%2F%3E%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22%2317bdff%22%2F%3E%3C%2FlinearGradient%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22url(%23gradient)%22%20%2F%3E%3C%2Fsvg%3E');
  border: 1.5px solid #fff;
  box-shadow: 0 0 0 1px #d0d2d9;
}
body .button-success-necktie:hover {
  background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%201%201%22%20preserveAspectRatio%3D%22none%22%3E%3ClinearGradient%20id%3D%22gradient%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%220%25%22%20y1%3D%220%25%22%20x2%3D%220%25%22%20y2%3D%22100%25%22%3E%3Cstop%20offset%3D%220%25%22%20stop-color%3D%22%234037f7%22%2F%3E%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22%2300a2e3%22%2F%3E%3C%2FlinearGradient%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22url(%23gradient)%22%20%2F%3E%3C%2Fsvg%3E');
}
body .button-success-delete:hover {
  background: #fa4a28 !important;
  border: 1px solid #ea2a05 !important;
}
body .button-success-line {
  border: 1px solid #515974;
  background: transparent;
  color: #515974;
}
body .button-success-line:hover {
  background: #515974;
  color: #fff;
}
body .button-success-disabled,
body .button-success:disabled {
  border: 1px solid #515974;
  background: transparent;
  color: #515974;
  padding: 9px 13.5px;
  opacity: 0.5;
  cursor: not-allowed;
}
body .button-success-disabled:hover,
body .button-success:disabled:hover {
  background: transparent;
  color: #515974;
}
body .button-success-grey-gradient {
  background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%201%201%22%20preserveAspectRatio%3D%22none%22%3E%3ClinearGradient%20id%3D%22gradient%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%220%25%22%20y1%3D%220%25%22%20x2%3D%220%25%22%20y2%3D%22100%25%22%3E%3Cstop%20offset%3D%220%25%22%20stop-color%3D%22%23ebeef3%22%2F%3E%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22%23cbd2df%22%2F%3E%3C%2FlinearGradient%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22url(%23gradient)%22%20%2F%3E%3C%2Fsvg%3E');
  border: none;
  color: #515974;
}
body .button-success-grey-gradient:hover {
  background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%201%201%22%20preserveAspectRatio%3D%22none%22%3E%3ClinearGradient%20id%3D%22gradient%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%220%25%22%20y1%3D%220%25%22%20x2%3D%220%25%22%20y2%3D%22100%25%22%3E%3Cstop%20offset%3D%220%25%22%20stop-color%3D%22%23cbd3e0%22%2F%3E%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22%23abb7cc%22%2F%3E%3C%2FlinearGradient%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22url(%23gradient)%22%20%2F%3E%3C%2Fsvg%3E');
  border: none;
}
body .button-success-grey-1 {
  background: #F7F8FC;
  color: #515974;
  border: none;
}
body .button-success-grey-1:hover {
  background: #d2d8ee;
  color: #515974;
  border: none;
}
body .button-success-grey-2 {
  background: #E4EAF6;
  color: #515974;
  border: none;
}
body .button-success-grey-2:hover {
  background: #becce9;
  color: #515974;
  border: none;
}
body .button-success-grey-3 {
  background: #E0E7F1;
  color: #515974;
  border: none;
}
body .button-success-grey-3:hover {
  background: #bdcce1;
  color: #515974;
  border: none;
}
body .button-success-grey-4 {
  background: #CFD2D9;
  color: #515974;
  border: none;
}
body .button-success-grey-4:hover {
  background: #b3b7c2;
  color: #515974;
  border: none;
}
body .button-success-orange-gradient {
  background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%201%201%22%20preserveAspectRatio%3D%22none%22%3E%3ClinearGradient%20id%3D%22gradient%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%220%25%22%20y1%3D%220%25%22%20x2%3D%220%25%22%20y2%3D%22100%25%22%3E%3Cstop%20offset%3D%220%25%22%20stop-color%3D%22%23ff7800%22%2F%3E%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22%23f9452d%22%2F%3E%3C%2FlinearGradient%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22url(%23gradient)%22%20%2F%3E%3C%2Fsvg%3E');
  border: none;
}
body .button-success-orange-gradient:hover {
  background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%201%201%22%20preserveAspectRatio%3D%22none%22%3E%3ClinearGradient%20id%3D%22gradient%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%220%25%22%20y1%3D%220%25%22%20x2%3D%220%25%22%20y2%3D%22100%25%22%3E%3Cstop%20offset%3D%220%25%22%20stop-color%3D%22%23cc6000%22%2F%3E%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22%23ec2207%22%2F%3E%3C%2FlinearGradient%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22url(%23gradient)%22%20%2F%3E%3C%2Fsvg%3E');
  border: none;
}
body .button-success-loading {
  background: #515974;
}
body .button-success-loading:after {
  content: "\F450";
  speak: none;
  min-width: 16px;
  display: inline-block;
  margin-left: 5px;
  font-family: "Material Design Icons";
  -webkit-animation: spin 3s linear infinite;
  -moz-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
body .button-success-loading:hover {
  background: #272b38;
}
body .button-success-success:after {
  content: '\F12C';
  font-family: "Material Design Icons";
  speak: none;
  min-width: 16px;
  display: inline-block;
  margin-left: 5px;
}
body .button-success-error:after {
  content: '\F02A';
  font-family: "Material Design Icons";
  speak: none;
  min-width: 16px;
  display: inline-block;
  margin-left: 5px;
}
body .button-success-ready.button-save:after {
  content: '\F193';
  font-family: "Material Design Icons";
  speak: none;
  min-width: 16px;
  display: inline-block;
  margin-left: 5px;
}
body .button-success-ready.button-remove:after {
  content: '\F1C0';
  font-family: "Material Design Icons";
  speak: none;
  min-width: 16px;
  display: inline-block;
  margin-left: 5px;
}
body .button-success:hover {
  border: none !important;
}
.bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: block;
  background-size: contain;
  height: 100%;
  background: #696969 url("../img/error.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-filter: brightness(30%);
  -moz-filter: brightness(30%);
  -ms-filter: brightness(30%);
  filter: brightness(30%);
  z-index: 1;
}
