/**************************************

    !!! This less file is only for error page. !!!
    (400, 404, 500, ...)
    php compile this less

    @ignore -> there will be new graphic

**************************************/
/**************************************

    Functions - mixins

**************************************/
.pointer {
  cursor: pointer;
}
.group-clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.object-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.select-clear {
  background: transparent;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none;
}
/**************************************

  Default buttons for forms and others

**************************************/
/**************************************
  SHAME
**************************************/
/** END SHAME */
/**************************************
  FONT (Noto)
**************************************/
/** End font */
/**************************************
  Global parameters
**************************************/
/* Basic Colors  */
/** Design palete Colors (primary, secondary, tertiary) **/
/*  Used for e.g. button  */
/** Gradients **/
/* used for login buttons */
/**************************************
  Global Element variables
**************************************/
/**************************************
  Administration layout
**************************************/
/**************************************
  Navbar parameters
**************************************/
/*  Logo  */
/**************************************
  Sidebar parameters
**************************************/
/**************************************
  Grid parameters
**************************************/
/**************************************
  Spacing
**************************************/
/**************************************
  RADIUS
**************************************/
/**************************************
  Widgets
**************************************/
a.button,
input.button,
button.button,
label.button {
  text-align: center;
  font-weight: 400;
  text-decoration: none;
  line-height: 1;
  margin: 5px;
  white-space: nowrap;
  cursor: pointer;
  transition: .3s;
  color: #fff;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 1.5px solid #fff;
  box-shadow: 0 0 0 1px #d0d2d9;
  font-size: 14px;
  padding: 9px 16px;
  min-width: 128px;
}
a.button-medium,
input.button-medium,
button.button-medium,
label.button-medium {
  padding: 8px 16px;
  min-width: 70px;
  font-size: 12px;
  width: auto;
}
a.button-small,
input.button-small,
button.button-small,
label.button-small {
  padding: 5px 16px;
  font-size: 13px;
  min-width: 35px;
  width: auto;
  margin-top: 0;
  margin-bottom: 0;
}
a.button-success,
input.button-success,
button.button-success,
label.button-success {
  background: #7FB93D;
  background-image: -moz-linear-gradient(top, #7FB93D 0%, #038d4a 100%);
  background-image: -webkit-gradient(left top, left bottom, color-stop(0%, #7FB93D), color-stop(100%, #038d4a));
  background-image: -webkit-linear-gradient(top, #7FB93D 0%, #038d4a 100%);
  background-image: -o-linear-image-gradient(top, #7FB93D 0%, #038d4a 100%);
  background-image: -ms-linear-gradient(top, #7FB93D 0%, #038d4a 100%);
  background-image: linear-gradient(to bottom, #7FB93D 0%, #038d4a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FB93D, endColorstr=#038d4a, GradientType=0);
  font-weight: 700;
}
a.button-success:hover,
input.button-success:hover,
button.button-success:hover,
label.button-success:hover {
  background: #659330;
  background-image: -moz-linear-gradient(top, #659330 0%, #025b30 100%);
  background-image: -webkit-gradient(left top, left bottom, color-stop(0%, #659330), color-stop(100%, #025b30));
  background-image: -webkit-linear-gradient(top, #659330 0%, #025b30 100%);
  background-image: -o-linear-image-gradient(top, #659330 0%, #025b30 100%);
  background-image: -ms-linear-gradient(top, #659330 0%, #025b30 100%);
  background-image: linear-gradient(to bottom, #659330 0%, #025b30 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#659330, endColorstr=#025b30, GradientType=0);
  border: 1.5px solid #fff;
}
a.button-primary,
input.button-primary,
button.button-primary,
label.button-primary {
  color: #fff;
  background: #515974;
}
a.button-primary:hover,
input.button-primary:hover,
button.button-primary:hover,
label.button-primary:hover {
  background: #3c4256;
  color: #fff;
  border: 1.5px solid #fff;
}
a.button-secondary,
input.button-secondary,
button.button-secondary,
label.button-secondary {
  background-color: #6F68F9;
}
a.button-secondary:hover,
input.button-secondary:hover,
button.button-secondary:hover,
label.button-secondary:hover {
  background-color: #4037f7;
  border: 1.5px solid #fff;
}
a.button-tertiary,
input.button-tertiary,
button.button-tertiary,
label.button-tertiary {
  background: #1ABB9C;
}
a.button-tertiary:hover,
input.button-tertiary:hover,
button.button-tertiary:hover,
label.button-tertiary:hover {
  background: #117864;
  border: 1.5px solid #fff;
}
a.button-danger,
input.button-danger,
button.button-danger,
label.button-danger,
a.button-delete,
input.button-delete,
button.button-delete,
label.button-delete {
  background-color: #c93236;
}
a.button-danger:hover,
input.button-danger:hover,
button.button-danger:hover,
label.button-danger:hover,
a.button-delete:hover,
input.button-delete:hover,
button.button-delete:hover,
label.button-delete:hover {
  background-color: #8c2326;
  border: 1.5px solid #fff;
}
a.button-necktie,
input.button-necktie,
button.button-necktie,
label.button-necktie {
  background-color: #6F68F9;
  background-image: -moz-linear-gradient(left top, #6F68F9 0%, #17BDFF 100%);
  background-image: -webkit-gradient(left top, right bottom, color-stop(0%, #6F68F9), color-stop(100%, #17BDFF));
  background-image: -webkit-linear-gradient(right bottom, #6F68F9 0%, #17BDFF 100%);
  background-image: -o-linear-gradient(left top, #6F68F9 0%, #17BDFF 100%);
  background-image: -ms-linear-gradient(left top, #6F68F9 0%, #17BDFF 100%);
  background-image: linear-gradient(to left top, #6F68F9 0%, #17BDFF 100%);
}
a.button-necktie:hover,
input.button-necktie:hover,
button.button-necktie:hover,
label.button-necktie:hover {
  background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%201%201%22%20preserveAspectRatio%3D%22none%22%3E%3ClinearGradient%20id%3D%22gradient%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%220%25%22%20y1%3D%220%25%22%20x2%3D%220%25%22%20y2%3D%22100%25%22%3E%3Cstop%20offset%3D%220%25%22%20stop-color%3D%22%234037f7%22%2F%3E%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22%2300a2e3%22%2F%3E%3C%2FlinearGradient%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22url(%23gradient)%22%20%2F%3E%3C%2Fsvg%3E');
}
a.button-line,
input.button-line,
button.button-line,
label.button-line {
  border: 1px solid #515974;
  background: transparent;
  color: #515974;
  box-shadow: none;
}
a.button-line:hover,
input.button-line:hover,
button.button-line:hover,
label.button-line:hover {
  background: #515974;
  color: #fff;
}
a.button-line-inverse,
input.button-line-inverse,
button.button-line-inverse,
label.button-line-inverse {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  box-shadow: none;
}
a.button-line-inverse:hover,
input.button-line-inverse:hover,
button.button-line-inverse:hover,
label.button-line-inverse:hover {
  background: #fff;
  color: #515974;
}
a.button-line-inverse:disabled,
input.button-line-inverse:disabled,
button.button-line-inverse:disabled,
label.button-line-inverse:disabled,
a.button-line-inverse.button-disabled,
input.button-line-inverse.button-disabled,
button.button-line-inverse.button-disabled,
label.button-line-inverse.button-disabled {
  border: 1px solid #fff;
  color: #fff;
}
a.button-line-inverse:disabled.button-error,
input.button-line-inverse:disabled.button-error,
button.button-line-inverse:disabled.button-error,
label.button-line-inverse:disabled.button-error,
a.button-line-inverse.button-disabled.button-error,
input.button-line-inverse.button-disabled.button-error,
button.button-line-inverse.button-disabled.button-error,
label.button-line-inverse.button-disabled.button-error {
  opacity: 0.5;
}
a.button-line-inverse:disabled:hover,
input.button-line-inverse:disabled:hover,
button.button-line-inverse:disabled:hover,
label.button-line-inverse:disabled:hover,
a.button-line-inverse.button-disabled:hover,
input.button-line-inverse.button-disabled:hover,
button.button-line-inverse.button-disabled:hover,
label.button-line-inverse.button-disabled:hover {
  opacity: 0.3;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
}
a.button-disabled,
input.button-disabled,
button.button-disabled,
label.button-disabled,
a.button:disabled,
input.button:disabled,
button.button:disabled,
label.button:disabled {
  box-shadow: none;
  background: transparent;
  background-color: transparent;
  color: #515974;
  border-color: #515974;
  opacity: 0.3;
  cursor: not-allowed;
  font-weight: 400;
}
a.button-disabled:hover,
input.button-disabled:hover,
button.button-disabled:hover,
label.button-disabled:hover,
a.button:disabled:hover,
input.button:disabled:hover,
button.button:disabled:hover,
label.button:disabled:hover {
  background: transparent;
  color: #515974;
  border-color: #515974;
}
a.button-social,
input.button-social,
button.button-social,
label.button-social {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0;
  font-size: 13px;
}
a.button-social i,
input.button-social i,
button.button-social i,
label.button-social i {
  float: left;
  font-size: 24px;
  padding: 5px 10px;
}
a.button-social div.text,
input.button-social div.text,
button.button-social div.text,
label.button-social div.text {
  float: left;
  display: block;
  padding: 10px 16px;
  margin: 0;
}
a.button-social.facebook,
input.button-social.facebook,
button.button-social.facebook,
label.button-social.facebook {
  background-color: #3B5998;
}
a.button-social.facebook:hover,
input.button-social.facebook:hover,
button.button-social.facebook:hover,
label.button-social.facebook:hover {
  background-color: #2d4373;
}
a.button-social.google,
input.button-social.google,
button.button-social.google,
label.button-social.google {
  background-color: #fff;
  color: #4285F4;
}
a.button-social.google:hover,
input.button-social.google:hover,
button.button-social.google:hover,
label.button-social.google:hover {
  background-color: #4285F4;
  color: #fff;
}
a.button.button-loading:disabled,
input.button.button-loading:disabled,
button.button.button-loading:disabled,
label.button.button-loading:disabled {
  opacity: 0.5;
}
a.button.button-loading:after,
input.button.button-loading:after,
button.button.button-loading:after,
label.button.button-loading:after {
  content: "\F450";
  font-family: "Material Design Icons";
  speak: none;
  min-width: 16px;
  display: inline-block;
  margin-left: 5px;
  -webkit-animation: spin 3s linear infinite;
  -moz-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
a.button.button-error,
input.button.button-error,
button.button.button-error,
label.button.button-error {
  color: #c93236;
  border-color: #c93236;
}
a.button.button-error:disabled,
input.button.button-error:disabled,
button.button.button-error:disabled,
label.button.button-error:disabled {
  opacity: 0.5;
}
a.button.button-error:after,
input.button.button-error:after,
button.button.button-error:after,
label.button.button-error:after {
  content: '\F02A';
  font-family: "Material Design Icons";
  speak: none;
  min-width: 16px;
  display: inline-block;
  margin-left: 5px;
}
a.button-save:after,
input.button-save:after,
button.button-save:after,
label.button-save:after {
  content: '\F193';
  font-family: "Material Design Icons";
  speak: none;
  min-width: 16px;
  display: inline-block;
  margin-left: 5px;
}
a.button-remove:after,
input.button-remove:after,
button.button-remove:after,
label.button-remove:after {
  content: '\F1C0';
  font-family: "Material Design Icons";
  speak: none;
  min-width: 16px;
  display: inline-block;
  margin-left: 5px;
}
body,
html {
  height: 100%;
  font-family: "Noto Sans", sans-serif;
}
body {
  position: relative;
  background: #696969;
  color: #fff;
}
body h1 {
  text-align: center;
  width: 100%;
  font-size: 90px;
  margin-bottom: 50px;
}
body .title {
  font-size: 50px;
  font-weight: 300;
  text-shadow: 1px 1px 1px #000000;
}
body .title span {
  font-weight: 300;
}
body .title i {
  color: #c30000;
}
body .message {
  text-shadow: 1px 1px 1px #000000;
}
body .content {
  position: absolute;
  left: 50%;
  top: 51%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  color: #fff;
  z-index: 3;
  text-align: center;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 300;
}
body .button-success {
  text-align: center;
  font-weight: 400;
  text-decoration: none;
  line-height: 1;
  margin: 5px;
  white-space: nowrap;
  cursor: pointer;
  transition: .3s;
  color: #fff;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 1.5px solid #fff;
  box-shadow: 0 0 0 1px #d0d2d9;
  font-size: 14px;
  padding: 9px 16px;
  min-width: 128px;
  display: inline-block;
  margin: 15px;
  border: none !important;
  box-shadow: 0 -3px 0 0 #457A1A inset;
}
body .button-success-medium {
  padding: 8px 16px;
  min-width: 70px;
  font-size: 12px;
  width: auto;
}
body .button-success-small {
  padding: 5px 16px;
  font-size: 13px;
  min-width: 35px;
  width: auto;
  margin-top: 0;
  margin-bottom: 0;
}
body .button-success-success {
  background: #7FB93D;
  background-image: -moz-linear-gradient(top, #7FB93D 0%, #038d4a 100%);
  background-image: -webkit-gradient(left top, left bottom, color-stop(0%, #7FB93D), color-stop(100%, #038d4a));
  background-image: -webkit-linear-gradient(top, #7FB93D 0%, #038d4a 100%);
  background-image: -o-linear-image-gradient(top, #7FB93D 0%, #038d4a 100%);
  background-image: -ms-linear-gradient(top, #7FB93D 0%, #038d4a 100%);
  background-image: linear-gradient(to bottom, #7FB93D 0%, #038d4a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FB93D, endColorstr=#038d4a, GradientType=0);
  font-weight: 700;
}
body .button-success-success:hover {
  background: #659330;
  background-image: -moz-linear-gradient(top, #659330 0%, #025b30 100%);
  background-image: -webkit-gradient(left top, left bottom, color-stop(0%, #659330), color-stop(100%, #025b30));
  background-image: -webkit-linear-gradient(top, #659330 0%, #025b30 100%);
  background-image: -o-linear-image-gradient(top, #659330 0%, #025b30 100%);
  background-image: -ms-linear-gradient(top, #659330 0%, #025b30 100%);
  background-image: linear-gradient(to bottom, #659330 0%, #025b30 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#659330, endColorstr=#025b30, GradientType=0);
  border: 1.5px solid #fff;
}
body .button-success-primary {
  color: #fff;
  background: #515974;
}
body .button-success-primary:hover {
  background: #3c4256;
  color: #fff;
  border: 1.5px solid #fff;
}
body .button-success-secondary {
  background-color: #6F68F9;
}
body .button-success-secondary:hover {
  background-color: #4037f7;
  border: 1.5px solid #fff;
}
body .button-success-tertiary {
  background: #1ABB9C;
}
body .button-success-tertiary:hover {
  background: #117864;
  border: 1.5px solid #fff;
}
body .button-success-danger,
body .button-success-delete {
  background-color: #c93236;
}
body .button-success-danger:hover,
body .button-success-delete:hover {
  background-color: #8c2326;
  border: 1.5px solid #fff;
}
body .button-success-necktie {
  background-color: #6F68F9;
  background-image: -moz-linear-gradient(left top, #6F68F9 0%, #17BDFF 100%);
  background-image: -webkit-gradient(left top, right bottom, color-stop(0%, #6F68F9), color-stop(100%, #17BDFF));
  background-image: -webkit-linear-gradient(right bottom, #6F68F9 0%, #17BDFF 100%);
  background-image: -o-linear-gradient(left top, #6F68F9 0%, #17BDFF 100%);
  background-image: -ms-linear-gradient(left top, #6F68F9 0%, #17BDFF 100%);
  background-image: linear-gradient(to left top, #6F68F9 0%, #17BDFF 100%);
}
body .button-success-necktie:hover {
  background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%201%201%22%20preserveAspectRatio%3D%22none%22%3E%3ClinearGradient%20id%3D%22gradient%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%220%25%22%20y1%3D%220%25%22%20x2%3D%220%25%22%20y2%3D%22100%25%22%3E%3Cstop%20offset%3D%220%25%22%20stop-color%3D%22%234037f7%22%2F%3E%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22%2300a2e3%22%2F%3E%3C%2FlinearGradient%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22url(%23gradient)%22%20%2F%3E%3C%2Fsvg%3E');
}
body .button-success-line {
  border: 1px solid #515974;
  background: transparent;
  color: #515974;
  box-shadow: none;
}
body .button-success-line:hover {
  background: #515974;
  color: #fff;
}
body .button-success-line-inverse {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  box-shadow: none;
}
body .button-success-line-inverse:hover {
  background: #fff;
  color: #515974;
}
body .button-success-line-inverse:disabled,
body .button-success-line-inverse.button-disabled {
  border: 1px solid #fff;
  color: #fff;
}
body .button-success-line-inverse:disabled.button-error,
body .button-success-line-inverse.button-disabled.button-error {
  opacity: 0.5;
}
body .button-success-line-inverse:disabled:hover,
body .button-success-line-inverse.button-disabled:hover {
  opacity: 0.3;
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
}
body .button-success-disabled,
body .button-success:disabled {
  box-shadow: none;
  background: transparent;
  background-color: transparent;
  color: #515974;
  border-color: #515974;
  opacity: 0.3;
  cursor: not-allowed;
  font-weight: 400;
}
body .button-success-disabled:hover,
body .button-success:disabled:hover {
  background: transparent;
  color: #515974;
  border-color: #515974;
}
body .button-success-social {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0;
  font-size: 13px;
}
body .button-success-social i {
  float: left;
  font-size: 24px;
  padding: 5px 10px;
}
body .button-success-social div.text {
  float: left;
  display: block;
  padding: 10px 16px;
  margin: 0;
}
body .button-success-social.facebook {
  background-color: #3B5998;
}
body .button-success-social.facebook:hover {
  background-color: #2d4373;
}
body .button-success-social.google {
  background-color: #fff;
  color: #4285F4;
}
body .button-success-social.google:hover {
  background-color: #4285F4;
  color: #fff;
}
body .button-success.button-loading:disabled {
  opacity: 0.5;
}
body .button-success.button-loading:after {
  content: "\F450";
  font-family: "Material Design Icons";
  speak: none;
  min-width: 16px;
  display: inline-block;
  margin-left: 5px;
  -webkit-animation: spin 3s linear infinite;
  -moz-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
body .button-success.button-error {
  color: #c93236;
  border-color: #c93236;
}
body .button-success.button-error:disabled {
  opacity: 0.5;
}
body .button-success.button-error:after {
  content: '\F02A';
  font-family: "Material Design Icons";
  speak: none;
  min-width: 16px;
  display: inline-block;
  margin-left: 5px;
}
body .button-success-save:after {
  content: '\F193';
  font-family: "Material Design Icons";
  speak: none;
  min-width: 16px;
  display: inline-block;
  margin-left: 5px;
}
body .button-success-remove:after {
  content: '\F1C0';
  font-family: "Material Design Icons";
  speak: none;
  min-width: 16px;
  display: inline-block;
  margin-left: 5px;
}
body .button-success:hover {
  border: none !important;
}
.bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: block;
  background-size: contain;
  height: 100%;
  background: #696969 url("../img/error.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-filter: brightness(30%);
  -moz-filter: brightness(30%);
  -ms-filter: brightness(30%);
  filter: brightness(30%);
  z-index: 1;
}
