@import "../less/variables";

@color-primary:   #1abb9c;
@color-secondary: #2a3f54;
@color-tertiary:  #a8e3d7;

@sidebar-back-color: #2a3f54;

@li-active-bc: #334d65;

@import "../less/admin";


.navbar{
  box-shadow: none;
}

.navbar-container{
  border-bottom: 1px solid #e6e9ed;
}


.head-content, .box{
  box-shadow: none;
  border: 1px #e6e9ed solid;
}

.sidebar{

  li.active{

    i{
      color: #fff;
    }
    a{
      background: #334d65;
      color: #fff;
    }
  }

}