{% spaceless %}
<!DOCTYPE html>
<html>
<head>

    {% block head %}
        <meta charset="UTF-8" />
        <title>{% block title %}Trinity Administration{% endblock %}</title>
        <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
        <link media="none" onload="if(media !== 'all')media='all'" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,500,500italic,700&subset=latin,latin-ext" rel='stylesheet' type='text/css'>
    {% endblock %}

    {% block header_javascript %}
        {% block jquery %}
        {% endblock %}

        {% block headerJavascripts %}
        {% endblock %}

        {% block highcharts %}
        {% endblock %}
    {% endblock %}


    {% block header_stylesheets %}

        {% block stylesheets_packages %}
        {% endblock %}

        {% block bowtie %}
            {% stylesheets
                '@TrinityAdminBundle/Resources/Public/bowtie/bowtie.css'
                '@TrinityAdminBundle/Resources/Public/css/admin.css'
            %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
            {% endstylesheets %}

            {% stylesheets
                '@TrinityAdminBundle/Resources/Public/bowtie/bowtie.css'
                '@TrinityAdminBundle/Resources/Public/css/trinity-font.css'
            %}
                <link media="none" onload="if(media !== 'all')media='all'" rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}

        {% block admin %}
        {% endblock %}

        {% block stylesheets %}
        {% endblock %}

    {% endblock %}
</head>


<body class="trinity-admin navbar-fixed">

{% block navbar %}

{% endblock %}

{% block flashMessages %}
    {% set flashMessages = [] %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            {% set flashMessages = flashMessages|merge([type, message]) %}
        {% endfor %}
    {% endfor %}
    <div id="flash-message-container" data-messages="{{ flashMessages|json_encode }}">
        <div id="flash-message-template" class="display-none">
            {% if messageTemplate is defined %}
                {% include messageTemplate %}
            {% else %}
                {# Default flash message template #}
                <input id="close-{id}" type="radio" class="checkbox-none">
                <div class="alert alert-{type}">
                    <div class="container">
                        <div class="row">
                            <div class="span-none-padding-mini-24">
                                <label for="close-{id}" class="alert-label">
                                    <i class="tiecons tiecons-cross-light alert-close-icon button close-button"></i>
                                </label>
                                <div class="row">
                                    <div class="show-alert">
                                        <div class  ="span-none-padding-mini-7">
                                            <i class="trinity alert-icon"></i>
                                        </div>
                                        <div class="span-none-padding-mini-17">
                                            <p>
                                                {message}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block element_sidebar %}
    <div id="sidebar">
        {% block sidebar %}
        {% endblock %}
    </div>
{% endblock %}

<div class="container-fluid container-with-sidebar">
    <div class="row">
        <div class="head-content">
            <div class="row">

                <div class="head-title">
                    <h2 class="content-header">{% block pageTitle %} Dashboard {% endblock %}</h2>
                    <div class="breadcrumbs">
                        {{ wo_render_breadcrumbs() }}
                    </div>
                </div>

                <div class="navigation-box row">
                    {% block pageAction %} {% endblock %}
                </div>

                {% block page_loading %}
                    <div class="header-loader" data-ng-scope="header-loader">
                        <div class="load-bar">
                            <div class="bar"></div>
                            <div class="bar"></div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span-large-24">
            {% block pageBody %}
            {% endblock %}
        </div>
    </div>

    {% block trinity_admin_script_footer %}
        {% block javascripts %}
        {% endblock %}
    {% endblock %}

</div>
</body>
</html>

{% endspaceless %}
